Repository remix-run/remix, pull requests merged in 2022-10, with the labels that each got.

#4323 fix: preload manifest
  packages/remix-react/components.tsx
Labels: CLA Signed

#4060 feat(templates): bring React 18 templates in line with `indie-stack` updates
  templates/arc/app/entry.client.tsx
  templates/arc/app/entry.server.tsx
  templates/express/app/entry.client.tsx
  templates/express/app/entry.server.tsx
  templates/express/package.json
  templates/fly/app/entry.client.tsx
  templates/fly/app/entry.server.tsx
  templates/fly/package.json
  templates/netlify/app/entry.client.tsx
  templates/netlify/app/entry.server.tsx
  templates/remix/app/entry.client.tsx
  templates/remix/app/entry.server.tsx
  templates/remix/package.json
  templates/vercel/app/entry.client.tsx
  templates/vercel/app/entry.server.tsx
Labels: CLA Signed, template:express, template:architect, template:vercel, template:fly, template:netlify, template:remix

#4159 feat(create-remix): Add proxy support in create cli
  .changeset/many-gorillas-mix.md
  contributors.yml
  packages/remix-dev/__tests__/create-test.ts
  packages/remix-dev/cli/create.ts
  packages/remix-dev/package.json
  yarn.lock
Labels: CLA Signed, package:create-remix

#4061 feat(integration): bring React 18 fixtures in line with `indie-stack` updates
  integration/helpers/node-template/app/entry.client.tsx
  integration/helpers/node-template/app/entry.server.tsx
  integration/helpers/node-template/package.json
  package.json
  yarn.lock
Labels: CLA Signed

#4329 fix(create-remix): Allow private GitHub repos to use the latest release url for tarballs
  .changeset/tame-hotels-attack.md
  contributors.yml
  docs/other-api/dev.md
  packages/remix-dev/__tests__/create-test.ts
  packages/remix-dev/cli/create.ts
Labels: CLA Signed

#4152 docs: Decision doc for Remix on top of Remix Router/RR 6.4
  decisions/0007-remix-on-react-router-6-4-0.md
Labels: CLA Signed, documentation

#4053 fix(remix-react): fix `<Form>` submit to not break `formMethod` functionality
  .changeset/lovely-cats-jump.md
  contributors.yml
  integration/form-test.ts
  packages/remix-react/components.tsx
Labels: CLA Signed, feat:forms, package:react

#4130 feat(remix-dev/compiler): add CSS plugin to `esbuild`
  .changeset/large-colts-drop.md
  contributors.yml
  integration/compiler-test.ts
  packages/remix-dev/compiler.ts
  packages/remix-dev/compiler/plugins/cssFilePlugin.ts
Labels: CLA Signed, package:dev

#4302 chore(templates): convert all `.eslintrc` files to JS
  packages/remix-server-runtime/__tests__/.eslintrc
  packages/remix-server-runtime/__tests__/.eslintrc.js
  templates/arc/.eslintrc
  templates/arc/.eslintrc.js
  templates/cloudflare-pages/.eslintrc
  templates/cloudflare-pages/.eslintrc.js
  templates/cloudflare-workers/.eslintrc
  templates/cloudflare-workers/.eslintrc.js
  templates/express/.eslintrc
  templates/express/.eslintrc.js
  templates/fly/.eslintrc
  templates/fly/.eslintrc.js
  templates/netlify/.eslintrc
  templates/netlify/.eslintrc.js
  templates/remix/.eslintrc
  templates/remix/.eslintrc.js
  templates/vercel/.eslintrc
  templates/vercel/.eslintrc.js
Labels: CLA Signed, template:express, template:architect, template:vercel, template:cloudflare-pages, template:cloudflare-workers, template:fly, template:netlify, template:remix

#3599 chore(remix-dev): mute spurious warnings when using Yarn
  packages/remix-dev/compiler/plugins/serverBareModulesPlugin.ts
Labels: CLA Signed, package:dev

#4359 feat(remix-server-runtime): RRR 1.2 - handleDataRequest
  .changeset/five-mayflies-train.md
  .changeset/stale-ravens-wink.md
  integration/abort-signal-test.ts
  integration/catch-boundary-test.ts
  integration/deterministic-build-output-test.ts
  integration/form-test.ts
  integration/helpers/create-fixture.ts
  integration/redirects-test.ts
  integration/transition-test.ts
  packages/remix-node/package.json
  packages/remix-server-runtime/__tests__/formData-test.ts
  packages/remix-server-runtime/__tests__/server-test.ts
  packages/remix-server-runtime/router/router.ts
  packages/remix-server-runtime/router/utils.ts
  packages/remix-server-runtime/routes.ts
  packages/remix-server-runtime/server.ts
  yarn.lock
Labels: CLA Signed, package:server-runtime, runtime:node

#4381 chore: make tests more reliable
  integration/catch-boundary-data-test.ts
  integration/catch-boundary-test.ts
  integration/redirects-test.ts
  integration/set-cookie-revalidation-test.ts
  integration/transition-test.ts
Labels: CLA Signed

#4382 ci: run integration tests on appropriate platforms
  .github/workflows/reusable-test.yml
  integration/abort-signal-test.ts
  integration/action-test.ts
  integration/helpers/cleanup.mjs
  integration/playwright.config.ts
  package.json
Labels: CLA Signed

#4378 fix(remix-react): update server-side check to use window.document instead of AbortController
  packages/remix-react/transition.ts
Labels: CLA Signed, package:react

#4376 fix: Ignore pathless layout routes when matching actions
  .changeset/stupid-games-build.md
  integration/form-test.ts
  packages/remix-react/transition.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed

#4391 chore: ensure AbortController installed globally
  packages/remix-node/globals.ts
Labels: CLA Signed

#4284 fix(remix-eslint-config): update `internal` ESLint config
  .eslintrc.js
  packages/remix-eslint-config/internal.js
  packages/remix-eslint-config/package.json
Labels: CLA Signed, package:eslint-config

#4392 feat(remix-react): add `typeof action` inference to `useFetcher`
  .changeset/witty-kiwis-flow.md
  contributors.yml
  packages/remix-react/components.tsx
Labels: CLA Signed, feat:typescript, package:react

#4355 fix: avoid collisions on pathless routes with indices
  .changeset/stale-spoons-tie.md
  integration/conventional-routes-test.ts
  packages/remix-dev/config/routesConvention.ts
Labels: CLA Signed

#3875 docs: add decision doc for remix router + react router 6.4
  decisions/0005-remixing-react-router.md
Labels: CLA Signed, documentation

#4151 docs: add linear workflow decision doc
  decisions/0006-linear-workflow.md
Labels: CLA Signed, documentation

#4287 fix(templates/deno): fix type re-export from `@remix-run/server-runtime`
  contributors.yml
  templates/deno/.vscode/resolve_npm_imports.json
Labels: CLA Signed, template:deno

#4365 test: expand test coverage around forms
  integration/form-test.ts
  integration/helpers/playwright-fixture.ts
Labels: CLA Signed, feat:forms

#4445 Fix attributes for namespaced Open Graph and Facebook meta tags
  .changeset/khaki-hornets-destroy.md
  integration/meta-test.ts
  packages/remix-react/components.tsx
Labels: CLA Signed

#4410 refactor(dev): simplify compiler
  packages/remix-dev/__tests__/build-test.ts
  packages/remix-dev/__tests__/cli-test.ts
  packages/remix-dev/__tests__/routesConvention-test.ts
  packages/remix-dev/build.ts
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/compiler.ts
  packages/remix-dev/compiler/assets.ts
  packages/remix-dev/compiler/build.ts
  packages/remix-dev/compiler/compileBrowser.ts
  packages/remix-dev/compiler/compilerServer.ts
  packages/remix-dev/compiler/index.ts
  packages/remix-dev/compiler/onCompileFailure.ts
  packages/remix-dev/compiler/options.ts
  packages/remix-dev/compiler/plugins/browserRouteModulesPlugin.ts
  packages/remix-dev/compiler/plugins/cssFilePlugin.ts
  packages/remix-dev/compiler/plugins/serverAssetsManifestPlugin.ts
  packages/remix-dev/compiler/remixCompiler.ts
  packages/remix-dev/compiler/routeExports.ts
  packages/remix-dev/compiler/utils/channel.ts
  packages/remix-dev/compiler/watch.ts
Labels: CLA Signed, package:dev

#3639 chore(remix-dev): fix flaky tests, make CLI more testable
  packages/remix-dev/__tests__/migrations/convert-to-javascript-test.ts
  packages/remix-dev/__tests__/replace-remix-imports-test.ts
  packages/remix-dev/cli.ts
  packages/remix-dev/cli/error.ts
  packages/remix-dev/cli/migrate/jscodeshift.ts
  packages/remix-dev/cli/migrate/migrations/convert-to-javascript/index.ts
  packages/remix-dev/cli/migrate/migrations/replace-remix-imports/index.ts
  packages/remix-dev/cli/migrate/migrations/replace-remix-imports/resolveTransformOptions.ts
  packages/remix-dev/index.ts
Labels: CLA Signed, needs-response, package:dev

#1723 fix(remix-react): add event type to `useBeforeUnload`
  packages/remix-react/components.tsx
Labels: CLA Signed, needs-response, feat:typescript, package:react

#4446 tests(integration): replace `rimraf` in cleanup
  integration/helpers/cleanup.mjs
Labels: CLA Signed
