Repository remix-run/remix, pull requests merged in 2022-08, with the labels that each got.

#1876 types(remix-server-runtime): make `AppLoadContext` an empty interface instead of `any`
  .changeset/great-pumas-act.md
  contributors.yml
  packages/remix-netlify/server.ts
  packages/remix-server-runtime/data.ts
  packages/remix-server-runtime/routeModules.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed, feat:typescript, package:server-runtime

#3916 chore: update tsconfigs to exclude node_modules and skip lib checks
  packages/create-remix/tsconfig.json
  packages/remix-architect/tsconfig.json
  packages/remix-cloudflare-pages/tsconfig.json
  packages/remix-cloudflare-workers/tsconfig.json
  packages/remix-cloudflare/tsconfig.json
  packages/remix-dev/tsconfig.json
  packages/remix-express/tsconfig.json
  packages/remix-netlify/tsconfig.json
  packages/remix-node/tsconfig.json
  packages/remix-react/tsconfig.json
  packages/remix-serve/tsconfig.json
  packages/remix-server-runtime/tsconfig.json
  packages/remix-vercel/tsconfig.json
  packages/remix/tsconfig.json
Labels: CLA Signed

#3917 chore: upgrade core packages to react-18
  .changeset/nasty-cars-care.md
  examples/blog-tutorial/package.json
  integration/helpers/node-template/app/entry.client.tsx
  integration/helpers/node-template/app/entry.server.tsx
  package.json
  packages/remix-dev/__tests__/fixtures/replace-remix-imports/package.json
  packages/remix-dev/__tests__/migrations/fixtures/indie-stack/package.json
  packages/remix-eslint-config/package.json
  packages/remix-express/tsconfig.json
  packages/remix-react/__tests__/setup.ts
  packages/remix-react/components.tsx
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  scripts/playground/template/package.json
  yarn.lock
Labels: CLA Signed

#3190 feat(remix-dev): import `.sql` files as text
  .changeset/four-ladybugs-wait.md
  packages/remix-dev/compiler/loaders.ts
Labels: CLA Signed, package:dev

#3675 feat(remix-dev): add suppport for `.mjs` and `.cjs` configs
  .changeset/afraid-peaches-accept.md
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev

#3874 chore(remix-dev/cli): fix broken stacks link
  packages/remix-dev/cli/run.ts
Labels: CLA Signed, package:dev

#3924 chore(examples/blog-tutorial): revert update of `@testing-library/react` dependency
  examples/blog-tutorial/package.json
Labels: CLA Signed, examples

#3516 chore(templates/deno): update types config
  templates/deno/.vscode/settings.json
  templates/deno/deno.json
Labels: CLA Signed, template:deno

#3933 ci: run nightly releases against all supported node versions
  .github/workflows/release-test.yml
Labels: CLA Signed

#3915 test: windows testing updates
  .github/workflows/reusable-test.yml
  .github/workflows/stacks.yml
  integration/playwright.config.ts
  integration/upload-test.ts
  packages/remix-dev/__tests__/cli-test.ts
  packages/remix-dev/__tests__/migrations/convert-to-javascript-test.ts
  packages/remix-dev/__tests__/replace-remix-imports-test.ts
  packages/remix-dev/__tests__/setupAfterEnv.ts
Labels: CLA Signed

#3939 docs(tutorials/blog): fix links to MDN
  contributors.yml
  docs/tutorials/blog.md
Labels: CLA Signed, documentation

#3944 docs(api/remix): fix typo
  contributors.yml
  docs/api/remix.md
Labels: CLA Signed, documentation

#3957 docs(examples/client-side-validation): fix file path
  contributors.yml
  examples/client-side-validation/README.md
Labels: CLA Signed, examples

#3964 chore(remix-react): add `subscribe` method to `transitionManager`
  .changeset/slow-apples-pretend.md
  packages/remix-react/__tests__/transition-test.tsx
  packages/remix-react/components.tsx
  packages/remix-react/transition.ts
Labels: CLA Signed, package:react

#3966 fix(remix-dev): make MDX builds deterministic
  .changeset/purple-ligers-drive.md
  integration/deterministic-build-output-test.ts
  packages/remix-dev/compiler/plugins/mdx.ts
Labels: CLA Signed, package:dev

#3929 tests(remix-dev): update to React v18
  integration/helpers/node-template/app/entry.client.tsx
  integration/helpers/node-template/app/entry.server.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-imports/app/entry.client.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-imports/app/entry.server.tsx
  packages/remix-dev/__tests__/migrations/fixtures/indie-stack/app/entry.client.tsx
  packages/remix-dev/__tests__/migrations/fixtures/indie-stack/app/entry.server.tsx
Labels: CLA Signed, package:dev

#3902 docs: add remix watch example to cli
  contributors.yml
  packages/remix-dev/cli/run.ts
Labels: CLA Signed, documentation

#3930 feat(templates): update to React v18
  templates/arc/app/entry.client.tsx
  templates/arc/app/entry.server.tsx
  templates/arc/package.json
  templates/express/app/entry.client.tsx
  templates/express/app/entry.server.tsx
  templates/express/package.json
  templates/fly/app/entry.client.tsx
  templates/fly/app/entry.server.tsx
  templates/fly/package.json
  templates/netlify/app/entry.client.tsx
  templates/netlify/app/entry.server.tsx
  templates/netlify/package.json
  templates/remix/app/entry.client.tsx
  templates/remix/app/entry.server.tsx
  templates/remix/package.json
  templates/vercel/app/entry.client.tsx
  templates/vercel/app/entry.server.tsx
  templates/vercel/package.json
Labels: CLA Signed, template:express, template:architect, template:vercel, template:fly, template:netlify, template:remix

#3967 tests: fix failing tests
  packages/remix-dev/__tests__/cli-test.ts
  packages/remix-dev/cli/run.ts
Labels: CLA Signed, package:dev

#3611 fix(remix-react): prevent form data loss by appending submitter's value in `useSubmit` (`<Form>`)
  contributors.yml
  integration/form-test.ts
  integration/hook-useSubmit-test.ts
  packages/remix-react/components.tsx
Labels: CLA Signed, package:react

#3697 fix(remix-react): Preserve search string in form action when `action` prop is omitted
  .changeset/curvy-drinks-flash.md
  contributors.yml
  integration/form-test.ts
  packages/remix-react/components.tsx
Labels: CLA Signed, package:react

#3963 fix(remix-dev): convert config file path to file url
  .changeset/stale-worms-laugh.md
  packages/remix-dev/cli/checkGitStatus.ts
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev

#3943 test: windows testing updates
  .github/workflows/reusable-test.yml
  .github/workflows/stacks.yml
  integration/playwright.config.ts
  integration/upload-test.ts
  packages/remix-dev/__tests__/cli-test.ts
  packages/remix-dev/__tests__/migrations/convert-to-javascript-test.ts
  packages/remix-dev/__tests__/replace-remix-imports-test.ts
  packages/remix-dev/__tests__/setupAfterEnv.ts
Labels: CLA Signed

#3953 fix(remix-react): switch `name` & `content` position in `meta` tags
  contributors.yml
  packages/remix-react/components.tsx
Labels: CLA Signed, feat:dx, package:react

#3949 chore(examples/theme-ui): fix styling
  contributors.yml
  examples/theme-ui/app/entry.client.tsx
  examples/theme-ui/app/root.tsx
  examples/theme-ui/app/routes/index.tsx
  examples/theme-ui/app/routes/jokes.tsx
Labels: CLA Signed, examples

#3918 feat(remix-react): unblock hydration via async module scripts
  .changeset/wild-meals-beg.md
  packages/remix-react/components.tsx
Labels: CLA Signed, package:react

#3889 perf(remix-server-runtime): use faster alternative to `jsesc`
  .changeset/four-numbers-end.md
  contributors.yml
  packages/remix-dev/package.json
  packages/remix-server-runtime/__tests__/markup-test.ts
  packages/remix-server-runtime/markup.ts
  packages/remix-server-runtime/package.json
  packages/remix-server-runtime/serverHandoff.ts
  yarn.lock
Labels: CLA Signed, package:server-runtime

#3923 feat(remix-dev): import `.gql` & `.graphql` files as text
  .changeset/four-poets-stare.md
  packages/remix-dev/compiler/loaders.ts
  packages/remix-dev/modules.ts
Labels: CLA Signed, package:dev

#3783 feat(remix-dev): allow importing `.avif` files
  packages/remix-architect/binaryTypes.ts
  packages/remix-dev/compiler/loaders.ts
  packages/remix-dev/modules.ts
  packages/remix-netlify/binaryTypes.ts
Labels: CLA Signed, adapter:architect, adapter:netlify, package:dev

#3987 fix(remix-dev/cli/migrate): fix `convert-to-javascript` migration
  packages/remix-dev/__tests__/migrations/convert-to-javascript-test.ts
  packages/remix-dev/cli/migrate/migrations/convert-to-javascript/transform/createExportExpressionStatementFromExportDefaultDeclaration.ts
  packages/remix-dev/cli/migrate/migrations/convert-to-javascript/transform/createExportExpressionStatementFromExportNamedDeclaration.ts
  packages/remix-dev/cli/migrate/migrations/convert-to-javascript/transform/createImportExpressionStatement.ts
  packages/remix-dev/cli/migrate/migrations/convert-to-javascript/transform/createVariableDeclarationIdentifier.ts
  packages/remix-dev/cli/migrate/migrations/convert-to-javascript/transform/createVariableDeclarationObjectPattern.ts
  packages/remix-dev/cli/migrate/migrations/convert-to-javascript/transform/index.ts
Labels: CLA Signed, package:dev

#3985 feat(remix-dev): allow importing `.zip` files
  .changeset/green-crabs-join.md
  contributors.yml
  packages/remix-dev/compiler/loaders.ts
  packages/remix-dev/modules.ts
Labels: CLA Signed, package:dev

#3984 examples: update turborepo example
  examples/turborepo-vercel/.gitignore
  examples/turborepo-vercel/README.md
  examples/turborepo-vercel/apps/remix-app/.gitignore
  examples/turborepo-vercel/apps/remix-app/api/api.js
  examples/turborepo-vercel/apps/remix-app/package.json
  examples/turborepo-vercel/apps/remix-app/remix.config.js
  examples/turborepo-vercel/apps/remix-app/rollup.config.js
  examples/turborepo-vercel/apps/remix-app/server.js
  examples/turborepo-vercel/apps/remix-app/vercel.json
  examples/turborepo-vercel/package.json
  examples/turborepo-vercel/packages/ui/package.json
  examples/turborepo-vercel/turbo.json
  examples/turborepo-vercel/vercel-project-config-example.jpg
  examples/turborepo-vercel/vercel-project-config-example.png
Labels: CLA Signed, examples

#3999 examples(turborepo): add name and version to workspace projects
  examples/turborepo-vercel/apps/remix-app/package.json
  examples/turborepo-vercel/packages/ui/package.json
Labels: CLA Signed

#4003 Use fetched item count for simple examples
  contributors.yml
  examples/infinite-scrolling/app/routes/offset/simple.tsx
  examples/infinite-scrolling/app/routes/page/simple.tsx
Labels: CLA Signed

#3980 ci: use graphql api for tags
  .github/workflows/nightly.yml
  .github/workflows/postrelease.yml
  .github/workflows/release-comments.yml
  scripts/release/constants.ts
  scripts/release/github.ts
  scripts/release/package-lock.json
Labels: CLA Signed

#3113 fix(remix-node): don't delete entire session directory when destroying empty session file
  packages/remix-node/__tests__/sessions-test.ts
  packages/remix-node/sessions/fileStorage.ts
Labels: CLA Signed, runtime:node

#4010 Revert "fix(remix-dev/cli/migrate): fix `convert-to-javascript` migration"
  packages/remix-dev/__tests__/migrations/convert-to-javascript-test.ts
  packages/remix-dev/cli/migrate/migrations/convert-to-javascript/transform/createExportExpressionStatementFromExportDefaultDeclaration.ts
  packages/remix-dev/cli/migrate/migrations/convert-to-javascript/transform/createExportExpressionStatementFromExportNamedDeclaration.ts
  packages/remix-dev/cli/migrate/migrations/convert-to-javascript/transform/createExpressionStatement.ts
  packages/remix-dev/cli/migrate/migrations/convert-to-javascript/transform/createVariableDeclarationIdentifier.ts
  packages/remix-dev/cli/migrate/migrations/convert-to-javascript/transform/createVariableDeclarationObjectPattern.ts
  packages/remix-dev/cli/migrate/migrations/convert-to-javascript/transform/index.ts
Labels: CLA Signed

#3989 types(remix-server-runtime): make `context` mandatory in `DataFunctionArgs`
  .changeset/thirty-pots-lay.md
  contributors.yml
  packages/remix-server-runtime/data.ts
  packages/remix-server-runtime/routeModules.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed, feat:typescript, package:server-runtime

#4001 fix(rollup): use `copySync` instead of async `copy`
  contributors.yml
  rollup.utils.js
Labels: CLA Signed

#4000 fix: avoid duplicating index param on submissions
  integration/form-test.ts
  packages/remix-react/components.tsx
Labels: CLA Signed

#4006 docs(examples/framer-route-animation): fix react router links in README
  examples/framer-route-animation/README.md
Labels: CLA Signed, examples

#4018 ci(deployments): update netlify deploy command
  scripts/deployment-test/netlify.mjs
Labels: CLA Signed

#4019 ci(deployments): fix destroying s3 buckets
  scripts/deployment-test/arc.mjs
Labels: CLA Signed

#4013 feat(@remix-run/cloudflare,@remix-run/deno,@remix-run/node): `SerializeFrom` utility for loader and action type inference
  .changeset/neat-beds-unite.md
  packages/remix-cloudflare/index.ts
  packages/remix-deno/index.ts
  packages/remix-node/index.ts
  packages/remix-react/__tests__/hook-types-test.tsx
  packages/remix-react/components.tsx
  packages/remix-react/package.json
  packages/remix-server-runtime/index.ts
  packages/remix-server-runtime/interface.ts
  packages/remix-server-runtime/reexport.ts
  packages/remix-server-runtime/serialize.ts
Labels: CLA Signed

#4022 feat: `MetaFunction` type infers `data` and `parentsData` types from loaders
  .changeset/stupid-houses-sing.md
  docs/api/conventions.md
  packages/remix-server-runtime/routeModules.ts
Labels: CLA Signed

#4029 chore(templates): fix ESLint errors
  .eslintrc.js
  templates/.eslintrc.js
  templates/cloudflare-pages/app/entry.server.tsx
  templates/cloudflare-workers/app/entry.server.tsx
  templates/express/app/entry.server.tsx
  templates/express/server.js
  templates/fly/app/entry.server.tsx
  templates/netlify/server.js
  templates/remix/app/entry.server.tsx
Labels: CLA Signed, template:express, template:cloudflare-pages, template:cloudflare-workers, template:fly, template:netlify, template:remix

#4049 test: enable webkit testing for playwright
  .github/workflows/release-test.yml
  .github/workflows/reusable-test.yml
  .github/workflows/test.yml
  integration/form-test.ts
  integration/playwright.config.ts
Labels: CLA Signed

#3860 chore(deps): bump esbuild to latest, remove shim
  .changeset/gold-mice-pretend.md
  packages/remix-dev/compiler.ts
  packages/remix-dev/compiler/shims/react.ts
  packages/remix-dev/package.json
  yarn.lock
Labels: CLA Signed, package:dev

#4058 refactor(examples/firebase-auth-firestore): rename to `firebase`
  examples/firebase/.env.example
  examples/firebase/.eslintrc.js
  examples/firebase/.gitignore
  examples/firebase/README.md
  examples/firebase/app/entry.client.tsx
  examples/firebase/app/entry.server.tsx
  examples/firebase/app/firebase-rest.ts
  examples/firebase/app/root.tsx
  examples/firebase/app/routes/index.tsx
  examples/firebase/app/routes/join.tsx
  examples/firebase/app/routes/login.tsx
  examples/firebase/app/routes/logout.tsx
  examples/firebase/app/server/auth.server.ts
  examples/firebase/app/server/db.server.ts
  examples/firebase/app/server/firebase.server.ts
  examples/firebase/app/sessions.ts
  examples/firebase/firebase-fixtures/auth/accounts.json
  examples/firebase/firebase-fixtures/auth/config.json
  examples/firebase/firebase-fixtures/firebase-export-metadata.json
  examples/firebase/firebase-fixtures/firestore.rules
  examples/firebase/firebase.json
  examples/firebase/package.json
  examples/firebase/public/favicon.ico
  examples/firebase/remix.config.js
  examples/firebase/remix.env.d.ts
  examples/firebase/sandbox.config.json
  examples/firebase/screen_recording.gif
  examples/firebase/tsconfig.json
Labels: CLA Signed, examples

#4050 feat(templates/cloudflare-pages): add `_routes.json`
  contributors.yml
  templates/cloudflare-pages/package.json
  templates/cloudflare-pages/public/_routes.json
Labels: CLA Signed, template:cloudflare-pages

#4063 ci: use graphql api for tags
  .github/workflows/nightly.yml
  .github/workflows/postrelease.yml
  .github/workflows/release-comments.yml
  scripts/release/constants.ts
  scripts/release/github.ts
  scripts/release/package-lock.json
  scripts/release/utils.ts
Labels: CLA Signed

#2457 fix(templates/cloudflare-pages,cloudflare-workers): update required `node` version
  templates/cloudflare-pages/.node-version
  templates/cloudflare-pages/package.json
  templates/cloudflare-workers/package.json
Labels: CLA Signed, template:cloudflare-pages, template:cloudflare-workers

#3851 docs: First pass at defer API design doc
  decisions/0003-streaming-apis.md
Labels: CLA Signed, documentation

#4069 docs: Rename streaming ADR 0003 -> 0004
  decisions/0004-streaming-apis.md
Labels: CLA Signed

#4070 chore(decisions): fix ESLint error
  decisions/0004-streaming-apis.md
Labels: CLA Signed, documentation

#3936 feat(remix-dev): add `tsconfigPath` config option to RemixConfig
  contributors.yml
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/compiler.ts
  packages/remix-dev/compiler/plugins/mdx.ts
  packages/remix-dev/compiler/plugins/serverBareModulesPlugin.ts
  packages/remix-dev/compiler/utils/tsconfig/index.ts
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev

#4030 fix(remix-dev/cli/migrate): process default exports in `convert-to-javascript` migration
  .changeset/red-apples-stew.md
  packages/remix-dev/__tests__/migrations/convert-to-javascript-test.ts
  packages/remix-dev/cli/migrate/migrations/convert-to-javascript/transform/createExportExpressionStatementFromExportDefaultDeclaration.ts
  packages/remix-dev/cli/migrate/migrations/convert-to-javascript/transform/createImportExpressionStatement.ts
  packages/remix-dev/cli/migrate/migrations/convert-to-javascript/transform/createVariableDeclarationIdentifier.ts
  packages/remix-dev/cli/migrate/migrations/convert-to-javascript/transform/createVariableDeclarationObjectPattern.ts
  packages/remix-dev/cli/migrate/migrations/convert-to-javascript/transform/index.ts
Labels: CLA Signed, package:dev

#3873 ci: use a custom token so that postrelease workflow is triggered
  .github/workflows/release.yml
Labels: CLA Signed

#4078 docs(guides): Add note about CSRF support
  docs/guides/browser-support.md
Labels: CLA Signed, documentation

#4079 ci: always run linting for pushes and pull requests if docs or md were changed
  .github/workflows/lint.yml
  .github/workflows/reusable-test.yml
Labels: CLA Signed

#4046 fix(remix-react): GET form submissions should replace current search params
  .changeset/late-jars-wonder.md
  integration/form-test.ts
  packages/remix-react/components.tsx
Labels: CLA Signed, package:react

#3626 fix(remix-express,remix-vercel): fix `request.signal`
  .changeset/smooth-buses-approve.md
  integration/abort-signal-test.ts
  packages/remix-architect/__tests__/server-test.ts
  packages/remix-architect/server.ts
  packages/remix-express/__tests__/server-test.ts
  packages/remix-express/server.ts
  packages/remix-netlify/__tests__/server-test.ts
  packages/remix-netlify/server.ts
  packages/remix-vercel/__tests__/server-test.ts
  packages/remix-vercel/server.ts
Labels: CLA Signed, adapter:architect, adapter:vercel, adapter:express, adapter:netlify

#4084 chore: bring `playground` in line with `indie-stack`
  scripts/playground/template/app/entry.client.tsx
  scripts/playground/template/app/entry.server.tsx
  scripts/playground/template/app/models/note.server.ts
  scripts/playground/template/app/root.tsx
  scripts/playground/template/app/routes/join.tsx
  scripts/playground/template/app/routes/login.tsx
  scripts/playground/template/app/routes/logout.tsx
  scripts/playground/template/app/routes/notes.tsx
  scripts/playground/template/app/routes/notes/$noteId.tsx
  scripts/playground/template/app/routes/notes/new.tsx
  scripts/playground/template/app/session.server.ts
  scripts/playground/template/package.json
  scripts/playground/template/remix.init/index.js
  scripts/playground/template/tsconfig.json
Labels: CLA Signed

#4083 chore: enable Dependabot for GitHub Actions
  .github/dependabot.yml
Labels: CLA Signed

#3962 docs(tutorial/jokes): fix typo
  contributors.yml
  docs/tutorials/jokes.md
Labels: CLA Signed, needs-response, documentation
