Repository remix-run/remix, pull requests merged in 2023-03, with the labels that each got.

#5603 Fix useMatches returning different loader data on sub navigation on client side
  .changeset/dirty-wolves-knock.md
  contributors.yml
  integration/matches-test.ts
  packages/remix-react/components.tsx
Labels: CLA Signed

#5605 chore: Update version for release
  .changeset/afraid-tigers-occur.md
  .changeset/eighty-toes-rhyme.md
  .changeset/few-parents-leave.md
  .changeset/flat-routes-route-fixes.md
  .changeset/heavy-jars-accept.md
  .changeset/hmr.md
  .changeset/new-bulldogs-allow.md
  .changeset/old-deers-kneel.md
  .changeset/pre.json
  .changeset/red-kids-look.md
  .changeset/tidy-doors-judge.md
  .changeset/tidy-singers-battle.md
  .changeset/twelve-seahorses-arrive.md
  .changeset/wise-masks-sniff.md
  packages/create-remix/CHANGELOG.md
  packages/create-remix/package.json
  packages/remix-architect/CHANGELOG.md
  packages/remix-architect/package.json
  packages/remix-cloudflare-pages/CHANGELOG.md
  packages/remix-cloudflare-pages/package.json
  packages/remix-cloudflare-workers/CHANGELOG.md
  packages/remix-cloudflare-workers/package.json
  packages/remix-cloudflare/CHANGELOG.md
  packages/remix-cloudflare/package.json
  packages/remix-css-bundle/CHANGELOG.md
  packages/remix-css-bundle/package.json
  packages/remix-deno/CHANGELOG.md
  packages/remix-deno/package.json
  packages/remix-dev/CHANGELOG.md
  packages/remix-dev/package.json
  packages/remix-eslint-config/CHANGELOG.md
  packages/remix-eslint-config/package.json
  packages/remix-express/CHANGELOG.md
  packages/remix-express/package.json
  packages/remix-netlify/CHANGELOG.md
  packages/remix-netlify/package.json
  packages/remix-node/CHANGELOG.md
  packages/remix-node/package.json
  packages/remix-react/CHANGELOG.md
  packages/remix-react/package.json
  packages/remix-serve/CHANGELOG.md
  packages/remix-serve/package.json
  packages/remix-server-runtime/CHANGELOG.md
  packages/remix-server-runtime/package.json
  packages/remix-testing/CHANGELOG.md
  packages/remix-testing/package.json
  packages/remix-vercel/CHANGELOG.md
  packages/remix-vercel/package.json
  packages/remix/package.json
Labels: CLA Signed

#5624 feat(remix-dev): serverBuildTarget deprecation warning
  .changeset/four-feet-grab.md
  docs/file-conventions/remix-config.md
  packages/remix-dev/__tests__/fixtures/stack/remix.config.js
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
Labels: CLA Signed

#5640 docs(pages/stacks): fix typo
  contributors.yml
  docs/pages/stacks.md
Labels: CLA Signed

#5576 Allow TypeScript v5 moduleResolution: "bundler"
  .changeset/cool-planets-perform.md
  contributors.yml
  integration/tsconfig-test.ts
  packages/remix-dev/compiler/utils/tsconfig/write-config-defaults.ts
Labels: CLA Signed

#5627 Add tests for defer returning custom headers
  integration/defer-test.ts
Labels: CLA Signed

#5455 chore(templates): remove `entry.{client,server}` as they're now optional
  templates/arc/app/entry.client.tsx
  templates/arc/app/entry.server.tsx
  templates/cloudflare-pages/app/entry.client.tsx
  templates/cloudflare-pages/app/entry.server.tsx
  templates/cloudflare-workers/app/entry.client.tsx
  templates/cloudflare-workers/app/entry.server.tsx
  templates/deno/app/entry.client.tsx
  templates/deno/app/entry.server.tsx
  templates/express/app/entry.client.tsx
  templates/express/app/entry.server.tsx
  templates/fly/app/entry.client.tsx
  templates/fly/app/entry.server.tsx
  templates/netlify/app/entry.client.tsx
  templates/netlify/app/entry.server.tsx
  templates/remix/app/entry.client.tsx
  templates/remix/app/entry.server.tsx
  templates/vercel/app/entry.client.tsx
  templates/vercel/app/entry.server.tsx
Labels: CLA Signed, template:express, template:architect, template:vercel, template:cloudflare-pages, template:cloudflare-workers, template:fly, template:netlify, template:remix, template:deno

#5635 feat!: remove serverBuildTarget codepaths
  .changeset/cool-wombats-chew.md
  docs/file-conventions/remix-config.md
  packages/remix-dev/__tests__/fixtures/cloudflare/remix.config.js
  packages/remix-dev/__tests__/fixtures/deno/remix.config.js
  packages/remix-dev/__tests__/fixtures/stack/remix.config.js
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
Labels: CLA Signed

#5606 feat(remix-dev): add warning when `future.v2_routeConvention` is not enabled
  .changeset/lazy-dots-sip.md
  integration/flat-routes-test.ts
  integration/hmr-test.ts
  integration/tsconfig.json
  packages/remix-dev/__tests__/create-test.ts
  packages/remix-dev/config.ts
Labels: CLA Signed

#5687 Deprecate useTransition in favor of useNavigation
  .changeset/deprecate-use-transition.md
  docs/hooks/use-transition.md
  packages/remix-react/components.tsx
  packages/remix-react/warnings.ts
Labels: CLA Signed, feat:routing

#5686 test: update e2e tests to use flat routes
  integration/abort-signal-test.ts
  integration/action-test.ts
  integration/bug-report-test.ts
  integration/catch-boundary-data-test.ts
  integration/catch-boundary-test.ts
  integration/cf-compiler-test.ts
  integration/compiler-test.ts
  integration/css-modules-test.ts
  integration/css-side-effect-imports-test.ts
  integration/custom-entry-server-test.ts
  integration/defer-loader-test.ts
  integration/defer-test.ts
  integration/deno-compiler-test.ts
  integration/deterministic-build-output-test.ts
  integration/error-boundary-test.ts
  integration/error-boundary-v2-test.ts
  integration/error-data-request-test.ts
  integration/esm-only-warning-test.ts
  integration/fetcher-layout-test.ts
  integration/fetcher-state-test.ts
  integration/fetcher-test.ts
  integration/flat-routes-test.ts
  integration/form-data-test.ts
  integration/form-test.ts
  integration/headers-test.ts
  integration/helpers/cf-template/remix.config.js
  integration/helpers/deno-template/remix.config.js
  integration/hmr-test.ts
  integration/hook-useSubmit-test.ts
  integration/js-routes-test.ts
  integration/layout-route-test.ts
  integration/link-test.ts
  integration/loader-test.ts
  integration/matches-test.ts
  integration/mdx-test.ts
  integration/meta-test.ts
  integration/multiple-cookies-test.ts
  integration/path-mapping-test.ts
  integration/postcss-test.ts
  integration/prefetch-test.ts
  integration/redirects-test.ts
  integration/rendering-test.ts
  integration/request-test.ts
  integration/resource-routes-test.ts
  integration/revalidate-test.ts
  integration/scroll-test.ts
  integration/server-code-in-browser-message-test.ts
  integration/server-entry-test.ts
  integration/server-source-maps-test.ts
  integration/set-cookie-revalidation-test.ts
  integration/splat-routes-test.ts
  integration/tailwind-test.ts
  integration/transition-state-test.ts
  integration/transition-test.ts
  integration/tsconfig-test.ts
  integration/upload-test.ts
  integration/vanilla-extract-test.ts
Labels: CLA Signed

#5694 docs(file-conventions/route-files-v2): use new `route.tsx` convention
  docs/file-conventions/route-files-v2.md
Labels: CLA Signed, docs

#5693 templates: enable `v2_routeConvention` config flag by default
  templates/arc/app/routes/_index.tsx
  templates/arc/remix.config.js
  templates/cloudflare-pages/app/routes/_index.tsx
  templates/cloudflare-pages/remix.config.js
  templates/cloudflare-workers/app/routes/_index.tsx
  templates/cloudflare-workers/remix.config.js
  templates/deno/app/routes/_index.tsx
  templates/deno/remix.config.js
  templates/express/app/routes/_index.tsx
  templates/express/remix.config.js
  templates/fly/app/routes/_index.tsx
  templates/fly/remix.config.js
  templates/netlify/app/routes/_index.tsx
  templates/netlify/remix.config.js
  templates/remix/app/routes/_index.tsx
  templates/remix/remix.config.js
  templates/vercel/app/routes/_index.tsx
  templates/vercel/remix.config.js
Labels: CLA Signed, template:express, template:architect, template:vercel, template:cloudflare-pages, template:cloudflare-workers, template:fly, template:netlify, template:remix, template:deno

#5721 fix: revert browserRouteModulesPlugin
  .changeset/fix-x-route-imports.md
  integration/shared-route-imports-test.ts
  packages/remix-dev/compiler/compileBrowser.ts
  packages/remix-dev/compiler/plugins/browserRouteModulesPlugin.ts
  packages/remix-dev/compiler/plugins/browserRouteModulesPlugin_v2.ts
Labels: CLA Signed, package:dev

#5430 fix(remix-dev): add types for importing `*.ico` files
  .changeset/add-ico-types.md
  contributors.yml
  packages/remix-dev/modules.ts
Labels: CLA Signed, feat:typescript, package:dev

#5741 chore: Update version for release (pre)
  .changeset/pre.json
  packages/create-remix/CHANGELOG.md
  packages/create-remix/package.json
  packages/remix-architect/CHANGELOG.md
  packages/remix-architect/package.json
  packages/remix-cloudflare-pages/CHANGELOG.md
  packages/remix-cloudflare-pages/package.json
  packages/remix-cloudflare-workers/CHANGELOG.md
  packages/remix-cloudflare-workers/package.json
  packages/remix-cloudflare/CHANGELOG.md
  packages/remix-cloudflare/package.json
  packages/remix-css-bundle/CHANGELOG.md
  packages/remix-css-bundle/package.json
  packages/remix-deno/CHANGELOG.md
  packages/remix-deno/package.json
  packages/remix-dev/CHANGELOG.md
  packages/remix-dev/package.json
  packages/remix-eslint-config/CHANGELOG.md
  packages/remix-eslint-config/package.json
  packages/remix-express/CHANGELOG.md
  packages/remix-express/package.json
  packages/remix-netlify/CHANGELOG.md
  packages/remix-netlify/package.json
  packages/remix-node/CHANGELOG.md
  packages/remix-node/package.json
  packages/remix-react/CHANGELOG.md
  packages/remix-react/package.json
  packages/remix-serve/CHANGELOG.md
  packages/remix-serve/package.json
  packages/remix-server-runtime/CHANGELOG.md
  packages/remix-server-runtime/package.json
  packages/remix-testing/CHANGELOG.md
  packages/remix-testing/package.json
  packages/remix-vercel/CHANGELOG.md
  packages/remix-vercel/package.json
  packages/remix/package.json
Labels: CLA Signed

#2629 feat(remix-dev/compiler): support native `.node` files
  contributors.yml
  packages/remix-dev/compiler/loaders.ts
Labels: CLA Signed, package:dev

#5718 Deprecate CatchBoundary in favor of future.v2_errorBoundary
  .changeset/three-cheetahs-lick.md
  docs/route/catch-boundary.md
  docs/route/error-boundary-v2.md
  docs/route/error-boundary.md
  integration/action-test.ts
  integration/defer-test.ts
  integration/hmr-test.ts
  packages/remix-dev/__tests__/create-test.ts
  packages/remix-dev/config.ts
  packages/remix-react/browser.tsx
  packages/remix-react/errorBoundaries.tsx
  packages/remix-react/routeModules.ts
  packages/remix-server-runtime/routeModules.ts
Labels: CLA Signed, package:dev, package:server-runtime, renderer:react

#5691 Deprecate fetcher.type and fetcher.submission
  .changeset/deprecate-fetcher-type-submission.md
  docs/guides/optimistic-ui.md
  docs/hooks/use-fetcher.md
  docs/hooks/use-fetchers.md
  packages/remix-react/components.tsx
Labels: CLA Signed, docs, feat:routing, renderer:react

#5748 chore: Update version for release
  .changeset/add-ico-types.md
  .changeset/cool-planets-perform.md
  .changeset/deprecate-use-transition.md
  .changeset/dirty-wolves-knock.md
  .changeset/fix-x-route-imports.md
  .changeset/four-feet-grab.md
  .changeset/pre.json
  packages/create-remix/CHANGELOG.md
  packages/create-remix/package.json
  packages/remix-architect/CHANGELOG.md
  packages/remix-architect/package.json
  packages/remix-cloudflare-pages/CHANGELOG.md
  packages/remix-cloudflare-pages/package.json
  packages/remix-cloudflare-workers/CHANGELOG.md
  packages/remix-cloudflare-workers/package.json
  packages/remix-cloudflare/CHANGELOG.md
  packages/remix-cloudflare/package.json
  packages/remix-css-bundle/CHANGELOG.md
  packages/remix-css-bundle/package.json
  packages/remix-deno/CHANGELOG.md
  packages/remix-deno/package.json
  packages/remix-dev/CHANGELOG.md
  packages/remix-dev/package.json
  packages/remix-eslint-config/CHANGELOG.md
  packages/remix-eslint-config/package.json
  packages/remix-express/CHANGELOG.md
  packages/remix-express/package.json
  packages/remix-netlify/CHANGELOG.md
  packages/remix-netlify/package.json
  packages/remix-node/CHANGELOG.md
  packages/remix-node/package.json
  packages/remix-react/CHANGELOG.md
  packages/remix-react/package.json
  packages/remix-serve/CHANGELOG.md
  packages/remix-serve/package.json
  packages/remix-server-runtime/CHANGELOG.md
  packages/remix-server-runtime/package.json
  packages/remix-testing/CHANGELOG.md
  packages/remix-testing/package.json
  packages/remix-vercel/CHANGELOG.md
  packages/remix-vercel/package.json
  packages/remix/package.json
Labels: CLA Signed

#5682 Remove magic exports support for v2
  .changeset/blue-beers-tan.md
  integration/cf-compiler-test.ts
  integration/compiler-test.ts
  packages/remix-cloudflare/rollup.config.js
  packages/remix-dev/__tests__/cli-test.ts
  packages/remix-dev/__tests__/codemod-replaceRemixMagicImports-test.ts
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/cli/run.ts
  packages/remix-dev/cli/setup.ts
  packages/remix-node/rollup.config.js
  packages/remix-react/rollup.config.js
  packages/remix-server-runtime/rollup.config.js
  packages/remix-testing/rollup.config.js
  packages/remix/index.ts
  packages/remix/rollup.config.js
  rollup.utils.js
Labels: CLA Signed, package:remix, package:server-runtime, runtime:node, runtime:cloudflare, renderer:react

#5602 chore: don't log server errors for aborted requests
  .changeset/no-log-on-aborted-request.md
  packages/remix-server-runtime/server.ts
Labels: CLA Signed, package:server-runtime

#5742 ci: update deploy tests to use create-remix cli
  scripts/deployment-test/_shared.mjs
  scripts/deployment-test/arc.mjs
  scripts/deployment-test/cf-pages.mjs
  scripts/deployment-test/cf-workers.mjs
  scripts/deployment-test/deno-deploy.mjs
  scripts/deployment-test/fly.mjs
  scripts/deployment-test/netlify.mjs
  scripts/deployment-test/package.json
  scripts/deployment-test/vercel.mjs
Labels: CLA Signed

#5749 chore(remix-dev): update default `entry.client`
  .changeset/entry-client-no-ric.md
  packages/remix-dev/config/defaults/entry.client.react.tsx
Labels: CLA Signed, package:dev

#5685 Remove unstable_shouldReload references
  .changeset/remove-should-reload.md
  docs/api/conventions.md
  docs/route/should-reload.md
  packages/remix-react/index.tsx
  packages/remix-react/routeModules.ts
Labels: CLA Signed, docs, feat:routing, renderer:react

#5746 Add support for creating non-meta tags with `v2_meta`
  .changeset/meta-v2-enhancements.md
  integration/meta-test.ts
  packages/remix-react/components.tsx
  packages/remix-react/routeModules.ts
  packages/remix-server-runtime/routeModules.ts
Labels: CLA Signed, package:server-runtime, renderer:react

#5761 Revert "templates: enable `v2_routeConvention` config flag by default"
  templates/arc/app/routes/index.tsx
  templates/arc/remix.config.js
  templates/cloudflare-pages/app/routes/index.tsx
  templates/cloudflare-pages/remix.config.js
  templates/cloudflare-workers/app/routes/index.tsx
  templates/cloudflare-workers/remix.config.js
  templates/deno/app/routes/index.tsx
  templates/deno/remix.config.js
  templates/express/app/routes/index.tsx
  templates/express/remix.config.js
  templates/fly/app/routes/index.tsx
  templates/fly/remix.config.js
  templates/netlify/app/routes/index.tsx
  templates/netlify/remix.config.js
  templates/remix/app/routes/index.tsx
  templates/remix/remix.config.js
  templates/vercel/app/routes/index.tsx
  templates/vercel/remix.config.js
Labels: CLA Signed

#5707 fix(remix-dev): use path.resolve when re-exporting entry.client
  .changeset/css-bundle-monorepo-fix.md
  packages/remix-dev/compiler/plugins/cssBundleEntryModulePlugin.ts
Labels: CLA Signed, package:dev

#5651 chore(docs): add docs about `remix init` command
  docs/other-api/dev.md
  docs/pages/stacks.md
Labels: CLA Signed, docs

#5762 Add v2_errorBoundary tests
  integration/catch-boundary-data-test.ts
  integration/catch-boundary-test.ts
  integration/error-boundary-test.ts
  integration/link-test.ts
Labels: CLA Signed

#5714 fix(remix-dev): Use normalized file path when analyzing flat routes
  contributors.yml
  packages/remix-dev/__tests__/flat-routes-test.ts
  packages/remix-dev/config/flat-routes.ts
Labels: CLA Signed, package:dev

#5689 Remove `useTransition` in favor of `useNavigation`
  .changeset/remove-use-transition.md
  docs/api/remix.md
  docs/components/form.md
  docs/guides/data-writes.md
  docs/hooks/use-action-data.md
  docs/hooks/use-fetcher.md
  docs/hooks/use-submit.md
  docs/hooks/use-transition.md
  docs/pages/technical-explanation.md
  integration/link-test.ts
  integration/navigation-state-test.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/posts/admin/new.tsx
  packages/remix-react/components.tsx
  packages/remix-react/index.tsx
  packages/remix-react/package.json
  packages/remix-react/transition.ts
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed, docs, renderer:react

#5564 Add support for mjs and cjs extensions with CSS imports
  .changeset/css-side-effect-import-extensions.md
  contributors.yml
  integration/css-side-effect-imports-test.ts
  packages/remix-dev/compiler/plugins/cssSideEffectImportsPlugin.ts
Labels: CLA Signed

#5735 feat(remix-dev): add opt-in Vanilla Extract cache
  .changeset/vanilla-extract-cache.md
  integration/deterministic-build-output-test.ts
  integration/helpers/create-fixture.ts
  integration/vanilla-extract-test.ts
  package.json
  packages/remix-dev/compiler/compileBrowser.ts
  packages/remix-dev/compiler/plugins/vanillaExtractPlugin.ts
  packages/remix-dev/compiler/plugins/vanillaExtractPluginCached.ts
  packages/remix-dev/compiler/plugins/vanillaExtractPluginUncached.ts
  packages/remix-dev/compiler/plugins/vanillaExtractSideEffectsPlugin.ts
  packages/remix-dev/config.ts
  packages/remix-dev/package.json
  packages/remix-react/entry.ts
  packages/remix-server-runtime/entry.ts
  yarn.lock
Labels: CLA Signed, package:dev

#5716 Remove fetcher.type/fetcher.submission
  .changeset/remove-fetcher-back-compat.md
  integration/fetcher-state-test.ts
  packages/remix-react/components.tsx
  packages/remix-react/transition.ts
Labels: CLA Signed, renderer:react

#5790 chore: remove deprecations
  .changeset/premature-deprecations.md
  docs/file-conventions/remix-config.md
  integration/flat-routes-test.ts
  integration/tsconfig.json
  packages/remix-dev/__tests__/create-test.ts
  packages/remix-dev/__tests__/fixtures/stack/remix.config.js
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
Labels: CLA Signed

#5791 chore: Update version for release (pre)
  .changeset/pre.json
  packages/create-remix/CHANGELOG.md
  packages/create-remix/package.json
  packages/remix-architect/CHANGELOG.md
  packages/remix-architect/package.json
  packages/remix-cloudflare-pages/CHANGELOG.md
  packages/remix-cloudflare-pages/package.json
  packages/remix-cloudflare-workers/CHANGELOG.md
  packages/remix-cloudflare-workers/package.json
  packages/remix-cloudflare/CHANGELOG.md
  packages/remix-cloudflare/package.json
  packages/remix-css-bundle/CHANGELOG.md
  packages/remix-css-bundle/package.json
  packages/remix-deno/CHANGELOG.md
  packages/remix-deno/package.json
  packages/remix-dev/CHANGELOG.md
  packages/remix-dev/package.json
  packages/remix-eslint-config/CHANGELOG.md
  packages/remix-eslint-config/package.json
  packages/remix-express/CHANGELOG.md
  packages/remix-express/package.json
  packages/remix-netlify/CHANGELOG.md
  packages/remix-netlify/package.json
  packages/remix-node/CHANGELOG.md
  packages/remix-node/package.json
  packages/remix-react/CHANGELOG.md
  packages/remix-react/package.json
  packages/remix-serve/CHANGELOG.md
  packages/remix-serve/package.json
  packages/remix-server-runtime/CHANGELOG.md
  packages/remix-server-runtime/package.json
  packages/remix-testing/CHANGELOG.md
  packages/remix-testing/package.json
  packages/remix-vercel/CHANGELOG.md
  packages/remix-vercel/package.json
  packages/remix/package.json
Labels: CLA Signed

#5793 feat: bring back old routing and serverBuildTarget deprecation warnings
  docs/file-conventions/remix-config.md
  integration/flat-routes-test.ts
  integration/tsconfig.json
  packages/remix-dev/__tests__/create-test.ts
  packages/remix-dev/__tests__/fixtures/stack/remix.config.js
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
Labels: CLA Signed

#5785 API updates for v2 `meta` arguments and types
  .changeset/meta-v2-enhancements.md
  docs/route/meta.md
  integration/meta-test.ts
  packages/remix-cloudflare/index.ts
  packages/remix-deno/index.ts
  packages/remix-node/index.ts
  packages/remix-react/components.tsx
  packages/remix-react/index.tsx
  packages/remix-react/routeModules.ts
  packages/remix-server-runtime/index.ts
  packages/remix-server-runtime/reexport.ts
  packages/remix-server-runtime/routeModules.ts
Labels: CLA Signed

#5702 feat(remix-dev): show deprecation warning when `browserBuildDirectory` config is used
  .changeset/proud-nails-hunt.md
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev

#5698 feat!(remix-cloudflare): remove `createCloudflareKVSessionStorage`
  .changeset/fuzzy-mugs-swim.md
  packages/remix-cloudflare/index.ts
Labels: CLA Signed, runtime:cloudflare

#5798 Update changeset for Vanilla Extract cache
  .changeset/vanilla-extract-cache.md
Labels: CLA Signed

#5801 Fix v2 type error by bumping react-router-dom to experimental release
  packages/remix-testing/package.json
Labels: CLA Signed

#5807 ci: run tests with node 19.7
  .github/workflows/test.yml
Labels: CLA Signed

#5808 chore: Update version for release (pre)
  .changeset/pre.json
  packages/create-remix/CHANGELOG.md
  packages/create-remix/package.json
  packages/remix-architect/CHANGELOG.md
  packages/remix-architect/package.json
  packages/remix-cloudflare-pages/CHANGELOG.md
  packages/remix-cloudflare-pages/package.json
  packages/remix-cloudflare-workers/CHANGELOG.md
  packages/remix-cloudflare-workers/package.json
  packages/remix-cloudflare/CHANGELOG.md
  packages/remix-cloudflare/package.json
  packages/remix-css-bundle/CHANGELOG.md
  packages/remix-css-bundle/package.json
  packages/remix-deno/CHANGELOG.md
  packages/remix-deno/package.json
  packages/remix-dev/CHANGELOG.md
  packages/remix-dev/package.json
  packages/remix-eslint-config/CHANGELOG.md
  packages/remix-eslint-config/package.json
  packages/remix-express/CHANGELOG.md
  packages/remix-express/package.json
  packages/remix-netlify/CHANGELOG.md
  packages/remix-netlify/package.json
  packages/remix-node/CHANGELOG.md
  packages/remix-node/package.json
  packages/remix-react/CHANGELOG.md
  packages/remix-react/package.json
  packages/remix-serve/CHANGELOG.md
  packages/remix-serve/package.json
  packages/remix-server-runtime/CHANGELOG.md
  packages/remix-server-runtime/package.json
  packages/remix-testing/CHANGELOG.md
  packages/remix-testing/package.json
  packages/remix-vercel/CHANGELOG.md
  packages/remix-vercel/package.json
  packages/remix/package.json
Labels: CLA Signed

#5637 fix(remix-dev): `require.resolve` isolateChunks for pnpm
  .changeset/fluffy-dragons-reflect.md
  packages/remix-dev/compiler/compileBrowser.ts
  packages/remix-dev/compiler/plugins/hmrPlugin.ts
Labels: CLA Signed, package:dev

#5802 Make `v2_meta` default to `true` for templates
  scripts/playground/template/app/root.tsx
  scripts/playground/template/app/routes/index.tsx
  scripts/playground/template/app/routes/join.tsx
  scripts/playground/template/app/routes/login.tsx
  scripts/playground/template/app/routes/notes.tsx
  scripts/playground/template/app/routes/notes/$noteId.tsx
  scripts/playground/template/app/routes/notes/index.tsx
  scripts/playground/template/app/routes/notes/new.tsx
  scripts/playground/template/remix.config.js
  templates/arc/app/root.tsx
  templates/arc/app/routes/index.tsx
  templates/arc/remix.config.js
  templates/cloudflare-pages/app/root.tsx
  templates/cloudflare-pages/app/routes/index.tsx
  templates/cloudflare-pages/remix.config.js
  templates/cloudflare-workers/app/root.tsx
  templates/cloudflare-workers/app/routes/index.tsx
  templates/cloudflare-workers/remix.config.js
  templates/deno/app/root.tsx
  templates/deno/app/routes/index.tsx
  templates/deno/remix.config.js
  templates/express/app/root.tsx
  templates/express/app/routes/index.tsx
  templates/express/remix.config.js
  templates/fly/app/root.tsx
  templates/fly/app/routes/index.tsx
  templates/fly/remix.config.js
  templates/netlify/app/root.tsx
  templates/netlify/app/routes/index.tsx
  templates/netlify/remix.config.js
  templates/remix/app/root.tsx
  templates/remix/app/routes/index.tsx
  templates/remix/remix.config.js
  templates/vercel/app/root.tsx
  templates/vercel/app/routes/index.tsx
  templates/vercel/remix.config.js
Labels: CLA Signed

#5161 fix(remix-react): undeprecate `LiveReload`'s `nonce` prop
  packages/remix-react/components.tsx
Labels: CLA Signed, renderer:react

#5817 chore: Update version for release
  .changeset/dev-server-resilient-to-build-failures.md
  .changeset/pre.json
  packages/create-remix/CHANGELOG.md
  packages/create-remix/package.json
  packages/remix-architect/CHANGELOG.md
  packages/remix-architect/package.json
  packages/remix-cloudflare-pages/CHANGELOG.md
  packages/remix-cloudflare-pages/package.json
  packages/remix-cloudflare-workers/CHANGELOG.md
  packages/remix-cloudflare-workers/package.json
  packages/remix-cloudflare/CHANGELOG.md
  packages/remix-cloudflare/package.json
  packages/remix-css-bundle/CHANGELOG.md
  packages/remix-css-bundle/package.json
  packages/remix-deno/CHANGELOG.md
  packages/remix-deno/package.json
  packages/remix-dev/CHANGELOG.md
  packages/remix-dev/package.json
  packages/remix-eslint-config/CHANGELOG.md
  packages/remix-eslint-config/package.json
  packages/remix-express/CHANGELOG.md
  packages/remix-express/package.json
  packages/remix-netlify/CHANGELOG.md
  packages/remix-netlify/package.json
  packages/remix-node/CHANGELOG.md
  packages/remix-node/package.json
  packages/remix-react/CHANGELOG.md
  packages/remix-react/package.json
  packages/remix-serve/CHANGELOG.md
  packages/remix-serve/package.json
  packages/remix-server-runtime/CHANGELOG.md
  packages/remix-server-runtime/package.json
  packages/remix-testing/CHANGELOG.md
  packages/remix-testing/package.json
  packages/remix-vercel/CHANGELOG.md
  packages/remix-vercel/package.json
  packages/remix/package.json
Labels: CLA Signed

#5819 Revert testing Node 19.7 -> latest
  .github/workflows/test.yml
Labels: CLA Signed

#5800 feat!(remix-dev): remove `unstable_cssModules`
  .changeset/remove-unstable-css-modules.md
  docs/guides/styling.md
  integration/css-modules-test.ts
  integration/css-side-effect-imports-test.ts
  integration/deterministic-build-output-test.ts
  integration/postcss-test.ts
  integration/tailwind-test.ts
  integration/vanilla-extract-test.ts
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/compiler/compileBrowser.ts
  packages/remix-dev/compiler/compilerServer.ts
  packages/remix-dev/config.ts
  packages/remix-react/entry.ts
  packages/remix-server-runtime/entry.ts
  packages/remix-testing/create-remix-stub.tsx
Labels: CLA Signed, package:dev, package:server-runtime, renderer:react, package:testing

#5704 feat(remix-dev): show deprecation warning when `serverBuildDirectory` config is used
  .changeset/wild-beers-agree.md
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev

#5750 feat!(remix-dev): remove `replace-remix-magic-imports` codemod
  .changeset/neat-impalas-divide.md
  packages/remix-dev/__tests__/codemod-replaceRemixMagicImports-test.ts
  packages/remix-dev/__tests__/codemod-test.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/db.server.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/entry.client.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/entry.server.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/models/note.server.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/models/post.server.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/models/user.server.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/root.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/healthcheck.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/index.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/join.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/login.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/logout.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/notes.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/notes/$noteId.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/notes/index.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/notes/new.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/posts/$slug.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/posts/admin.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/posts/admin/index.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/posts/admin/new.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/posts/index.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/session.server.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/utils.test.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/utils.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/package.json
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/public/favicon.ico
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/remix.config.js
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/remix.env.d.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/tailwind.config.js
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/tsconfig.json
  packages/remix-dev/__tests__/routesConvention-test.ts
  packages/remix-dev/__tests__/transform-replaceRemixMagicImports-test.ts
  packages/remix-dev/codemod/index.ts
  packages/remix-dev/codemod/replace-remix-magic-imports/index.ts
  packages/remix-dev/codemod/replace-remix-magic-imports/transform.ts
  packages/remix-dev/codemod/replace-remix-magic-imports/utils/dependencies.ts
  packages/remix-dev/codemod/replace-remix-magic-imports/utils/detect.ts
  packages/remix-dev/codemod/replace-remix-magic-imports/utils/export.ts
  packages/remix-dev/codemod/replace-remix-magic-imports/utils/postinstall.ts
  packages/remix-dev/codemod/replace-remix-magic-imports/utils/remix.ts
Labels: CLA Signed, package:dev

#5701 feat!(remix-dev): remove `browserBuildDirectory` config
  .changeset/silver-readers-think.md
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev

#5703 feat!(remix-dev): remove `serverBuildDirectory` config
  .changeset/tame-moons-buy.md
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev

#5832 test(integration/templates): remove `meta` from `root` files
  integration/helpers/cf-template/app/root.tsx
  integration/helpers/deno-template/app/root.tsx
  integration/helpers/node-template/app/root.tsx
Labels: CLA Signed

#5833 Fix missing meta/mutation bugs
  packages/remix-react/components.tsx
Labels: CLA Signed, renderer:react

#5781 Remove CatchBoundary for v2
  .changeset/eight-squids-greet.md
  docs/api/conventions.md
  docs/guides/routing.md
  docs/pages/faq.md
  docs/route/catch-boundary.md
  docs/route/error-boundary-v2.md
  docs/route/error-boundary.md
  docs/utils/is-route-error-response.md
  integration/action-test.ts
  integration/catch-boundary-data-test.ts
  integration/catch-boundary-test.ts
  integration/defer-test.ts
  integration/error-boundary-test.ts
  integration/error-boundary-v2-test.ts
  integration/hmr-test.ts
  integration/link-test.ts
  packages/remix-dev/__tests__/create-test.ts
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/compiler/assets.ts
  packages/remix-dev/compiler/plugins/browserRouteModulesPlugin.ts
  packages/remix-dev/config.ts
  packages/remix-react/__tests__/components-test.tsx
  packages/remix-react/__tests__/scroll-restoration-test.tsx
  packages/remix-react/browser.tsx
  packages/remix-react/components.tsx
  packages/remix-react/entry.ts
  packages/remix-react/errorBoundaries.tsx
  packages/remix-react/index.tsx
  packages/remix-react/routeModules.ts
  packages/remix-react/routes.tsx
  packages/remix-react/server.tsx
  packages/remix-server-runtime/__tests__/handler-test.ts
  packages/remix-server-runtime/__tests__/server-test.ts
  packages/remix-server-runtime/__tests__/utils.ts
  packages/remix-server-runtime/entry.ts
  packages/remix-server-runtime/routeModules.ts
  packages/remix-server-runtime/routes.ts
  packages/remix-server-runtime/server.ts
  packages/remix-testing/create-remix-stub.tsx
Labels: CLA Signed, docs, package:dev, package:server-runtime, renderer:react, package:testing

#5816 chore(templates): default `v2_routeConvention` to `true`
  templates/arc/app/routes/_index.tsx
  templates/arc/remix.config.js
  templates/cloudflare-pages/app/routes/_index.tsx
  templates/cloudflare-pages/remix.config.js
  templates/cloudflare-workers/app/routes/_index.tsx
  templates/cloudflare-workers/remix.config.js
  templates/deno/app/routes/_index.tsx
  templates/deno/remix.config.js
  templates/express/app/routes/_index.tsx
  templates/express/remix.config.js
  templates/fly/app/routes/_index.tsx
  templates/fly/remix.config.js
  templates/netlify/app/routes/_index.tsx
  templates/netlify/remix.config.js
  templates/remix/app/routes/_index.tsx
  templates/remix/remix.config.js
  templates/vercel/app/routes/_index.tsx
  templates/vercel/remix.config.js
Labels: CLA Signed, template:express, template:architect, template:vercel, template:cloudflare-pages, template:cloudflare-workers, template:fly, template:netlify, template:remix, template:deno

#5829 Add docs on API Development Strategy
  docs/pages/api-development-strategy.md
Labels: CLA Signed, docs

#5838 Use `{ v2_errorBoundary: true }` in all templates
  templates/arc/remix.config.js
  templates/cloudflare-pages/remix.config.js
  templates/cloudflare-workers/remix.config.js
  templates/deno/remix.config.js
  templates/express/remix.config.js
  templates/fly/remix.config.js
  templates/netlify/remix.config.js
  templates/remix/remix.config.js
  templates/vercel/remix.config.js
Labels: CLA Signed, template:express, template:architect, template:vercel, template:cloudflare-pages, template:cloudflare-workers, template:fly, template:netlify, template:remix, template:deno

#5842 docs(tutorials/jokes): remove unused imports
  contributors.yml
  docs/tutorials/jokes.md
Labels: CLA Signed

#5815 Add future.v2_normalizeFormMethod flag
  .changeset/normalize-form-method.md
  docs/pages/api-development-strategy.md
  integration/navigation-state-v2-test.ts
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
  packages/remix-react/browser.tsx
  packages/remix-react/entry.ts
  packages/remix-react/package.json
  packages/remix-server-runtime/entry.ts
  packages/remix-server-runtime/package.json
  packages/remix-testing/create-remix-stub.tsx
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed, package:dev, package:server-runtime, renderer:react, package:testing

#5823 fix: handle CSS bundle updates during HMR
  .changeset/css-bundle-hmr.md
  integration/hmr-test.ts
  packages/remix-css-bundle/browser.ts
  packages/remix-dev/compiler/assets.ts
  packages/remix-dev/compiler/compileBrowser.ts
  packages/remix-dev/compiler/plugins/cssBundleUpdatePlugin.ts
Labels: bug, CLA Signed, package:dev, package:css-bundle

#5634 refactor(remix-dev): flat routes perf improvements
  .changeset/flat-routes-perf.md
  integration/flat-routes-test.ts
  packages/remix-dev/__tests__/flat-routes-test.ts
  packages/remix-dev/config/flat-routes.ts
  packages/remix-dev/package.json
  yarn.lock
Labels: CLA Signed, package:dev

#5850 feat(remix-dev): add support for tailwind.config.{mjs,ts}
  .changeset/young-clocks-wink.md
  integration/tailwind-test.ts
  package.json
  packages/remix-dev/compiler/utils/postcss.ts
  yarn.lock
Labels: CLA Signed, package:dev

#5863 Add deprecation warnings for v2_normalizeFormMethod
  .changeset/normalize-form-method-deprecation.md
  docs/hooks/use-navigation.md
  integration/action-test.ts
  integration/defer-test.ts
  integration/hmr-test.ts
  packages/remix-dev/__tests__/create-test.ts
  packages/remix-dev/config.ts
  packages/remix-react/browser.tsx
Labels: CLA Signed, docs, package:dev, renderer:react

#5681 feat: optional entry.{client,server} for react 17
  .changeset/optional-entries-react-17.md
  docs/file-conventions/entry.client.md
  docs/file-conventions/entry.server.md
  integration/server-entry-test.ts
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/config.ts
  packages/remix-dev/config/defaults/cloudflare/entry.server.react-stream.tsx
  packages/remix-dev/config/defaults/cloudflare/entry.server.react-string.tsx
  packages/remix-dev/config/defaults/deno/entry.server.react-stream.tsx
  packages/remix-dev/config/defaults/deno/entry.server.react-string.tsx
  packages/remix-dev/config/defaults/entry.client.react-stream.tsx
  packages/remix-dev/config/defaults/entry.client.react-string.tsx
  packages/remix-dev/config/defaults/node/entry.server.react-stream.tsx
  packages/remix-dev/config/defaults/node/entry.server.react-string.tsx
Labels: CLA Signed, package:dev

#5865 docs(pages/api-development-strategy): fix typo
  contributors.yml
  docs/pages/api-development-strategy.md
Labels: CLA Signed, docs

#5679 Add type deprecations for types now in React Router
  .changeset/flat-boxes-brake.md
  packages/remix-react/components.tsx
  packages/remix-react/data.ts
  packages/remix-react/errors.ts
  packages/remix-react/index.tsx
  packages/remix-react/routeData.ts
  packages/remix-react/routeModules.ts
  packages/remix-react/transition.ts
  packages/remix-server-runtime/data.ts
  packages/remix-server-runtime/errors.ts
  packages/remix-server-runtime/responses.ts
  packages/remix-server-runtime/routeData.ts
  packages/remix-server-runtime/routeModules.ts
Labels: CLA Signed, package:server-runtime, renderer:react

#5541 Ensure stack traces are removed from all server side errors
  .changeset/tidy-jokes-sparkle.md
  integration/error-boundary-test.ts
  integration/error-sanitization-test.ts
  integration/helpers/create-fixture.ts
  packages/remix-react/components.tsx
  packages/remix-server-runtime/__tests__/server-test.ts
  packages/remix-server-runtime/errors.ts
  packages/remix-server-runtime/responses.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed, package:server-runtime, renderer:react

#5706 feat(remix-react): show deprecation warning when `imagesizes` & `imagesizes` properties are returned from `links` function
  .changeset/thick-actors-juggle.md
  integration/action-test.ts
  integration/defer-test.ts
  packages/remix-react/components.tsx
Labels: CLA Signed, renderer:react, feat:links

#5866 Bump React Router Versions
  .changeset/wet-colts-remain.md
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed, package:server-runtime, renderer:react, package:testing

#5867 chore: Update version for release (pre)
  .changeset/deprecate-fetcher-type-submission.md
  .changeset/meta-v2-enhancements.md
  .changeset/normalize-form-method.md
  .changeset/pre.json
  .changeset/three-cheetahs-lick.md
  .eslintrc.js
  integration/shared-route-imports-test.ts
  packages/create-remix/CHANGELOG.md
  packages/create-remix/package.json
  packages/remix-architect/CHANGELOG.md
  packages/remix-architect/package.json
  packages/remix-cloudflare-pages/CHANGELOG.md
  packages/remix-cloudflare-pages/package.json
  packages/remix-cloudflare-workers/CHANGELOG.md
  packages/remix-cloudflare-workers/package.json
  packages/remix-cloudflare/CHANGELOG.md
  packages/remix-cloudflare/package.json
  packages/remix-css-bundle/CHANGELOG.md
  packages/remix-css-bundle/package.json
  packages/remix-deno/CHANGELOG.md
  packages/remix-deno/package.json
  packages/remix-dev/CHANGELOG.md
  packages/remix-dev/package.json
  packages/remix-eslint-config/CHANGELOG.md
  packages/remix-eslint-config/package.json
  packages/remix-express/CHANGELOG.md
  packages/remix-express/package.json
  packages/remix-netlify/CHANGELOG.md
  packages/remix-netlify/package.json
  packages/remix-node/CHANGELOG.md
  packages/remix-node/package.json
  packages/remix-react/CHANGELOG.md
  packages/remix-react/components.tsx
  packages/remix-react/package.json
  packages/remix-serve/CHANGELOG.md
  packages/remix-serve/package.json
  packages/remix-server-runtime/CHANGELOG.md
  packages/remix-server-runtime/package.json
  packages/remix-testing/CHANGELOG.md
  packages/remix-testing/package.json
  packages/remix-vercel/CHANGELOG.md
  packages/remix-vercel/package.json
  packages/remix/package.json
Labels: CLA Signed

#5773 fix(remix-dev): support `node:` protocol imports
  contributors.yml
  integration/cf-compiler-test.ts
  packages/remix-dev/compiler/compileBrowser.ts
  packages/remix-dev/compiler/compilerServer.ts
  packages/remix-dev/compiler/plugins/nodeProtocolExternalPlugin.ts
Labels: CLA Signed, package:dev

#5874 fix(remix-react): don't warn about runtime deprecation warnings in production
  .changeset/mean-deers-wink.md
  packages/remix-react/browser.tsx
  packages/remix-react/components.tsx
  packages/remix-react/warnings.ts
Labels: CLA Signed

#5875 Bump router 6.10.0-pre.1
  .changeset/bump-router-dependency.md
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed

#5877 chore: Update version for release (pre)
  .changeset/pre.json
  packages/create-remix/CHANGELOG.md
  packages/create-remix/package.json
  packages/remix-architect/CHANGELOG.md
  packages/remix-architect/package.json
  packages/remix-cloudflare-pages/CHANGELOG.md
  packages/remix-cloudflare-pages/package.json
  packages/remix-cloudflare-workers/CHANGELOG.md
  packages/remix-cloudflare-workers/package.json
  packages/remix-cloudflare/CHANGELOG.md
  packages/remix-cloudflare/package.json
  packages/remix-css-bundle/CHANGELOG.md
  packages/remix-css-bundle/package.json
  packages/remix-deno/CHANGELOG.md
  packages/remix-deno/package.json
  packages/remix-dev/CHANGELOG.md
  packages/remix-dev/package.json
  packages/remix-eslint-config/CHANGELOG.md
  packages/remix-eslint-config/package.json
  packages/remix-express/CHANGELOG.md
  packages/remix-express/package.json
  packages/remix-netlify/CHANGELOG.md
  packages/remix-netlify/package.json
  packages/remix-node/CHANGELOG.md
  packages/remix-node/package.json
  packages/remix-react/CHANGELOG.md
  packages/remix-react/package.json
  packages/remix-serve/CHANGELOG.md
  packages/remix-serve/package.json
  packages/remix-server-runtime/CHANGELOG.md
  packages/remix-server-runtime/package.json
  packages/remix-testing/CHANGELOG.md
  packages/remix-testing/package.json
  packages/remix-vercel/CHANGELOG.md
  packages/remix-vercel/package.json
  packages/remix/package.json
Labels: CLA Signed

#5885 chore: Update version for release (pre)
  .changeset/pre.json
  packages/create-remix/CHANGELOG.md
  packages/create-remix/package.json
  packages/remix-architect/CHANGELOG.md
  packages/remix-architect/package.json
  packages/remix-cloudflare-pages/CHANGELOG.md
  packages/remix-cloudflare-pages/package.json
  packages/remix-cloudflare-workers/CHANGELOG.md
  packages/remix-cloudflare-workers/package.json
  packages/remix-cloudflare/CHANGELOG.md
  packages/remix-cloudflare/package.json
  packages/remix-css-bundle/CHANGELOG.md
  packages/remix-css-bundle/package.json
  packages/remix-deno/CHANGELOG.md
  packages/remix-deno/package.json
  packages/remix-dev/CHANGELOG.md
  packages/remix-dev/package.json
  packages/remix-eslint-config/CHANGELOG.md
  packages/remix-eslint-config/package.json
  packages/remix-express/CHANGELOG.md
  packages/remix-express/package.json
  packages/remix-netlify/CHANGELOG.md
  packages/remix-netlify/package.json
  packages/remix-node/CHANGELOG.md
  packages/remix-node/package.json
  packages/remix-react/CHANGELOG.md
  packages/remix-react/package.json
  packages/remix-serve/CHANGELOG.md
  packages/remix-serve/package.json
  packages/remix-server-runtime/CHANGELOG.md
  packages/remix-server-runtime/package.json
  packages/remix-testing/CHANGELOG.md
  packages/remix-testing/package.json
  packages/remix-vercel/CHANGELOG.md
  packages/remix-vercel/package.json
  packages/remix/package.json
Labels: CLA Signed

#5854 refactor(dev): separate subcompilers for brower js, server js, and css
  packages/remix-dev/__tests__/cssSideEffectImports-test.ts
  packages/remix-dev/compiler/browserjs/compiler.ts
  packages/remix-dev/compiler/browserjs/index.ts
  packages/remix-dev/compiler/browserjs/plugins/cssBundleUpdate.ts
  packages/remix-dev/compiler/browserjs/plugins/hmr.ts
  packages/remix-dev/compiler/browserjs/plugins/routes.ts
  packages/remix-dev/compiler/browserjs/plugins/routes_unstable.ts
  packages/remix-dev/compiler/build.ts
  packages/remix-dev/compiler/compiler.ts
  packages/remix-dev/compiler/css/compiler.ts
  packages/remix-dev/compiler/css/index.ts
  packages/remix-dev/compiler/css/plugins/bundleEntry.ts
  packages/remix-dev/compiler/index.ts
  packages/remix-dev/compiler/manifest.ts
  packages/remix-dev/compiler/plugins/cssImports.ts
  packages/remix-dev/compiler/plugins/cssModuleImports.ts
  packages/remix-dev/compiler/plugins/cssSideEffectImports.ts
  packages/remix-dev/compiler/plugins/deprecatedRemixPackage.ts
  packages/remix-dev/compiler/plugins/emptyModules.ts
  packages/remix-dev/compiler/plugins/external.ts
  packages/remix-dev/compiler/plugins/nodeProtocolExternalPlugin.ts
  packages/remix-dev/compiler/plugins/urlImportsPlugin.ts
  packages/remix-dev/compiler/plugins/vanillaExtract/cached.ts
  packages/remix-dev/compiler/plugins/vanillaExtract/index.ts
  packages/remix-dev/compiler/plugins/vanillaExtract/sideEffects.ts
  packages/remix-dev/compiler/plugins/vanillaExtract/uncached.ts
  packages/remix-dev/compiler/remixCompiler.ts
  packages/remix-dev/compiler/serverjs/compiler.ts
  packages/remix-dev/compiler/serverjs/index.ts
  packages/remix-dev/compiler/serverjs/plugins/bareImports.ts
  packages/remix-dev/compiler/serverjs/plugins/entry.ts
  packages/remix-dev/compiler/serverjs/plugins/manifest.ts
  packages/remix-dev/compiler/serverjs/plugins/routes.ts
  packages/remix-dev/compiler/serverjs/virtualModules.ts
  packages/remix-dev/compiler/utils/fs.ts
  packages/remix-dev/compiler/utils/url.ts
  packages/remix-dev/compiler/watch.ts
  packages/remix-dev/config.ts
  packages/remix-dev/dependencies.ts
  packages/remix-dev/index.ts
  packages/remix-dev/liveReload.ts
  packages/remix-dev/warnOnce.ts
Labels: CLA Signed, package:dev

#5905 Remove v2_normalizeFormMethod
  .changeset/remove-normalize-form-method.md
  docs/hooks/use-navigation.md
  docs/pages/api-development-strategy.md
  integration/navigation-state-test.ts
  integration/navigation-state-v2-test.ts
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
  packages/remix-react/browser.tsx
  packages/remix-react/components.tsx
  packages/remix-react/entry.ts
  packages/remix-react/index.tsx
  packages/remix-react/transition.ts
  packages/remix-server-runtime/entry.ts
  packages/remix-testing/create-remix-stub.tsx
  templates/arc/remix.config.js
  templates/cloudflare-pages/remix.config.js
  templates/cloudflare-workers/remix.config.js
  templates/deno/remix.config.js
  templates/express/remix.config.js
  templates/fly/remix.config.js
  templates/netlify/remix.config.js
  templates/remix/remix.config.js
  templates/vercel/remix.config.js
Labels: CLA Signed

#5907 refactor(dev): devServer_unstable namespace
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/devServer/serve.ts
  packages/remix-dev/devServer_unstable/env.ts
  packages/remix-dev/devServer_unstable/hmr.ts
  packages/remix-dev/devServer_unstable/index.ts
  packages/remix-dev/devServer_unstable/liveReload.ts
Labels: CLA Signed

#5831 ci: release commenting overhaul
  .github/workflows/nightly.yml
  .github/workflows/release-comments.yml
  .github/workflows/release.yml
  scripts/find-release-from-changeset.js
  scripts/release/comment.ts
  scripts/release/constants.ts
  scripts/release/github.ts
  scripts/release/octokit.ts
  scripts/release/package-lock.json
  scripts/release/package.json
  scripts/release/tsconfig.json
  scripts/release/utils.ts
Labels: CLA Signed

#5914 refactor(dev): more compiler refactoring
  packages/remix-dev/compiler/browserjs/compiler.ts
  packages/remix-dev/compiler/browserjs/plugins/routes.ts
  packages/remix-dev/compiler/browserjs/plugins/routes_unstable.ts
  packages/remix-dev/compiler/compiler.ts
  packages/remix-dev/compiler/css/compiler.ts
  packages/remix-dev/compiler/index.ts
  packages/remix-dev/compiler/plugins/mdx.ts
  packages/remix-dev/compiler/plugins/vanillaExtract/cached.ts
  packages/remix-dev/compiler/plugins/vanillaExtract/uncached.ts
  packages/remix-dev/compiler/serverjs/compiler.ts
  packages/remix-dev/compiler/serverjs/plugins/manifest.ts
  packages/remix-dev/compiler/serverjs/plugins/routes.ts
  packages/remix-dev/compiler/utils/loaders.ts
  packages/remix-dev/compiler/utils/manifest.ts
  packages/remix-dev/compiler/utils/routeExports.ts
  packages/remix-dev/compiler/utils/tsconfig.ts
  packages/remix-dev/compiler/watch.ts
  packages/remix-dev/config.ts
  packages/remix-dev/config/write-tsconfig-defaults.ts
  packages/remix-dev/devServer_unstable/hmr.ts
  packages/remix-dev/devServer_unstable/index.ts
  packages/remix-dev/devServer_unstable/liveReload.ts
  packages/remix-dev/index.ts
  packages/remix-dev/manifest.ts
Labels: CLA Signed

#5916 docs(route/loader): fix typo
  contributors.yml
  docs/route/loader.md
Labels: CLA Signed, docs

#5915 ci: remove label on merged pr workflow
  .github/workflows/merged-pr.yml
Labels: CLA Signed

#5922 chore(dev): upgrade to esbuild 0.17
  packages/remix-dev/compiler/browserjs/compiler.ts
  packages/remix-dev/compiler/build.ts
  packages/remix-dev/compiler/compiler.ts
  packages/remix-dev/compiler/css/compiler.ts
  packages/remix-dev/compiler/plugins/cssImports.ts
  packages/remix-dev/compiler/serverjs/compiler.ts
  packages/remix-dev/compiler/watch.ts
  packages/remix-dev/package.json
  yarn.lock
Labels: CLA Signed

#5925 chore(dev): pin esbuild to v0.17.6
  integration/css-modules-test.ts
  packages/remix-dev/package.json
  yarn.lock
Labels: CLA Signed

#5937 chore: update `tailwindcss` version
  package.json
  yarn.lock
Labels: CLA Signed

#5934 V2 preparation docs
  .changeset/v2-preparation-guide.md
  docs/file-conventions/remix-config.md
  docs/file-conventions/route-files-v2.md
  docs/file-conventions/routes-files.md
  docs/guides/styling.md
  docs/hooks/use-fetcher.md
  docs/hooks/use-transition.md
  docs/index.md
  docs/pages/api-development-strategy.md
  docs/pages/philosophy.md
  docs/pages/v2.md
  docs/route/catch-boundary.md
  docs/route/error-boundary-v2.md
  docs/route/error-boundary.md
  docs/route/index.md
  docs/route/meta-v2.md
  docs/route/meta.md
  packages/remix-dev/config.ts
  packages/remix-react/browser.tsx
  packages/remix-react/components.tsx
Labels: CLA Signed, docs, package:dev, renderer:react

#5950 chore: Update version for release (pre)
  .changeset/pre.json
  packages/create-remix/CHANGELOG.md
  packages/create-remix/package.json
  packages/remix-architect/CHANGELOG.md
  packages/remix-architect/package.json
  packages/remix-cloudflare-pages/CHANGELOG.md
  packages/remix-cloudflare-pages/package.json
  packages/remix-cloudflare-workers/CHANGELOG.md
  packages/remix-cloudflare-workers/package.json
  packages/remix-cloudflare/CHANGELOG.md
  packages/remix-cloudflare/package.json
  packages/remix-css-bundle/CHANGELOG.md
  packages/remix-css-bundle/package.json
  packages/remix-deno/CHANGELOG.md
  packages/remix-deno/package.json
  packages/remix-dev/CHANGELOG.md
  packages/remix-dev/package.json
  packages/remix-eslint-config/CHANGELOG.md
  packages/remix-eslint-config/package.json
  packages/remix-express/CHANGELOG.md
  packages/remix-express/package.json
  packages/remix-netlify/CHANGELOG.md
  packages/remix-netlify/package.json
  packages/remix-node/CHANGELOG.md
  packages/remix-node/package.json
  packages/remix-react/CHANGELOG.md
  packages/remix-react/package.json
  packages/remix-serve/CHANGELOG.md
  packages/remix-serve/package.json
  packages/remix-server-runtime/CHANGELOG.md
  packages/remix-server-runtime/package.json
  packages/remix-testing/CHANGELOG.md
  packages/remix-testing/package.json
  packages/remix-vercel/CHANGELOG.md
  packages/remix-vercel/package.json
  packages/remix/package.json
Labels: CLA Signed

#5958 refactor(dev): compiler improvements
  packages/remix-dev/compiler/assets/css.ts
  packages/remix-dev/compiler/assets/index.ts
  packages/remix-dev/compiler/assets/js.ts
  packages/remix-dev/compiler/assets/manifest.ts
  packages/remix-dev/compiler/assets/plugins/cssBundleEntry.ts
  packages/remix-dev/compiler/assets/plugins/cssBundleUpdate.ts
  packages/remix-dev/compiler/assets/plugins/hmr.ts
  packages/remix-dev/compiler/assets/plugins/routes.ts
  packages/remix-dev/compiler/assets/plugins/routes_unstable.ts
  packages/remix-dev/compiler/browserjs/index.ts
  packages/remix-dev/compiler/compiler.ts
  packages/remix-dev/compiler/css/index.ts
  packages/remix-dev/compiler/server/index.ts
  packages/remix-dev/compiler/server/plugins/bareImports.ts
  packages/remix-dev/compiler/server/plugins/entry.ts
  packages/remix-dev/compiler/server/plugins/manifest.ts
  packages/remix-dev/compiler/server/plugins/routes.ts
  packages/remix-dev/compiler/server/virtualModules.ts
  packages/remix-dev/compiler/serverjs/index.ts
  packages/remix-dev/config.ts
Labels: CLA Signed

#5734 feat!(remix-vercel): drop `@vercel/node` v1 support
  .changeset/big-papayas-jam.md
  packages/remix-vercel/package.json
Labels: CLA Signed, adapter:vercel

#5948 chore(remix-eslint-config): update dependencies to latest minor
  packages/remix-eslint-config/package.json
  yarn.lock
Labels: CLA Signed, package:eslint-config

#5969 Fix broken template routes
  templates/arc/app/routes/_index.tsx
  templates/cloudflare-pages/app/routes/_index.tsx
  templates/cloudflare-workers/app/routes/_index.tsx
  templates/deno/app/routes/_index.tsx
  templates/express/app/routes/_index.tsx
  templates/fly/app/routes/_index.tsx
  templates/netlify/app/routes/_index.tsx
  templates/remix/app/routes/_index.tsx
  templates/vercel/app/routes/_index.tsx
Labels: CLA Signed

#5971 docs(pages/v2): fix typo in `serverBuildDirectory` section
  contributors.yml
  docs/pages/v2.md
Labels: CLA Signed, docs
