Repository remix-run/remix, pull requests merged in 2023-11, with the labels that each got.

#7843 fix: handle multiple "Set-Cookie" headers in unstable_vitePlugin dev
  .changeset/silent-rice-march.md
  contributors.yml
  integration/vite-dev-test.ts
  packages/remix-dev/vite/node/adapter.ts
Labels: CLA Signed, vite

#7877 Add note on publicPath being an absolute url
  docs/file-conventions/remix-config.md
Labels: CLA Signed

#7842 fix(vite): fix Fast Refresh load error when using defer
  .changeset/sharp-kids-bake.md
  integration/vite-dev-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, feat:deferred, vite

#7857 docs: add cross-links
  docs/components/form.md
  docs/components/link.md
  docs/components/nav-link.md
  docs/components/outlet.md
  docs/components/scripts.md
  docs/discussion/hot-module-replacement.md
  docs/file-conventions/remix-config.md
  docs/future/vite.md
  docs/guides/breadcrumbs.md
  docs/guides/errors.md
  docs/hooks/use-navigate.md
  docs/hooks/use-navigation.md
  docs/hooks/use-outlet-context.md
  docs/hooks/use-outlet.md
  docs/hooks/use-resolved-path.md
  docs/hooks/use-revalidator.md
  docs/hooks/use-route-error.md
  docs/hooks/use-search-params.md
  docs/hooks/use-submit.md
  docs/hooks/use-view-transition-state.md
  docs/other-api/testing.md
  docs/route/action.md
  docs/route/handle.md
  docs/route/headers.md
  docs/route/links.md
  docs/route/loader.md
  docs/route/meta.md
  docs/start/future-flags.md
  docs/utils/create-remix-stub.md
Labels: CLA Signed, docs

#7883 perf(vite): fix LiveReload proxy bailout logic
  .changeset/nervous-fans-do.md
  integration/vite-css-dev-test.ts
  integration/vite-dev-express-test.ts
  integration/vite-dev-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#7888 fix(vite): support JSX in .jsx files without React import
  .changeset/clever-months-swim.md
  contributors.yml
  integration/vite-dev-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed

#7886 docs(node): update link to node releases
  contributors.yml
  docs/other-api/node.md
Labels: CLA Signed, docs

#7908 Add caching around resolvePluginConfig() and only invalidate virtual modules when necessary
  .changeset/gentle-ghosts-wait.md
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed

#7895 fix(remix-dev): fix `FutureConfig` type
  .changeset/two-boxes-dance.md
  packages/remix-dev/config.ts
Labels: CLA Signed, feat:typescript, package:dev

#7920 templates(vite): remove `css-bundle`
  templates/unstable-vite-express/app/root.tsx
  templates/unstable-vite-express/package.json
  templates/unstable-vite/app/root.tsx
  templates/unstable-vite/package.json
Labels: CLA Signed, vite

#7919 fix(vite): fix HMR preamble race condition
  .changeset/afraid-suns-yawn.md
  .changeset/early-trees-walk.md
  docs/future/vite.md
  integration/vite-css-dev-test.ts
  integration/vite-dev-express-test.ts
  integration/vite-dev-test.ts
  packages/remix-dev/manifest.ts
  packages/remix-dev/vite/plugin.ts
  packages/remix-react/entry.ts
  templates/unstable-vite-express/app/root.tsx
  templates/unstable-vite/app/root.tsx
Labels: CLA Signed, package:dev, renderer:react, vite

#7900 docs(hooks/use-view-transition-state): fix links
  docs/hooks/use-view-transition-state.md
Labels: CLA Signed, docs

#7913 fix(remix-dev/vite): use `/@fs/` path to support default server/client entry outside of app root
  .changeset/nasty-waves-whisper.md
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#7925 docs(vite): troubleshooting for esm/cjs interop
  docs/future/vite.md
Labels: CLA Signed

#7926 fix(vite): deduplicate `@remix-run/react`
  .changeset/ninety-boats-fail.md
  integration/vite-css-dev-test.ts
  integration/vite-dev-express-test.ts
  integration/vite-dev-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed

#7684 fix: add missing modulepreload for the manifest
  .changeset/manifest-modulepreload.md
  packages/remix-react/components.tsx
Labels: CLA Signed, renderer:react

#7904 fix(remix-dev/vite): fix `react-refresh/babel` plugin resolution
  .changeset/brown-panthers-lay.md
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#7937 fix(vite): fix dev FOUC with custom Express server
  .changeset/slow-eyes-joke.md
  integration/vite-css-dev-express-test.ts
  packages/remix-dev/vite/plugin.ts
  packages/remix-express/server.ts
Labels: CLA Signed, package:dev, vite

#7911 fix(remix-dev/vite): set same `config.mode` for child compiler
  .changeset/eight-jeans-float.md
  integration/vite-build-test.ts
  integration/vite-dev-test.ts
  package.json
  packages/remix-dev/vite/plugin.ts
  yarn.lock
Labels: CLA Signed, package:dev, vite

#7955 Update meta.md
  contributors.yml
  docs/route/meta.md
Labels: CLA Signed

#7952 fix(remix-dev/vite): attach CSS from shared chunks to routes
  .changeset/itchy-rabbits-fly.md
  integration/vite-build-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, vite

#7958 fix(vite): load .env files into process.env in dev
  .changeset/tricky-news-thank.md
  integration/vite-build-test.ts
  integration/vite-dev-express-test.ts
  integration/vite-dev-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#7970 Add link to streaming guide in `defer` doc
  docs/utils/defer.md
Labels: CLA Signed

#7971 docs: Fix broken link
  docs/utils/defer.md
Labels: CLA Signed

#7980 fix(remix-dev/vite): allow custom `NODE_ENV` for `vite dev`
  .changeset/hungry-tables-hang.md
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#7985 docs(vite): assert css-bundle removal
  docs/future/vite.md
Labels: CLA Signed, docs, vite

#7959 docs(streaming): Update broken links in streaming.md
  docs/guides/streaming.md
Labels: CLA Signed, docs

#7977 docs(remix-react): add JSDoc to LiveReload component
  contributors.yml
  packages/remix-react/components.tsx
Labels: CLA Signed

#7981 Fix route indentation in migration to v2 - v2.md
  contributors.yml
  docs/start/v2.md
Labels: CLA Signed, docs

#7983 fix(vite): support Vite 5
  .changeset/green-buses-suffer.md
  package.json
  packages/remix-dev/package.json
  packages/remix-dev/vite/plugin.ts
  yarn.lock
Labels: CLA Signed, package:dev, vite

#7990 fix(remix-dev/vite): instantiate plugins independently for child vite compiler
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, vite

#7996 Add unstable_flushSync option
  docs/hooks/use-fetcher.md
  docs/hooks/use-navigate.md
  docs/hooks/use-submit.md
Labels: CLA Signed, feat:routing, renderer:react

#8007 Update crossOrigin value used in links documentation
  contributors.yml
  docs/route/links.md
Labels: CLA Signed, docs

#8015 docs: Improve cookie example code
  contributors.yml
  docs/discussion/state-management.md
Labels: CLA Signed, docs

#8020 rewrite bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: CLA Signed

#7892 fix(remix-dev/vite): use `ssrEmitAssets` to support assets referenced by server-only code
  .changeset/tricky-frogs-film.md
  integration/vite-build-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8035 chore: upgrade Vite dev dependency to v5
  package.json
  packages/remix-dev/package.json
  yarn.lock
Labels: CLA Signed

#8036 chore(templates/vite): upgrade to Vite 5
  templates/unstable-vite-express/package.json
  templates/unstable-vite/package.json
Labels: CLA Signed

#8037 Fix broken `resolvePath` link in `use-resolved-path` docs
  contributors.yml
  docs/hooks/use-resolved-path.md
Labels: CLA Signed

#8039 fix(vite): disable redundant copyPublicDir option
  .changeset/proud-otters-cheat.md
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8042 fix(remix-dev/vite): keep code-split JS files in SSR build
  .changeset/modern-pans-happen.md
  integration/vite-build-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8000 test(remix-dev/vite): add Vanilla Extract to CSS tests
  integration/package.json
  integration/vite-css-build-test.ts
  integration/vite-css-dev-express-test.ts
  integration/vite-css-dev-test.ts
  yarn.lock
Labels: CLA Signed, vite

#8014 fix(remix-dev/vite): fix `LiveReload` component `nonce` prop
  .changeset/famous-points-punch.md
  integration/vite-dev-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, vite

#8063 test(vite): upgrade Vanilla Extract Vite plugin
  integration/package.json
  integration/vite-css-build-test.ts
  integration/vite-css-dev-express-test.ts
  integration/vite-css-dev-test.ts
  yarn.lock
Labels: CLA Signed, vite

#8053 docs: update msw example to msw@2.x version + add ESM related details
  contributors.yml
  docs/other-api/dev.md
Labels: CLA Signed, docs

#8034 Fixed typo in template docs
  contributors.yml
  docs/guides/templates.md
Labels: CLA Signed, docs

#8043 docs(discussion/hot-module-replacement): Fix diff
  contributors.yml
  docs/discussion/hot-module-replacement.md
Labels: CLA Signed, docs

#8069 test(vite): check for unexpected browser console errors
  integration/vite-dev-express-test.ts
Labels: CLA Signed

#8072 chore: move missed changeset to changelog
  .changeset/tricky-frogs-film.md
  CHANGELOG.md
  packages/remix-dev/CHANGELOG.md
Labels: CLA Signed

#8073 chore: dedupe changelog
  CHANGELOG.md
  packages/remix-dev/CHANGELOG.md
Labels: CLA Signed

#8082 Update router versions
  .changeset/breezy-emus-fold.md
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed

#8088 test(vite): refactor tests by feature
  integration/helpers/dev.ts
  integration/vite-dev-express-test.ts
  integration/vite-dotenv-test.ts
  integration/vite-hmr-hdr-test.ts
  integration/vite-loader-context-test.ts
Labels: CLA Signed

#8091 test(vite): test `vite dev` against hmr/hdr flow
  integration/helpers/dev.ts
  integration/vite-css-dev-express-test.ts
  integration/vite-dotenv-test.ts
  integration/vite-hmr-hdr-test.ts
  integration/vite-loader-context-test.ts
Labels: CLA Signed

#8093 test(vite): fix firefox expected error detection
  integration/vite-hmr-hdr-test.ts
Labels: CLA Signed

#8057 fix(vite): apply `normalizePath` to default entry file outside of project directory
  .changeset/green-balloons-promise.md
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, vite

#8022 fix(remix-dev/vite): support HMR for routes with `handle` export
  .changeset/blue-guests-raise.md
  integration/vite-dev-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, vite

#8077 fix(remix-dev/vite): change build output paths
  .changeset/fast-needles-sort.md
  .changeset/proud-otters-cheat.md
  docs/future/vite.md
  integration/helpers/create-fixture.ts
  integration/vite-build-test.ts
  packages/remix-dev/vite/plugin.ts
  templates/unstable-vite-express/.gitignore
  templates/unstable-vite-express/server.mjs
  templates/unstable-vite/.gitignore
  templates/unstable-vite/package.json
Labels: CLA Signed, package:dev, vite

#8096 fix(vite): remove legacyCssImports option
  .changeset/few-forks-behave.md
  integration/vite-css-legacy-build-test.ts
  packages/remix-dev/vite/legacy-css-imports.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8097 chore: enable prettier cache
  package.json
Labels: CLA Signed

#8104 test(vite): refactor
  integration/helpers/vite.ts
  integration/vite-css-dev-express-test.ts
  integration/vite-dotenv-test.ts
  integration/vite-hmr-hdr-test.ts
  integration/vite-loader-context-test.ts
Labels: CLA Signed

#8105 Bump router to stable
  .changeset/young-parents-knock.md
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed

#8108 refactor(vite): disable hmr for child compiler
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed

#8076 fix(remix-dev/vite, remix-server-runtime): handle `criticalCss` in an adapter agnostic way
  .changeset/breezy-guests-repair.md
  packages/remix-dev/vite/node/adapter.ts
  packages/remix-dev/vite/plugin.ts
  packages/remix-express/server.ts
  packages/remix-server-runtime/dev.ts
  packages/remix-server-runtime/index.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed, package:dev, package:server-runtime, vite

#8062 fix(remix-dev/vite): use global `Request` class in Vite dev server handler
  .changeset/witty-gifts-glow.md
  integration/vite-dev-custom-entry-test.ts
  packages/remix-dev/package.json
  packages/remix-dev/vite/node/adapter.ts
  yarn.lock
Labels: CLA Signed, package:dev, vite

#8066 fix(remix-dev/vite, server-runtime): pass Vite server errors to `vite.ssrFixStacktrace`
  .changeset/mean-knives-beam.md
  integration/vite-dev-test.ts
  packages/remix-dev/vite/plugin.ts
  packages/remix-server-runtime/dev.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed, package:dev, package:server-runtime, vite

#8134 test(vite): refactor
  integration/helpers/vite-template/.gitignore
  integration/helpers/vite-template/app/root.tsx
  integration/helpers/vite-template/app/routes/_index.tsx
  integration/helpers/vite-template/env.d.ts
  integration/helpers/vite-template/package.json
  integration/helpers/vite-template/public/favicon.ico
  integration/helpers/vite-template/tsconfig.json
  integration/helpers/vite-template/vite.config.ts
  integration/helpers/vite.ts
  integration/vite-css-dev-express-test.ts
  integration/vite-dotenv-test.ts
  integration/vite-hmr-hdr-test.ts
  integration/vite-loader-context-test.ts
Labels: CLA Signed

#8120 fix(remix-dev/vite): remove Vite wrapper functions
  .changeset/hungry-buckets-repair.md
  docs/future/vite.md
  integration/helpers/vite.ts
  packages/remix-dev/index.ts
  packages/remix-dev/vite/index.ts
  packages/remix-dev/vite/plugin.ts
  packages/remix-dev/vite/server-entry-id.ts
  templates/unstable-vite-express/README.md
  templates/unstable-vite-express/server.mjs
Labels: CLA Signed, package:dev, vite

#8130 fix(remix-dev/vite): don't trigger request abort signal on dev server response close
  packages/remix-dev/vite/node/adapter.ts
Labels: CLA Signed

#8121 perf(remix-dev/vite): disable `server.preTransformRequests` for child compiler
  .changeset/short-phones-admire.md
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8111 perf(remix-dev/vite): extract route module exports in parallel
  .changeset/short-phones-admire.md
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8118 docs(route/should-revalidate): Update currentParams code example
  docs/route/should-revalidate.md
Labels: CLA Signed

#8154 Vite: exclude modules within `.server` directories from client build
  .changeset/chatty-shrimps-sell.md
  integration/helpers/vite-template/tsconfig.json
  integration/helpers/vite.ts
  integration/package.json
  integration/vite-dot-server-test.ts
  packages/remix-dev/vite/plugin.ts
  yarn.lock
Labels: CLA Signed

#8143 fix(remix-dev/vite): bundle CSS from client entry
  .changeset/brown-hotels-rush.md
  integration/vite-css-build-test.ts
  integration/vite-css-dev-test.ts
  packages/remix-dev/vite/import-vite-esm-sync.ts
  packages/remix-dev/vite/plugin.ts
  packages/remix-dev/vite/resolve-file-url.ts
  packages/remix-dev/vite/styles.ts
Labels: CLA Signed, package:dev, vite

#8149 feat(templates,docs): add tutorial to templates
  .eslintignore
  docs/start/tutorial.md
  package.json
  templates/remix-tutorial/.eslintrc.js
  templates/remix-tutorial/.gitignore
  templates/remix-tutorial/README.md
  templates/remix-tutorial/app/app.css
  templates/remix-tutorial/app/data.ts
  templates/remix-tutorial/app/root.tsx
  templates/remix-tutorial/package.json
  templates/remix-tutorial/public/favicon.ico
  templates/remix-tutorial/remix.config.js
  templates/remix-tutorial/remix.env.d.ts
  templates/remix-tutorial/tsconfig.json
Labels: CLA Signed, docs

#8150 docs(quickstart): add cli link/callout to top of quickstart
  docs/start/quickstart.md
Labels: CLA Signed, docs

#8119 fix(remix-dev/vite): make `installGlobals` opt-in for Vite dev
  .changeset/tidy-timers-share.md
  docs/future/vite.md
  packages/remix-dev/vite/node/adapter.ts
  templates/unstable-vite/vite.config.ts
Labels: CLA Signed, package:dev, vite

#8123 docs(vite): add `vite.config.ts` examples for vitest and storybook
  docs/future/vite.md
Labels: CLA Signed, docs, vite

#8161 docs(vite): add note about scoping regular CSS
  docs/future/vite.md
Labels: CLA Signed, docs, vite

#8089 Deprecate DataFunctionArgs
  .changeset/data-function-args.md
  docs/file-conventions/entry.server.md
  packages/remix-server-runtime/build.ts
  packages/remix-server-runtime/data.ts
  packages/remix-server-runtime/routeModules.ts
  packages/remix-testing/__tests__/stub-test.tsx
Labels: CLA Signed, feat:typescript

#8090 Restructure client route creation in preparation for client data
  packages/remix-react/routes.tsx
Labels: CLA Signed, feat:routing

#8092 Add support for clientLoader + Fallback
  .changeset/client-data.md
  integration/client-data-test.ts
  integration/vite-hmr-hdr-test.ts
  packages/remix-dev/compiler/js/plugins/routes.ts
  packages/remix-dev/compiler/manifest.ts
  packages/remix-dev/manifest.ts
  packages/remix-dev/package.json
  packages/remix-dev/vite/plugin.ts
  packages/remix-dev/vite/static/refresh-utils.cjs
  packages/remix-react/browser.tsx
  packages/remix-react/data.ts
  packages/remix-react/errorBoundaries.tsx
  packages/remix-react/fallback.tsx
  packages/remix-react/index.tsx
  packages/remix-react/package.json
  packages/remix-react/routeModules.ts
  packages/remix-react/routes.tsx
  packages/remix-react/server.tsx
  packages/remix-server-runtime/package.json
  packages/remix-server-runtime/routeModules.ts
  packages/remix-testing/create-remix-stub.tsx
  packages/remix-testing/package.json
  scripts/bump-router-versions.sh
  yarn.lock
Labels: CLA Signed, feat:routing

#8170 Add clientAction support
  integration/client-data-test.ts
  packages/remix-dev/compiler/js/plugins/routes.ts
  packages/remix-dev/compiler/manifest.ts
  packages/remix-dev/manifest.ts
  packages/remix-dev/package.json
  packages/remix-dev/vite/plugin.ts
  packages/remix-react/index.tsx
  packages/remix-react/package.json
  packages/remix-react/routeModules.ts
  packages/remix-react/routes.tsx
  packages/remix-server-runtime/package.json
  packages/remix-server-runtime/routeModules.ts
  packages/remix-testing/create-remix-stub.tsx
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed

#8177 fix(vite): add remix-node to optimizeDeps.include
  .changeset/shiny-timers-bake.md
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8172 fix(remix-dev/vite): upgrade Vite peer dep to v5
  .changeset/angry-dingos-buy.md
  packages/remix-dev/package.json
Labels: CLA Signed, package:dev, vite

#8184 Vite: client references to .server code result in build-time error
  .changeset/wise-pumas-thank.md
  integration/vite-dot-server-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed

#8185 chore(vite): explain why `@remix-run/node` is in `optimizeDeps.include`
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed

#8187 docs(vite): .server directories
  docs/future/vite.md
Labels: CLA Signed
