Repository remix-run/remix, pull requests merged in 2023-08, with the labels that each got.

#7012 docs(pages/api-development-strategy): remove v1/v2 references
  docs/pages/api-development-strategy.md
Labels: CLA Signed, docs, v2

#7013 chore(templates): remove future flags
  templates/arc/remix.config.js
  templates/cloudflare-pages/remix.config.js
  templates/cloudflare-workers/remix.config.js
  templates/express/remix.config.js
  templates/fly/remix.config.js
  templates/netlify/remix.config.js
  templates/remix/remix.config.js
  templates/vercel/remix.config.js
Labels: CLA Signed, template:express, template:architect, template:vercel, template:cloudflare-pages, template:cloudflare-workers, template:fly, template:netlify, template:remix, v2

#7010 templates: install `source-map-support`
  docs/pages/v2.md
  templates/arc/package.json
  templates/arc/server.ts
  templates/express/package.json
  templates/express/server.js
  templates/netlify/package.json
  templates/netlify/server.ts
  templates/vercel/package.json
  templates/vercel/server.ts
Labels: CLA Signed, template:express, template:architect, template:vercel, template:netlify

#6938 templates(netlify): use official Netlify adapter
  templates/netlify/README.md
  templates/netlify/package.json
  templates/netlify/server.ts
Labels: CLA Signed, template:netlify

#6987 feat!: set minimum TS version to 5.1
  docs/guides/typescript.md
  package.json
  packages/remix-architect/package.json
  packages/remix-cloudflare-pages/package.json
  packages/remix-cloudflare-workers/package.json
  packages/remix-cloudflare/package.json
  packages/remix-deno/package.json
  packages/remix-dev/__tests__/fixtures/cloudflare/package.json
  packages/remix-dev/__tests__/fixtures/indie-stack/package.json
  packages/remix-dev/__tests__/fixtures/node/package.json
  packages/remix-dev/index.ts
  packages/remix-dev/package.json
  packages/remix-eslint-config/package.json
  packages/remix-express/package.json
  packages/remix-netlify/package.json
  packages/remix-node/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  packages/remix-vercel/package.json
  scripts/playground/template/package.json
  templates/arc/package.json
  templates/cloudflare-pages/package.json
  templates/cloudflare-workers/package.json
  templates/express/package.json
  templates/fly/package.json
  templates/netlify/package.json
  templates/remix/package.json
  templates/vercel/package.json
  yarn.lock
Labels: CLA Signed, adapter:architect, adapter:vercel, adapter:express, adapter:netlify, adapter:cloudflare-pages, adapter:cloudflare-workers, feat:typescript, package:dev, package:eslint-config, template:express, template:architect, template:vercel, template:cloudflare-pages, template:cloudflare-workers, template:fly, template:netlify, template:remix, package:server-runtime, runtime:node, runtime:cloudflare, renderer:react, runtime:deno, package:testing, v2

#7026 Update to latest @remix-run/web-* packages
  .changeset/pink-dragons-travel.md
  packages/remix-node/package.json
  packages/remix-server-runtime/package.json
  yarn.lock
Labels: feat:fetch

#7027 Update proxy-agent dependency
  .changeset/dirty-beers-sing.md
  contributors.yml
  packages/remix-dev/cli/create.ts
  packages/remix-dev/package.json
  yarn.lock
Labels: CLA Signed

#6937 feat(remix-netlify): show deprecation warning on usage
  .changeset/many-cars-jump.md
  packages/remix-netlify/index.ts
Labels: CLA Signed, adapter:netlify

#7022 docs(pages/v2): add Vercel adapter deprecation
  docs/pages/v2.md
Labels: CLA Signed, adapter:vercel, docs, v2

#7038 Update NavLink docs for end prop on root route links
  docs/components/nav-link.md
Labels: docs

#7009 feat!: remove auto globals install
  .changeset/v2-remove-auto-globals-install.md
  docs/pages/v2.md
  integration/helpers/create-fixture.ts
  integration/hmr-log-test.ts
  integration/hmr-test.ts
  packages/remix-architect/globals.ts
  packages/remix-architect/index.ts
  packages/remix-express/globals.ts
  packages/remix-express/index.ts
  packages/remix-netlify/globals.ts
  packages/remix-netlify/index.ts
  packages/remix-node/index.ts
  packages/remix-serve/cli.ts
  packages/remix-serve/package.json
  packages/remix-vercel/globals.ts
  packages/remix-vercel/index.ts
  templates/arc/package.json
  templates/arc/server.ts
  templates/express/package.json
  templates/express/server.js
  templates/netlify/package.json
  templates/netlify/server.ts
  yarn.lock
Labels: CLA Signed, adapter:architect, adapter:vercel, adapter:express, adapter:netlify, package:serve, template:express, template:architect, template:vercel, template:netlify, runtime:node, v2

#7030 docs(templates): link to third-party templates
  docs/pages/templates.md
Labels: CLA Signed, docs, template:vercel, template:netlify, v2

#7041 build(dev): remove unused create-remix externals
  packages/remix-dev/rollup.config.js
Labels: CLA Signed, package:dev, v2

#7042 chore(dev): update version in deep import comments
  packages/remix-dev/.gitignore
  packages/remix-dev/rollup.config.js
  scripts/copy-build-to-dist.mjs
Labels: CLA Signed, package:dev, v2

#7029 chore: update `type-fest` to latest version
  package.json
  packages/remix-dev/package.json
  yarn.lock
Labels: CLA Signed, feat:typescript, dependencies

#7049 Add docs on node lts strategy
  docs/other-api/node.md
Labels: CLA Signed

#7039 feat(remix-serve): install `source-map-support`
  .changeset/lucky-kangaroos-develop.md
  packages/remix-serve/cli.ts
  packages/remix-serve/package.json
  yarn.lock
Labels: CLA Signed, package:serve

#7045 chore: update `@types/node` to v18
  packages/remix-dev/__tests__/fixtures/indie-stack/package.json
  packages/remix-testing/package.json
  scripts/playground/template/package.json
  yarn.lock
Labels: CLA Signed, feat:typescript, dependencies, package:testing, v2

#7048 Warn users about obsolete future flags in remix.config.js
  .changeset/brown-seals-look.md
  packages/remix-dev/config.ts
  packages/remix-dev/warnOnce.ts
Labels: CLA Signed, package:dev, v2

#7036 templates(netlify): remove Netlify template in favor of official one
  templates/netlify/.eslintrc.js
  templates/netlify/.gitignore
  templates/netlify/README.md
  templates/netlify/app/entry.client.tsx
  templates/netlify/app/entry.server.tsx
  templates/netlify/app/root.tsx
  templates/netlify/app/routes/_index.tsx
  templates/netlify/netlify.toml
  templates/netlify/package.json
  templates/netlify/public/favicon.ico
  templates/netlify/remix.config.js
  templates/netlify/remix.env.d.ts
  templates/netlify/server.ts
  templates/netlify/tsconfig.json
Labels: CLA Signed, template:netlify, v2

#7070 docs(dev): PORT env var for remix-serve, not --port flag
  docs/other-api/dev-v2.md
Labels: CLA Signed

#6597 fix(dev): switch to JEST_WORKER_ID environment variable
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev

#7006 docs(dev): replace old cli docs with v2 cli docs
  docs/file-conventions/remix-config.md
  docs/other-api/dev-v2.md
  docs/other-api/dev.md
Labels: CLA Signed, docs, package:dev, v2

#6964 feat(dev,server-runtime): detect built mode via `build.mode`
  .changeset/curly-moons-cover.md
  packages/remix-dev/__tests__/fixtures/cloudflare/server.ts
  packages/remix-dev/__tests__/fixtures/deno/server.ts
  packages/remix-dev/compiler/server/plugins/entry.ts
  packages/remix-dev/server-build.ts
  packages/remix-server-runtime/build.ts
Labels: CLA Signed, package:dev, package:server-runtime

#7091 docs(styling): document Tailwind + Autoprefixer
  docs/guides/styling.md
Labels: CLA Signed, docs, v2

#7064 feat(remix-dev): add deprecation warning about `devServerBroadcastDelay` & `devServerPort`
  .changeset/moody-seals-fetch.md
  docs/file-conventions/remix-config.md
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev, v2

#6108 chore: dedupe `yarn.lock`
  packages/remix-node/upload/fileUploadHandler.ts
  yarn.lock
Labels: CLA Signed, dependencies

#7044 chore: remove `abort-controller` dependency
  package.json
  packages/remix-architect/package.json
  packages/remix-architect/server.ts
  packages/remix-express/package.json
  packages/remix-express/server.ts
  packages/remix-netlify/package.json
  packages/remix-netlify/server.ts
  packages/remix-node/globals.ts
  packages/remix-node/index.ts
  packages/remix-node/package.json
  packages/remix-react/package.json
  packages/remix-vercel/package.json
  packages/remix-vercel/server.ts
  yarn.lock
Labels: CLA Signed, adapter:architect, adapter:vercel, adapter:express, adapter:netlify, runtime:node, renderer:react, dependencies, v2

#6642 feat(remix-server-runtime): use `type-fest`'s `Jsonify` type in `Serialize`
  packages/remix-server-runtime/package.json
  packages/remix-server-runtime/serialize.ts
Labels: CLA Signed, feat:typescript, package:server-runtime, runtime:node, runtime:cloudflare, runtime:deno, v2

#7088 docs: remove `other-api/dev-v2`
  docs/other-api/dev-v2.md
Labels: CLA Signed, docs, package:dev, v2

#7023 docs(pages/v2): add `devServerPort` deprecation
  docs/pages/v2.md
Labels: CLA Signed, docs, package:dev, v2

#6109 chore: add `deduplicate-yarn` workflow
  .github/workflows/deduplicate-yarn.yml
Labels: CLA Signed, dependencies

#7047 chore(remix-dev): remove unused `type-fest` dependency
  packages/remix-dev/package.json
Labels: CLA Signed, feat:typescript, package:dev, dependencies

#6885 Fix typo in manifest regex
  packages/remix-dev/devServer_unstable/index.ts
  templates/arc/plugin-remix.js
Labels: CLA Signed, package:dev

#7101 chore: update `@testing-library/jest-dom`
  package.json
  packages/remix-react/package.json
  yarn.lock
Labels: CLA Signed, dependencies

#7100 chore(remix-dev): upgrade `cacache` to v17
  packages/remix-dev/cache.ts
  packages/remix-dev/package.json
  yarn.lock
Labels: CLA Signed, dependencies, v2

#7102 chore: update `supertest`
  packages/remix-express/package.json
  packages/remix-vercel/package.json
  yarn.lock
Labels: CLA Signed, dependencies

#7106 Handle disabled preload config in firefox
  .changeset/disabled-link-preload.md
  packages/remix-react/links.ts
Labels: CLA Signed, feat:routing

#7104 fix: correctly infer deferred types for top-level promises
  .changeset/tasty-apricots-doubt.md
  packages/remix-server-runtime/__tests__/serialize-test.ts
  packages/remix-server-runtime/__tests__/utils.ts
  packages/remix-server-runtime/serialize.ts
Labels: CLA Signed, feat:typescript

#7058 feat(remix-netlify)!: remove Netlify adapter
  .changeset/brown-gifts-chew.md
  .changeset/config.json
  .changeset/purple-zoos-refuse.md
  .changeset/strong-rice-applaud.md
  .changeset/v2-remove-auto-globals-install.md
  .github/workflows/deployments.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  docs/file-conventions/remix-config.md
  docs/other-api/adapter.md
  docs/pages/contributing.md
  docs/pages/v2.md
  jest.config.js
  package.json
  packages/remix-netlify/CHANGELOG.md
  packages/remix-netlify/README.md
  packages/remix-netlify/__tests__/554828.jpeg
  packages/remix-netlify/__tests__/binaryTypes.test.ts
  packages/remix-netlify/__tests__/server-test.ts
  packages/remix-netlify/__tests__/setup.ts
  packages/remix-netlify/binaryTypes.ts
  packages/remix-netlify/index.ts
  packages/remix-netlify/jest.config.js
  packages/remix-netlify/package.json
  packages/remix-netlify/rollup.config.js
  packages/remix-netlify/server.ts
  packages/remix-netlify/tsconfig.json
  rollup.utils.js
  scripts/deployment-test/netlify.mjs
  scripts/deployment-test/package.json
  scripts/publish-private.js
  scripts/publish.js
  scripts/utils.js
  tsconfig.json
  yarn.lock
Labels: CLA Signed, adapter:netlify, BREAKING CHANGE, v2

#7108 chore: add `deduplicate-yarn` workflow
  .github/workflows/deduplicate-yarn.yml
Labels: CLA Signed

#7109 feat(remix-node): replace extended classes for `NodeRequest` & `NodeResponse` with interface type casts
  .changeset/global-fetch-instanceof.md
  contributors.yml
  integration/fetch-globals-test.ts
  packages/remix-node/__tests__/fetch-test.ts
  packages/remix-node/fetch.ts
Labels: CLA Signed, feat:typescript, runtime:node, feat:fetch

#7060 fix(react): dedupe prefetch links
  .changeset/deduplicate-prefetch-link-tags.md
  integration/prefetch-test.ts
  packages/remix-react/components.tsx
  packages/remix-react/links.ts
Labels: bug, CLA Signed, renderer:react, v2

#7110 chore: update `msw`
  packages/create-remix/package.json
  packages/remix-dev/package.json
  yarn.lock
Labels: CLA Signed, dependencies

#6331 chore: let `@typescript-eslint/no-floating-promises` ESLint rule pass
  packages/remix-dev/__tests__/utils/withApp.ts
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/compiler/compiler.ts
  packages/remix-dev/compiler/fileWatchCache.ts
  packages/remix-dev/compiler/watch.ts
  packages/remix-react/components.tsx
  packages/remix-react/data.ts
  packages/remix-serve/cli.ts
Labels: CLA Signed, feat:typescript, package:dev, renderer:react

#7112 fix(dev): allow jsx in js files during hmr
  .changeset/lovely-drinks-bow.md
  packages/remix-dev/compiler/js/plugins/hmr.ts
Labels: CLA Signed

#7113 fix(dev): allow any mode (NODE_ENV)
  .changeset/wild-garlics-draw.md
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/compiler/options.ts
Labels: CLA Signed

#4054 chore(remix-dev): replace `xdm` with `@mdx-js/mdx` v2
  .changeset/xdm-to-mdx.md
  contributors.yml
  packages/remix-dev/compiler/plugins/mdx.ts
  packages/remix-dev/compiler/utils/loaders.ts
  packages/remix-dev/modules.ts
  packages/remix-dev/package.json
  yarn.lock
Labels: CLA Signed, package:dev

#7115 chore: fix `deduplicate-yarn` workflow
  .github/workflows/deduplicate-yarn.yml
Labels: CLA Signed

#7117 fix(dev): allow non-development modes for remix watch
  .changeset/empty-cameras-walk.md
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/devServer/liveReload.ts
Labels: CLA Signed

#7116 chore: update `typescript`
  docs/guides/typescript.md
  packages/remix-cloudflare-workers/package.json
  packages/remix-dev/__tests__/fixtures/cloudflare/package.json
  packages/remix-dev/__tests__/fixtures/indie-stack/package.json
  packages/remix-dev/__tests__/fixtures/node/package.json
  packages/remix-eslint-config/package.json
  packages/remix-express/package.json
  packages/remix-node/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  scripts/playground/template/package.json
  templates/arc/package.json
  templates/cloudflare-workers/package.json
  templates/express/package.json
  templates/fly/package.json
  templates/remix/package.json
  yarn.lock
Labels: CLA Signed, dependencies

#7055 chore: update `tsconfig.json` to allow latest EcmaScript version
  docs/guides/migrating-react-router-app.md
  docs/guides/typescript.md
  integration/helpers/cf-template/tsconfig.json
  integration/helpers/node-template/tsconfig.json
  integration/path-mapping-test.ts
  integration/tsconfig.json
  packages/create-remix/__tests__/fixtures/stack/tsconfig.json
  packages/create-remix/tsconfig.json
  packages/remix-architect/tsconfig.json
  packages/remix-cloudflare-pages/tsconfig.json
  packages/remix-cloudflare-workers/tsconfig.json
  packages/remix-cloudflare/tsconfig.json
  packages/remix-css-bundle/tsconfig.json
  packages/remix-dev/__tests__/fixtures/cloudflare/tsconfig.json
  packages/remix-dev/__tests__/fixtures/indie-stack/tsconfig.json
  packages/remix-dev/__tests__/fixtures/node/tsconfig.json
  packages/remix-dev/__tests__/fixtures/stack/tsconfig.json
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/tsconfig.json
  packages/remix-express/tsconfig.json
  packages/remix-node/tsconfig.json
  packages/remix-react/tsconfig.json
  packages/remix-serve/tsconfig.json
  packages/remix-server-runtime/tsconfig.json
  packages/remix-testing/tsconfig.json
  packages/remix/tsconfig.json
  scripts/deployment-test/cypress/tsconfig.json
  scripts/playground/template/tsconfig.json
  scripts/tsconfig.json
  templates/arc/tsconfig.json
  templates/cloudflare-pages/tsconfig.json
  templates/cloudflare-workers/tsconfig.json
  templates/express/tsconfig.json
  templates/fly/tsconfig.json
  templates/remix/tsconfig.json
Labels: CLA Signed, adapter:architect, adapter:express, adapter:cloudflare-pages, adapter:cloudflare-workers, docs, package:serve, feat:typescript, package:create-remix, package:dev, package:remix, template:express, template:architect, template:cloudflare-pages, template:cloudflare-workers, template:fly, template:remix, package:server-runtime, runtime:node, runtime:cloudflare, renderer:react, package:testing, package:css-bundle, v2

#7099 feat!: stop passing `isTypeScript` to `remix.init` script
  .changeset/kind-grapes-clap.md
  packages/create-remix/index.ts
  packages/remix-dev/cli/commands.ts
Labels: CLA Signed, package:create-remix, package:dev, BREAKING CHANGE, v2

#7124 templates(cloudflare-workers): use `wrangler deploy`
  contributors.yml
  templates/cloudflare-workers/package.json
Labels: CLA Signed, template:cloudflare-workers

#7128 templates(cloudflare-workers): prevent building twice
  templates/cloudflare-workers/package.json
  templates/cloudflare-workers/wrangler.toml
Labels: CLA Signed, template:cloudflare-workers

#7119 chore: fix `deduplicate-yarn` workflow
  .github/workflows/deduplicate-yarn.yml
Labels: CLA Signed, github_actions

#7085 chore(remix-dev): remove `@babel/preset-env` from dependencies
  contributors.yml
  packages/remix-dev/package.json
Labels: CLA Signed, package:dev, dependencies

#7040 feat: re-export `redirectDocument` from RR
  .changeset/friendly-fireants-report.md
  .changeset/wicked-points-unite.md
  docs/utils/redirectDocument.md
  integration/navigation-state-test.ts
  packages/remix-cloudflare/index.ts
  packages/remix-deno/index.ts
  packages/remix-node/index.ts
  packages/remix-react/package.json
  packages/remix-server-runtime/index.ts
  packages/remix-server-runtime/package.json
  packages/remix-server-runtime/responses.ts
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed, feat:routing, package:server-runtime, runtime:node, runtime:cloudflare, runtime:deno, v2

#7146 docs(tutorials/blog): fix code highlighting
  contributors.yml
  docs/tutorials/blog.md
Labels: CLA Signed, docs

#7148 docs(pages/v2): fix `useFetcher` example
  docs/pages/v2.md
Labels: CLA Signed, docs

#7136 feat(react): export Navigation type
  .changeset/quiet-lemons-fold.md
  packages/remix-react/index.tsx
Labels: CLA Signed, feat:typescript, renderer:react, v2

#7132 templates(cloudflare-workers): add `.wrangler` folder to `.gitignore`
  templates/cloudflare-workers/.gitignore
Labels: CLA Signed, template:cloudflare-workers

#7152 refactor(remix-react): switch to use `relList` to feature detect link preload support
  .changeset/disabled-link-preload.md
  packages/remix-react/links.ts
Labels: CLA Signed, renderer:react

#7063 feat(remix-dev)!: remove `devServerBroadcastDelay` config option
  .changeset/giant-crews-care.md
  docs/api/conventions.md
  docs/file-conventions/remix-config.md
  integration/helpers/cf-template/remix.config.js
  integration/helpers/deno-template/remix.config.js
  packages/remix-dev/__tests__/fixtures/cloudflare/remix.config.js
  packages/remix-dev/__tests__/fixtures/deno/remix.config.js
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
  packages/remix-dev/devServer/liveReload.ts
  templates/cloudflare-pages/remix.config.js
  templates/deno/remix.config.js
Labels: CLA Signed, docs, package:dev, template:cloudflare-pages, template:deno, BREAKING CHANGE, v2

#7163 docs(utils/cookies): remove `domain` cookie option
  docs/utils/cookies.md
Labels: CLA Signed, docs

#7158 fix(dev): stop remix dev when esbuild is not running
  .changeset/fluffy-bananas-love.md
  packages/remix-dev/compiler/watch.ts
Labels: CLA Signed, package:dev

#7137 fix(react): fix useLoaderData types in Yarn PnP
  .changeset/useloaderdata-types-yarn-pnp.md
  packages/remix-react/package.json
Labels: bug, CLA Signed, renderer:react, pm:yarn3, v2

#7168 docs(styling): remove specific CSS-in-JS example
  docs/guides/styling.md
Labels: CLA Signed, docs

#7172 fix(dev): do not trigger rebuild when .DS_Store changes
  .changeset/shiny-teachers-cheer.md
  packages/remix-dev/compiler/watch.ts
Labels: CLA Signed

#7173 chore: preserve dynamic import for remix-serve
  .changeset/v2-serve-dynamic-import.md
  packages/remix-serve/rollup.config.js
Labels: CLA Signed

#7176 fix(dev): allow decorators in app code during dev
  .changeset/khaki-roses-matter.md
  packages/remix-dev/compiler/js/plugins/hmr.ts
  packages/remix-dev/devServer_unstable/proc.ts
  packages/remix-dev/package.json
  yarn.lock
Labels: CLA Signed

#7167 tests: remove `setup` step from fixture creation
  integration/cf-compiler-test.ts
  integration/compiler-test.ts
  integration/helpers/create-fixture.ts
Labels: CLA Signed, v2

#7121 feat!: drop React 17 support
  .changeset/purple-tables-switch.md
  docs/guides/migrating-react-router-app.md
  docs/guides/typescript.md
  integration/server-entry-test.ts
  package.json
  packages/remix-dev/__tests__/fixtures/cloudflare/package.json
  packages/remix-dev/__tests__/fixtures/deno/.vscode/resolve_npm_imports.json
  packages/remix-dev/__tests__/fixtures/indie-stack/package.json
  packages/remix-dev/__tests__/fixtures/node/package.json
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/config.ts
  packages/remix-dev/config/defaults/cloudflare/entry.server.react-string.tsx
  packages/remix-dev/config/defaults/deno/entry.server.react-string.tsx
  packages/remix-dev/config/defaults/entry.client.react-string.tsx
  packages/remix-dev/config/defaults/entry.client.tsx
  packages/remix-dev/config/defaults/entry.server.cloudflare.tsx
  packages/remix-dev/config/defaults/entry.server.deno.tsx
  packages/remix-dev/config/defaults/entry.server.node.tsx
  packages/remix-dev/config/defaults/node/entry.server.react-string.tsx
  packages/remix-eslint-config/package.json
  packages/remix-react/components.tsx
  packages/remix-react/package.json
  packages/remix-testing/create-remix-stub.tsx
  packages/remix-testing/package.json
  scripts/playground/template/package.json
  templates/arc/package.json
  templates/cloudflare-pages/package.json
  templates/cloudflare-workers/package.json
  templates/express/package.json
  templates/fly/package.json
  templates/remix/package.json
  yarn.lock
Labels: CLA Signed, docs, package:eslint-config, template:express, template:architect, template:cloudflare-pages, template:cloudflare-workers, template:fly, template:remix, renderer:react, package:testing, BREAKING CHANGE, v2

#7165 chore(remix-dev): remove unused code
  packages/create-remix/__tests__/create-remix-test.ts
  packages/create-remix/__tests__/github-mocks.ts
  packages/create-remix/__tests__/msw.ts
  packages/remix-dev/__tests__/fixtures/arc.tar.gz
  packages/remix-dev/__tests__/fixtures/indie-stack/app/entry.client.tsx
  packages/remix-dev/__tests__/fixtures/indie-stack/app/entry.server.tsx
  packages/remix-dev/__tests__/fixtures/indie-stack/app/root.tsx
  packages/remix-dev/__tests__/fixtures/indie-stack/app/routes/index.tsx
  packages/remix-dev/__tests__/fixtures/indie-stack/cypress/e2e/smoke.cy.ts
  packages/remix-dev/__tests__/fixtures/indie-stack/cypress/support/commands.ts
  packages/remix-dev/__tests__/fixtures/indie-stack/cypress/support/create-user.ts
  packages/remix-dev/__tests__/fixtures/indie-stack/cypress/support/delete-user.ts
  packages/remix-dev/__tests__/fixtures/indie-stack/cypress/support/e2e.ts
  packages/remix-dev/__tests__/fixtures/indie-stack/mocks/index.js
  packages/remix-dev/__tests__/fixtures/indie-stack/package.json
  packages/remix-dev/__tests__/fixtures/indie-stack/prisma/seed.ts
  packages/remix-dev/__tests__/fixtures/indie-stack/public/favicon.ico
  packages/remix-dev/__tests__/fixtures/indie-stack/remix.config.js
  packages/remix-dev/__tests__/fixtures/indie-stack/remix.env.d.ts
  packages/remix-dev/__tests__/fixtures/indie-stack/test/setup-test-env.ts
  packages/remix-dev/__tests__/fixtures/indie-stack/tsconfig.json
  packages/remix-dev/__tests__/fixtures/indie-stack/vitest.config.ts
  packages/remix-dev/__tests__/github-mocks.ts
  packages/remix-dev/__tests__/msw.ts
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/__tests__/useJavascript-test.ts
  packages/remix-dev/cli/useJavascript.ts
  packages/remix-dev/package.json
  packages/remix-dev/transform/create.ts
  packages/remix-dev/transform/index.ts
  packages/remix-dev/transform/plugin.ts
  packages/remix-dev/transform/plugins/recast.ts
  yarn.lock
Labels: CLA Signed, package:dev, v2

#7161 docs(tutorials/blog): update to be compatible with `v2_dev`
  docs/tutorials/blog.md
Labels: CLA Signed, docs, package:dev, v2

#7179 chore(remix-dev): stop ignoring missing `react-dom/client` for React 17
  packages/remix-dev/config/defaults/entry.dev.ts
Labels: CLA Signed, package:dev, v2

#7174 fix(remix-serve): update shared build utils to preserve dynamic imports for CLIs
  integration/bug-report-test.ts
  integration/helpers/create-fixture.ts
  integration/remix-serve-test.ts
  packages/remix-serve/cli.ts
  rollup.utils.js
Labels: CLA Signed, package:serve

#7074 feat: support bun package manager
  .changeset/popular-trains-do.md
  docs/other-api/create-remix.md
  packages/create-remix/__tests__/create-remix-test.ts
  packages/create-remix/index.ts
  packages/remix-dev/cli/detectPackageManager.ts
  packages/remix-dev/devServer_unstable/index.ts
Labels: CLA Signed, docs, package:create-remix, package:dev

#7182 chore: add changeset for #6813
  .changeset/cool-penguins-film.md
Labels: CLA Signed

#7178 chore: fix `deduplicate-yarn` workflow
  .github/workflows/deduplicate-yarn.yml
Labels: CLA Signed, github_actions

#7183 chore: update `@npmcli/package-json`
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/config.ts
  packages/remix-dev/package.json
  scripts/deployment-test/package.json
  yarn.lock
Labels: CLA Signed, package:dev, dependencies

#7185 chore: fix `deduplicate-yarn` workflow
  .github/workflows/deduplicate-yarn.yml
Labels: CLA Signed

#7105 feat(meta): add thrown `error` to the `meta` params
  .changeset/add-error-to-meta.md
  docs/route/meta.md
  integration/meta-test.ts
  packages/remix-react/components.tsx
  packages/remix-react/routeModules.ts
Labels: CLA Signed, docs, renderer:react, feat:links-meta

#7150 fix: use `headers.entries()` instead of `headers.raw()`
  .changeset/orange-suits-nail.md
  packages/remix-architect/__tests__/server-test.ts
  packages/remix-architect/server.ts
  packages/remix-express/__tests__/server-test.ts
  packages/remix-express/server.ts
  packages/remix-node/package.json
  yarn.lock
Labels: CLA Signed, adapter:architect, adapter:express, v2

#7187 fix(dev): improve minified CSS compatibility
  .changeset/improve-minified-css-compatibility.md
  packages/remix-dev/compiler/css/bundle.ts
  packages/remix-dev/compiler/css/compiler.ts
  packages/remix-dev/compiler/plugins/cssImports.ts
  packages/remix-dev/compiler/utils/cssTarget.ts
Labels: CLA Signed, package:dev, v2

#7194 Fix bug in create-remix git repo path collisions
  packages/create-remix/copy-template.ts
Labels: CLA Signed

#7202 chore(templates/remix): esm by default
  templates/remix-javascript/.eslintrc.cjs
  templates/remix-javascript/package.json
  templates/remix-javascript/remix.config.js
  templates/remix/.eslintrc.cjs
  templates/remix/package.json
  templates/remix/remix.config.js
Labels: CLA Signed, template:remix, template:remix-javascript

#7215 refactor(deno): fix Deno lint errors
  packages/remix-deno/sessions/fileStorage.ts
Labels: CLA Signed

#7214 fix(dev): remove server bare import package check
  integration/compiler-test.ts
  packages/remix-dev/compiler/server/plugins/bareImports.ts
Labels: CLA Signed, package:dev, v2

#7218 refactor(deno): fix Deno lint errors
  packages/remix-deno/sessions/fileStorage.ts
Labels: CLA Signed, runtime:deno

#7198 fix(dev): support polyfill package imports in deps
  .changeset/polyfill-package-imports-in-deps.md
  packages/remix-dev/compiler/css/compiler.ts
  packages/remix-dev/compiler/js/compiler.ts
  packages/remix-dev/package.json
  yarn.lock
Labels: bug, CLA Signed, package:dev, v2

#7225 Improve Session API docs
  contributors.yml
  docs/utils/sessions.md
Labels: CLA Signed

#7062 feat(create-remix): add `--overwrite` flag
  .changeset/create-remix-overwrite.md
  docs/other-api/create-remix.md
  packages/create-remix/__tests__/create-remix-test.ts
  packages/create-remix/__tests__/fixtures/with-ignored-dir/package.json
  packages/create-remix/copy-template.ts
  packages/create-remix/index.ts
  packages/create-remix/package.json
  packages/create-remix/utils.ts
  yarn.lock
Labels: CLA Signed, package:create-remix

#7133 Update Remix to use route.lazy from React Router
  .changeset/sour-parrots-dream.md
  .gitignore
  packages/remix-react/browser.tsx
  packages/remix-react/components.tsx
  packages/remix-react/index.tsx
  packages/remix-react/package.json
  packages/remix-react/routes.tsx
  packages/remix-react/scroll-restoration.tsx
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed, feat:routing, renderer:react, v2

#7211 fix(remix-dev): update `handleError` to properly receive `ErrorResponse` instances
  .changeset/handle-error-response.md
  integration/error-data-request-test.ts
  integration/error-sanitization-test.ts
  packages/remix-server-runtime/__tests__/handle-error-test.ts
  packages/remix-server-runtime/__tests__/server-test.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed, package:dev

#7229 refactor!(serve): remove undocumented `createApp` node api
  .changeset/grumpy-trees-flow.md
  packages/remix-serve/cli.ts
  packages/remix-serve/env.ts
  packages/remix-serve/index.ts
  packages/remix-serve/package.json
  packages/remix-serve/rollup.config.js
  packages/remix-serve/tsconfig.json
Labels: CLA Signed

#6842 Add support for X-Remix-Reload-Document header
  .changeset/wicked-points-unite.md
  contributors.yml
  integration/redirects-test.ts
  packages/remix-react/routes.tsx
Labels: CLA Signed, feat:routing

#7230 feat: remove references to fetch polyfills
  .changeset/remove-fetch-polyfill-references-in-adapters.md
  packages/remix-architect/server.ts
  packages/remix-express/server.ts
Labels: CLA Signed

#7234 fix(remix-server-runtime): construct requests with duplex option
  .changeset/use-fetch-duplex.md
  packages/remix-server-runtime/data.ts
Labels: CLA Signed, package:server-runtime

#7233 fix(dev): remove unused css-bundle path resolution
  packages/remix-dev/compiler/plugins/cssBundlePlugin.ts
Labels: CLA Signed, package:dev

#7241 Adjust flaky tests
  integration/redirects-test.ts
Labels: CLA Signed

#7177 templates: ignore `metafile.*` files
  templates/arc/.gitignore
  templates/arc/app.arc
  templates/arc/server/config.arc
  templates/cloudflare-pages/.gitignore
  templates/express/.gitignore
  templates/netlify/.gitignore
  templates/vercel/.gitignore
Labels: CLA Signed, template:express, template:architect, template:vercel, template:cloudflare-pages, template:netlify

#7228 docs(other-api/node): remove Cloudflare/Deno references
  docs/other-api/node.md
Labels: CLA Signed, docs

#7245 refactor(remix-node): remove recursion from stream utilities
  .changeset/remove-stream-recursion.md
  packages/remix-node/stream.ts
Labels: CLA Signed, runtime:node

#7255 Docs contributions
  contributors.yml
  docs/discussion/01-runtimes.md
  docs/start/tutorial.md
Labels: CLA Signed

#7243 docs: remove API docs
  docs/api/conventions.md
  docs/api/index.md
  docs/api/remix.md
Labels: CLA Signed, docs, v2

#7231 feat(serve): manual mode integration
  .changeset/dirty-bags-wink.md
  integration/helpers/create-fixture.ts
  integration/helpers/node-template/package.json
  integration/hmr-log-test.ts
  integration/hmr-test.ts
  package.json
  packages/remix-serve/cli.ts
  packages/remix-serve/package.json
  templates/remix-javascript/package.json
  templates/remix/package.json
  yarn.lock
Labels: CLA Signed, package:serve, template:remix, template:remix-javascript

#7212 docs(tutorials/contacts): bring in line with other tutorials
  docs/start/tutorial.md
Labels: CLA Signed, docs, v2

#6598 fix(dev): Fix bug with expires in createSessionStorage
  contributors.yml
  packages/remix-node/__tests__/sessions-test.ts
  packages/remix-node/sessions/fileStorage.ts
  packages/remix-server-runtime/sessions.ts
Labels: CLA Signed, feat:sessions

#7250 Speed up github actions for PRs
  .github/workflows/reusable-test.yml
  .github/workflows/shared-build.yml
  .github/workflows/shared-test-integration.yml
  .github/workflows/shared-test-unit.yml
  .github/workflows/test-full.yml
  .github/workflows/test-pr-ubuntu.yml
  .github/workflows/test-pr-windows-macos.yml
  .github/workflows/test.yml
  integration/fetcher-test.ts
  integration/hmr-test.ts
  integration/playwright.config.ts
Labels: CLA Signed, github_actions

#7257 Add back useFetcher wrapper for SerializeFrom
  packages/remix-react/components.tsx
  packages/remix-react/index.tsx
Labels: CLA Signed, feat:typescript, renderer:react, v2

#7252 fix(remix-server-runtime): fix `destroySession` for cookies with `maxAge`
  .changeset/destory-session-maxage.md
  packages/remix-server-runtime/__tests__/sessions-test.ts
  packages/remix-server-runtime/sessions.ts
  packages/remix-server-runtime/sessions/cookieStorage.ts
Labels: CLA Signed, package:server-runtime

#7249 fix: fix `MetaMatch` type across client & server
  packages/remix-react/routeModules.ts
  packages/remix-server-runtime/routeModules.ts
Labels: CLA Signed, feat:typescript, package:server-runtime, renderer:react, v2

#7244 feat: export `ErrorResponse` type
  .changeset/error-response-type.md
  packages/remix-cloudflare/index.ts
  packages/remix-deno/index.ts
  packages/remix-node/index.ts
  packages/remix-react/errors.ts
  packages/remix-react/index.tsx
  packages/remix-react/package.json
  packages/remix-server-runtime/__tests__/handle-error-test.ts
  packages/remix-server-runtime/index.ts
  packages/remix-server-runtime/package.json
  packages/remix-server-runtime/reexport.ts
  packages/remix-server-runtime/server.ts
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed, feat:typescript, package:server-runtime, runtime:node, runtime:cloudflare, renderer:react, runtime:deno

#7162 docs(tutorials/jokes): update to be compatible with `v2_dev`
  docs/guides/manual-mode.md
  docs/tutorials/jokes.md
Labels: CLA Signed, docs, package:dev, v2

#7190 docs(start/quickstart): bring in line with other tutorials
  docs/start/quickstart.md
Labels: CLA Signed, docs, v2

#7268 docs(other-api/adapter): add PartyMix to community adapters
  contributors.yml
  docs/other-api/adapter.md
Labels: CLA Signed, docs

#7259 Switch release branches to use new workflows
  .github/workflows/release-test.yml
  .github/workflows/reusable-test.yml
  .github/workflows/shared-build.yml
  .github/workflows/shared-test-integration.yml
  .github/workflows/shared-test-unit.yml
  .github/workflows/test-full.yml
  .github/workflows/test-pr-ubuntu.yml
  .github/workflows/test-pr-windows-macos.yml
Labels: CLA Signed, github_actions

#7205 test(remix-server-runtime): remove polyfill references
  packages/remix-server-runtime/__tests__/formData-test.ts
  packages/remix-server-runtime/__tests__/setup.ts
  packages/remix-server-runtime/package.json
Labels: CLA Signed, package:server-runtime, v2

#7278 feat!(serve): pick an open port when 3000 is already taken
  .changeset/beige-pugs-drive.md
  packages/remix-serve/cli.ts
  packages/remix-serve/package.json
  yarn.lock
Labels: CLA Signed

#7283 Bump router to prerelease
  .changeset/light-rivers-tell.md
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed

#7272 fix(dev): get deps from ESM packages without main
  .changeset/get-dependencies-from-esm-without-main.md
  integration/compiler-test.ts
  packages/remix-dev/dependencies.ts
Labels: CLA Signed, package:dev, v2

#7269 feat(dev): make browser Node polyfills opt-in
  .changeset/global-polyfills.md
  .changeset/remove-default-node-polyfills.md
  .changeset/remove-default-server-node-polyfills.md
  .changeset/restart-dev-server-on-remix-config-change.md
  docs/file-conventions/remix-config.md
  docs/guides/v2.md
  integration/compiler-test.ts
  integration/upload-test.ts
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/compiler/compiler.ts
  packages/remix-dev/compiler/js/compiler.ts
  packages/remix-dev/compiler/js/index.ts
  packages/remix-dev/compiler/js/plugins/browserNodeBuiltinsPolyfill.ts
  packages/remix-dev/compiler/js/write.ts
  packages/remix-dev/compiler/server/compiler.ts
  packages/remix-dev/compiler/server/plugins/serverNodeBuiltinsPolyfill.ts
  packages/remix-dev/compiler/watch.ts
  packages/remix-dev/config.ts
  packages/remix-dev/package.json
  yarn.lock
Labels: CLA Signed, package:dev, v2

#7220 chore: update Jest
  jest.config.js
  jest/jest.config.shared.js
  package.json
  packages/create-remix/__tests__/create-remix-test.ts
  packages/create-remix/jest.config.js
  packages/remix-architect/__tests__/server-test.ts
  packages/remix-architect/jest.config.js
  packages/remix-dev/__tests__/cli-test.ts
  packages/remix-dev/__tests__/cssSideEffectImports-test.ts
  packages/remix-dev/__tests__/defineRoutes-test.ts
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/jest.config.js
  packages/remix-dev/package.json
  packages/remix-eslint-config/README.md
  packages/remix-eslint-config/package.json
  packages/remix-express/__tests__/server-test.ts
  packages/remix-express/jest.config.js
  packages/remix-node/jest.config.js
  packages/remix-react/__tests__/integration/meta-test.tsx
  packages/remix-react/jest.config.js
  packages/remix-react/package.json
  packages/remix-server-runtime/__tests__/cookies-test.ts
  packages/remix-server-runtime/jest.config.js
  packages/remix-testing/jest.config.js
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed, package:eslint-config, renderer:react, dependencies, package:testing, v2

#7280 fix(dev): kill app server when `remix dev` terminates
  .changeset/olive-chefs-jam.md
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/devServer_unstable/index.ts
Labels: CLA Signed, package:dev

#7292 compile server build to node 18
  .changeset/young-pants-buy.md
  packages/remix-dev/compiler/server/compiler.ts
Labels: CLA Signed

#7277 feat(create-remix): allow dots in nested folder names in GitHub repo shorthand
  .changeset/create-remix-folder-names-dot.md
  packages/create-remix/__tests__/create-remix-test.ts
  packages/create-remix/__tests__/fixtures/nested-dir-repo.tar.gz
  packages/create-remix/copy-template.ts
  packages/create-remix/index.ts
Labels: CLA Signed, package:create-remix

#7264 chore: cleanup `createFixtureProject` in integration test helpers
  integration/helpers/create-fixture.ts
Labels: CLA Signed

#7299 write build version to `version.txt` alongside the server build
  .changeset/pretty-ears-vanish.md
  packages/remix-dev/compiler/compiler.ts
Labels: CLA Signed

#7294 test: remove polyfill references from Node adapters
  packages/remix-architect/__tests__/server-test.ts
  packages/remix-express/__tests__/server-test.ts
Labels: CLA Signed, adapter:architect, adapter:express, v2

#7304 Add some clarity to the new create-remix CLI + templates option
  docs/guides/templates.md
  docs/other-api/create-remix.md
Labels: CLA Signed

#7279 Update CI workflows to cancel based on built-in concurrency setting
  .github/workflows/deployments.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/stacks.yml
Labels: CLA Signed, github_actions

#7203 feat(remix-node): use Web Crypto API in `createFileSessionStorage`
  .changeset/node-web-crypto.md
  packages/remix-node/sessions/fileStorage.ts
Labels: CLA Signed, runtime:node, v2

#7217 refactor: use native `Blob` class
  .changeset/use-native-blob.md
  packages/remix-node/fetch.ts
  packages/remix-node/globals.ts
Labels: CLA Signed, package:server-runtime, runtime:node, v2

#7306 do not interpret JSX in .ts files
  .changeset/gorgeous-carrots-dance.md
  packages/remix-dev/compiler/js/plugins/hmr.ts
Labels: CLA Signed

#7315 Add docs on error santization
  docs/guides/errors.md
Labels: docs, package:server-runtime

#7271 templates: remove polyfill references
  docs/guides/migrating-react-router-app.md
  integration/defer-test.ts
  packages/remix-dev/config/defaults/entry.server.node.tsx
  scripts/playground/template/app/entry.server.tsx
  templates/arc/app/entry.server.tsx
  templates/express/app/entry.server.tsx
  templates/fly/app/entry.server.tsx
  templates/remix-javascript/app/entry.server.jsx
  templates/remix/app/entry.server.tsx
Labels: CLA Signed, docs, package:dev, template:express, template:architect, template:fly, template:remix, v2, template:remix-javascript

#7316 feat(remix-react): re-export `ShouldRevalidateFunctionArgs`
  .changeset/brown-flowers-push.md
  packages/remix-react/index.tsx
Labels: CLA Signed, renderer:react

#7317 fix(remix-dev): remove `sort-package-json`
  .changeset/metal-horses-camp.md
  package.json
  packages/remix-dev/package.json
Labels: CLA Signed, feat:typescript, package:dev, dependencies, v2
