Repository remix-run/remix, pull requests merged in 2023-07, with the labels that each got.

#6756 fix(docs): Avoid ghost value creation when using `app/utils/remember.ts`
  contributors.yml
  docs/other-api/dev-v2.md
Labels: CLA Signed

#6724 fix(dev): better networking options
  .changeset/dry-items-deliver.md
  docs/other-api/dev-v2.md
  packages/remix-dev/__tests__/cli-test.ts
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/cli/run.ts
  packages/remix-dev/compiler/js/compiler.ts
  packages/remix-dev/compiler/options.ts
  packages/remix-dev/compiler/server/compiler.ts
  packages/remix-dev/compiler/server/plugins/entry.ts
  packages/remix-dev/config.ts
  packages/remix-dev/devServer_unstable/index.ts
  packages/remix-dev/server-build.ts
  packages/remix-react/__tests__/components-test.tsx
  packages/remix-react/components.tsx
  packages/remix-server-runtime/build.ts
  packages/remix-server-runtime/dev.ts
  packages/remix-server-runtime/server.ts
  packages/remix-server-runtime/serverHandoff.ts
Labels: CLA Signed

#6764 docs(tutorials/blog): don't use unnecessary string literals
  contributors.yml
  docs/tutorials/blog.md
Labels: CLA Signed, docs

#5157 feat(remix-react): add types to `useRouteLoaderData`
  .changeset/type-userouteloaderdata.md
  packages/remix-react/__tests__/hook-types-test.tsx
  packages/remix-react/components.tsx
  packages/remix-react/index.tsx
Labels: CLA Signed, feat:typescript, renderer:react

#6771 docs(dev-v2): links to v2_dev videos
  docs/other-api/dev-v2.md
Labels: CLA Signed

#6762 fix(dev): fix sourcemaps for v2_dev
  .changeset/nine-islands-mate.md
  packages/remix-dev/compiler/js/plugins/hmr.ts
Labels: CLA Signed

#6772 feat(dev): output esbuild metafiles for bundle analysis
  .changeset/red-bananas-design.md
  packages/remix-dev/compiler/analysis.ts
  packages/remix-dev/compiler/css/compiler.ts
  packages/remix-dev/compiler/js/compiler.ts
  packages/remix-dev/compiler/server/compiler.ts
Labels: CLA Signed

#6773 fix(dev): ignore errors when killing already dead processes
  .changeset/kind-coins-attack.md
  packages/remix-dev/devServer_unstable/proc.ts
Labels: CLA Signed

#6750 docs(tutorials/blog): admin route no longer lives in the `posts` dir
  contributors.yml
  docs/tutorials/blog.md
Labels: CLA Signed, docs

#6775 docs(other-api/dev-v2): fix video link
  docs/other-api/dev-v2.md
Labels: CLA Signed, docs

#6757 fix: propagate NODE_ENV to application in arc sandbox mode
  templates/arc/plugin-remix.js
Labels: CLA Signed

#6776 fix(dev): ensure build dir exists when writing metafiles
  packages/remix-dev/compiler/analysis.ts
Labels: CLA Signed

#6779 fix(dev): log instead of throw when process cannot be killed
  packages/remix-dev/devServer_unstable/proc.ts
Labels: CLA Signed

#6781 Don't restart `arc sandbox` on code changes
  templates/arc/package.json
Labels: CLA Signed

#6796 templates(arc): remove `preferences.arc` instructions
  templates/arc/README.md
Labels: CLA Signed

#6800 docs: use `useNavigation` instead of `useTransition`
  docs/components/form.md
  docs/guides/data-writes.md
  docs/hooks/use-action-data.md
  docs/hooks/use-fetcher.md
  docs/hooks/use-submit.md
  docs/pages/technical-explanation.md
  integration/link-test.ts
Labels: CLA Signed, docs

#6245 test: we switched to playwright but didnt update all references
  integration/abort-signal-test.ts
  integration/bug-report-test.ts
  integration/defer-test.ts
  integration/scroll-test.ts
  integration/set-cookie-revalidation-test.ts
  packages/remix-architect/__tests__/server-test.ts
  packages/remix-express/__tests__/server-test.ts
  packages/remix-netlify/__tests__/server-test.ts
  packages/remix-vercel/__tests__/server-test.ts
Labels: CLA Signed

#6730 Update docs cloudflare-pages accessing env variable
  contributors.yml
  docs/guides/envvars.md
Labels: CLA Signed, adapter:cloudflare-pages, docs

#6150 chore: update how `REMIX_LOCAL_BUILD_DIRECTORY` is resolved
  DEVELOPMENT.md
  packages/remix/rollup.config.js
  rollup.utils.js
  scripts/copy-build-to-dist.mjs
Labels: CLA Signed

#6810 fix(remix-react): fix `fetcher.formEncType`
  .changeset/chatty-pears-float.md
  contributors.yml
  packages/remix-react/transition.ts
Labels: CLA Signed, feat:routing, feat:typescript, renderer:react

#6767 fix(dev): Wait for the router to be initialized in RemixBrowser before applying HMR changes
  .changeset/mean-months-lick.md
  contributors.yml
  packages/remix-react/browser.tsx
Labels: CLA Signed, package:dev, feat:dx

#2919 Bug: Back navigation from ErrorBoundary does not work properly #2896
  integration/error-boundary-test.ts
  integration/helpers/playwright-fixture.ts
Labels: bug, CLA Signed, feat:routing

#6783 Properly handle in-flight network errors on _data requests
  .changeset/handle-network-errors.md
  integration/error-boundary-v2-test.ts
  packages/remix-react/data.ts
  packages/remix-server-runtime/__tests__/data-test.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed, feat:routing

#5116 chore(bug-report): Failing test for issue Redirect with absolute path results in 404s
  contributors.yml
  integration/redirects-test.ts
Labels: CLA Signed, feat:routing

#6812 Bump router
  .changeset/chilly-impalas-prove.md
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed

#6793 fix: invalid deferred data hanging response
  .changeset/deferred-data-hang.md
  integration/defer-test.ts
  packages/remix-react/components.tsx
  packages/remix-react/entry.ts
  packages/remix-react/server.tsx
  packages/remix-server-runtime/entry.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed, package:server-runtime, renderer:react

#6816 Add failing test for empty file input uploads
  .changeset/large-dodos-bathe.md
  integration/form-test.ts
  packages/remix-node/package.json
  yarn.lock
Labels: CLA Signed

#6820 Fix bug with ?_data request on non-matching route
  .changeset/shaggy-boats-explain.md
  contributors.yml
  packages/remix-server-runtime/__tests__/server-test.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed

#6814 feat(dev): add `serverNodeBuiltinsPolyfill` option
  .changeset/exclude-unimplemented-server-polyfills.md
  .changeset/server-node-builtins-polyfill.md
  docs/file-conventions/remix-config.md
  docs/pages/v2.md
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/compiler/server/compiler.ts
  packages/remix-dev/config.ts
  packages/remix-dev/package.json
  yarn.lock
Labels: CLA Signed, package:dev

#6818 chore(dev): warn if not using `v2_dev`
  .changeset/hot-ducks-march.md
  docs/guides/dev-perf.md
  docs/guides/manual-mode.md
  docs/guides/performance.md
  docs/other-api/dev-v2.md
  docs/pages/v2.md
  packages/remix-dev/__tests__/cli-test.ts
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/cli/run.ts
  packages/remix-dev/config.ts
  packages/remix-dev/devServer_unstable/index.ts
Labels: CLA Signed, docs, package:dev

#6835 v2_dev docs improvements
  .changeset/strange-mayflies-relax.md
  docs/guides/manual-mode.md
  docs/other-api/dev-v2.md
Labels: CLA Signed

#6840 docs(tutorials/jokes): fix `getUser`
  docs/tutorials/jokes.md
Labels: CLA Signed, docs

#6843 docs(pages/v2): fix dev v2 link
  contributors.yml
  docs/pages/v2.md
Labels: CLA Signed, docs

#6837 fix(dev): always rewrite css-derived assets
  .changeset/long-teachers-marry.md
  packages/remix-dev/compiler/plugins/cssImports.ts
Labels: CLA Signed, package:dev

#6832 templates(cloudflare-pages,cloudflare-workers): adjust `serverConditions`
  templates/cloudflare-pages/remix.config.js
  templates/cloudflare-workers/remix.config.js
Labels: CLA Signed, template:cloudflare-pages, template:cloudflare-workers

#6830 docs(other-api/dev-v2): update MSW explanation
  docs/other-api/dev-v2.md
Labels: CLA Signed, docs, package:dev

#6854 Bump router
  .changeset/silver-grapes-beg.md
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed

#6856 chore: re-export some react-router-dom things from @remix-run/react
  .changeset/popular-insects-visit.md
  packages/remix-react/index.tsx
Labels: CLA Signed

#6859 feat(dev): support empty server polyfills
  .changeset/nice-moons-kick.md
  .changeset/server-node-builtins-polyfill.md
  docs/file-conventions/remix-config.md
  packages/remix-dev/compiler/server/compiler.ts
  packages/remix-dev/config.ts
  packages/remix-dev/package.json
  yarn.lock
Labels: CLA Signed, package:dev

#6879 Update template instructions on copying to a newly created remix app
  templates/express/README.md
  templates/remix/README.md
Labels: CLA Signed

#5997 docs(utils/cookies): encourage `*.server` filename
  docs/utils/cookies.md
Labels: CLA Signed, docs, feat:cookies

#6884 Rename --no-restart to --manual in docs and templates
  docs/pages/v2.md
  templates/arc/package.json
  templates/cloudflare-pages/package.json
  templates/cloudflare-workers/package.json
  templates/express/package.json
Labels: CLA Signed

#6893 docs: improve v2_dev instructions
  docs/file-conventions/remix-config.md
  docs/guides/dev-perf.md
  docs/guides/manual-mode.md
  docs/other-api/dev-v2.md
  docs/other-api/serve.md
  docs/pages/v2.md
Labels: CLA Signed

#6865 feat(remix-react)!: remove `unstable_shouldReload` references
  .changeset/remove-unstable-should-reload.md
  docs/api/conventions.md
  docs/route/should-reload.md
  packages/remix-react/index.tsx
  packages/remix-react/routeModules.ts
Labels: docs, feat:routing, renderer:react, v2

#6870 feat(remix-react)!: remove `useTransition`
  .changeset/v2-remove-use-transition.md
  docs/api/remix.md
  docs/guides/data-writes.md
  docs/hooks/use-fetcher.md
  docs/hooks/use-transition.md
  integration/cf-compiler-test.ts
  integration/compiler-test.ts
  integration/defer-test.ts
  integration/link-test.ts
  integration/navigation-state-test.ts
  integration/navigation-state-v2-test.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/posts/admin/new.tsx
  packages/remix-dev/codemod/replace-remix-magic-imports/utils/export.ts
  packages/remix-eslint-config/rules/packageExports.js
  packages/remix-react/components.tsx
  packages/remix-react/index.tsx
  packages/remix-react/transition.ts
  rollup.utils.js
Labels: CLA Signed, docs, feat:routing, renderer:react, v2

#6874 feat(remix-react)!: remove fetcher back-compat layer
  .changeset/v2-remove-fetcher-compat.md
  integration/fetcher-state-test.ts
  packages/remix-react/components.tsx
  packages/remix-react/index.tsx
  packages/remix-react/transition.ts
Labels: CLA Signed, feat:routing, renderer:react, v2

#6899 feat(remix-dev)!: remove `replace-remix-magic-imports` codemod
  .changeset/neat-impalas-divide.md
  packages/remix-dev/__tests__/codemod-replaceRemixMagicImports-test.ts
  packages/remix-dev/__tests__/codemod-test.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/db.server.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/entry.client.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/entry.server.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/models/note.server.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/models/post.server.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/models/user.server.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/root.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/healthcheck.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/index.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/join.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/login.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/logout.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/notes.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/notes/$noteId.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/notes/index.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/notes/new.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/posts/$slug.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/posts/admin.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/posts/admin/index.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/posts/admin/new.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/routes/posts/index.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/session.server.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/utils.test.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/utils.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/package.json
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/public/favicon.ico
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/remix.config.js
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/remix.env.d.ts
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/tailwind.config.js
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/tsconfig.json
  packages/remix-dev/__tests__/routesConvention-test.ts
  packages/remix-dev/__tests__/transform-replaceRemixMagicImports-test.ts
  packages/remix-dev/codemod/index.ts
  packages/remix-dev/codemod/replace-remix-magic-imports/index.ts
  packages/remix-dev/codemod/replace-remix-magic-imports/transform.ts
  packages/remix-dev/codemod/replace-remix-magic-imports/utils/dependencies.ts
  packages/remix-dev/codemod/replace-remix-magic-imports/utils/detect.ts
  packages/remix-dev/codemod/replace-remix-magic-imports/utils/export.ts
  packages/remix-dev/codemod/replace-remix-magic-imports/utils/postinstall.ts
  packages/remix-dev/codemod/replace-remix-magic-imports/utils/remix.ts
Labels: CLA Signed, package:dev, v2

#6898 feat(remix-cloudflare)!: remove `createCloudflareKVSessionStorage`
  .changeset/fuzzy-mugs-swim.md
  integration/cf-compiler-test.ts
  packages/remix-cloudflare/index.ts
Labels: CLA Signed, runtime:cloudflare, v2

#6900 feat(remix-dev)!: remove `browserBuildDirectory` config option
  .changeset/silver-readers-think.md
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev, v2

#6896 feat(remix-dev)!: remove `serverBuildTarget` config option
  .changeset/cool-wombats-chew.md
  docs/api/conventions.md
  docs/file-conventions/remix-config.md
  packages/remix-dev/__tests__/fixtures/cloudflare/remix.config.js
  packages/remix-dev/__tests__/fixtures/deno/remix.config.js
  packages/remix-dev/__tests__/fixtures/stack/remix.config.js
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev, v2

#6902 feat(remix-eslint-config)!: remove magic imports ESLint warnings
  .changeset/remove-magic-import-eslint-warnings.md
  packages/remix-eslint-config/rules/core.js
  packages/remix-eslint-config/rules/packageExports.js
Labels: CLA Signed, package:eslint-config, v2

#6903 feat(remix-eslint-config)!: remove `@remix-run/eslint-config/jest` ESLint config
  .changeset/heavy-crabs-kick.md
  packages/remix-eslint-config/jest.js
Labels: CLA Signed, package:eslint-config, v2

#6897 feat(remix-dev)!: remove `serverBuildDirectory` config option
  .changeset/tame-moons-buy.md
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev, v2

#6910 docs: add PostCSS/Tailwind support to v2 guide
  docs/pages/v2.md
Labels: CLA Signed, docs, v2

#6912 Remove `build.dev` in favour of `process.env.NODE_ENV` in the Cloudflare Workers template
  contributors.yml
  templates/cloudflare-workers/server.ts
Labels: CLA Signed, package:dev, template:cloudflare-workers

#6904 liveReload: add hearbeat for keepalive
  packages/remix-dev/devServer/liveReload.ts
Labels: CLA Signed, package:dev, feat:dx

#6920 Revert "liveReload: add hearbeat for keepalive"
  packages/remix-dev/devServer/liveReload.ts
Labels: CLA Signed

#6894 chore: shake out HMR code from production build
  .changeset/shake-it-out.md
  packages/remix-dev/compiler/js/compiler.ts
Labels: CLA Signed, package:dev

#6918 feat!(v2): remove codemod
  .changeset/stupid-emus-repair.md
  packages/remix-dev/__tests__/cli-test.ts
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/cli/run.ts
  packages/remix-dev/codemod/codemod.ts
  packages/remix-dev/codemod/index.ts
  packages/remix-dev/codemod/utils/error.ts
  packages/remix-dev/codemod/utils/git.ts
  packages/remix-dev/codemod/utils/log.ts
  packages/remix-dev/codemod/utils/task.ts
  packages/remix-dev/compiler/plugins/deprecatedRemixPackage.ts
Labels: CLA Signed

#6916 fix(dev): remove outdated esm import warnings
  .changeset/selfish-months-behave.md
  integration/esm-only-warning-test.ts
  packages/remix-dev/compiler/server/plugins/bareImports.ts
Labels: CLA Signed

#6927 Heartbeat: implement in both live-reload servers
  packages/remix-dev/devServer/liveReload.ts
  packages/remix-dev/devServer_unstable/socket.ts
Labels: CLA Signed

#6905 Remove warnings from stabilized css flags
  .changeset/v2-remove-unstable-warnings.md
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev, v2

#6924 feat(remix-netlify)!: drop `@netlify/functions` v0.x support
  .changeset/brown-gifts-chew.md
  packages/remix-netlify/package.json
Labels: CLA Signed, adapter:netlify, v2

#6901 feat(remix-vercel)!: drop `@vercel/node` v1 support
  .changeset/big-papayas-jam.md
  packages/remix-vercel/package.json
Labels: CLA Signed, adapter:vercel, v2

#6925 feat!: drop `@cloudflare/workers-types` v2 & v3 support
  .changeset/seven-queens-try.md
  packages/remix-cloudflare-pages/package.json
  packages/remix-cloudflare-workers/package.json
  packages/remix-cloudflare/package.json
  templates/cloudflare-pages/package.json
  templates/cloudflare-workers/package.json
  yarn.lock
Labels: CLA Signed, adapter:cloudflare-pages, adapter:cloudflare-workers, template:cloudflare-pages, template:cloudflare-workers, runtime:cloudflare, v2

#6895 feat!: remove magic exports support
  .changeset/v2-remove-magic-exports.md
  integration/cf-compiler-test.ts
  integration/compiler-test.ts
  packages/remix-cloudflare/rollup.config.js
  packages/remix-dev/__tests__/cli-test.ts
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/cli/run.ts
  packages/remix-dev/cli/setup.ts
  packages/remix-dev/compiler/js/compiler.ts
  packages/remix-dev/compiler/plugins/deprecatedRemixPackage.ts
  packages/remix-dev/compiler/server/compiler.ts
  packages/remix-node/rollup.config.js
  packages/remix-react/rollup.config.js
  packages/remix-server-runtime/rollup.config.js
  packages/remix-testing/rollup.config.js
  packages/remix/index.ts
  packages/remix/rollup.config.js
  rollup.utils.js
Labels: CLA Signed, package:dev, package:remix, package:server-runtime, runtime:node, runtime:cloudflare, renderer:react, package:testing, v2

#6923 Use `REMIX_DEV_ORIGIN` for the live reload hostname
  .changeset/fluffy-fishes-lay.md
  contributors.yml
  packages/remix-react/components.tsx
Labels: CLA Signed

#6945 fix(create): add Node shebang to CLI script
  packages/create-remix/__tests__/create-remix-test.ts
  packages/create-remix/cli.ts
  packages/create-remix/index.ts
  packages/create-remix/rollup.config.js
Labels: CLA Signed, v2

#6909 feat(dev): support PostCSS and Tailwind by default
  .changeset/enable-css-features-by-default.md
  docs/file-conventions/remix-config.md
  docs/guides/migrating-react-router-app.md
  docs/guides/styling.md
  integration/deterministic-build-output-test.ts
  integration/hmr-log-test.ts
  integration/hmr-test.ts
  integration/postcss-test.ts
  integration/tailwind-test.ts
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
  packages/remix-react/entry.ts
  packages/remix-server-runtime/entry.ts
  packages/remix-testing/create-remix-stub.tsx
  scripts/playground/template/remix.config.js
Labels: CLA Signed, package:dev, BREAKING CHANGE, v2

#6911 feat(dev): remove default server Node polyfills
  .changeset/remove-default-server-node-polyfills.md
  docs/file-conventions/remix-config.md
  package.json
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev, BREAKING CHANGE, v2

#6951 docs: remove version from yarn/pnpm create
  docs/other-api/create-remix.md
Labels: CLA Signed, docs

#6943 Pass REMIX_DEV_* env vars through to app in Architect template
  templates/arc/plugin-remix.js
Labels: CLA Signed

#6962 refactor!(dev): remove deprecated cli args and flags
  .changeset/rich-months-search.md
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/cli/run.ts
Labels: CLA Signed

#6963 refactor!(docs,dev,server-runtime): remove deprecated REMIX_DEV_HTTP_…
  .changeset/cuddly-rings-mate.md
  docs/other-api/dev-v2.md
  packages/remix-dev/compiler/server/compiler.ts
  packages/remix-dev/devServer_unstable/index.ts
  packages/remix-server-runtime/dev.ts
Labels: CLA Signed

#6965 refactor!(dev,react): remove deprecated REMIX_DEV_SERVER_WS_PORT env var
  .changeset/moody-pants-laugh.md
  packages/remix-dev/compiler/js/compiler.ts
  packages/remix-dev/compiler/server/compiler.ts
  packages/remix-react/__tests__/components-test.tsx
  packages/remix-react/components.tsx
Labels: CLA Signed

#6966 refactor!(dev): remove deprecated dev config
  packages/remix-dev/config.ts
Labels: CLA Signed

#6980 refactor: clean flags in remix-javascript template
  templates/remix-javascript/remix.config.js
Labels: CLA Signed, v2, template:remix-javascript

#6989 docs(guides/streaming): fix typo
  contributors.yml
  docs/guides/streaming.md
Labels: CLA Signed, docs

#6986 chore(create-remix): add missing peerDependency of `esbuild-register`
  packages/create-remix/package.json
Labels: CLA Signed, package:create-remix, v2

#6982 fix: decouple css-bundle from dev
  .changeset/decouple-css-bundle-from-dev.md
  packages/remix-css-bundle/index.ts
  packages/remix-dev/compiler/plugins/cssBundlePlugin.ts
Labels: CLA Signed, package:dev, package:css-bundle

#6979 feat!: remove v1 headers behavior
  .changeset/v2-use-deepest-headers-function.md
  docs/pages/api-development-strategy.md
  docs/route/headers.md
  integration/headers-test.ts
  integration/hmr-log-test.ts
  integration/hmr-test.ts
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
  packages/remix-react/entry.ts
  packages/remix-server-runtime/entry.ts
  packages/remix-server-runtime/headers.ts
  packages/remix-testing/create-remix-stub.tsx
  templates/arc/remix.config.js
  templates/cloudflare-pages/remix.config.js
  templates/cloudflare-workers/remix.config.js
  templates/deno/remix.config.js
  templates/express/remix.config.js
  templates/fly/remix.config.js
  templates/netlify/remix.config.js
  templates/remix/remix.config.js
  templates/vercel/remix.config.js
Labels: CLA Signed, package:dev, template:express, template:architect, template:vercel, template:cloudflare-pages, template:cloudflare-workers, template:fly, template:netlify, template:remix, package:server-runtime, renderer:react, template:deno, package:testing, BREAKING CHANGE, v2

#6996 docs: use V2 routing convention
  docs/components/form.md
  docs/guides/api-routes.md
  docs/guides/constraints.md
  docs/guides/data-loading.md
  docs/guides/errors.md
  docs/guides/routing.md
  docs/guides/styling.md
  docs/hooks/use-fetcher.md
  docs/route/action.md
  docs/route/headers.md
  docs/route/loader.md
  docs/route/meta-v2.md
  docs/route/should-revalidate.md
  packages/remix-dev/__tests__/defineRoutes-test.ts
Labels: CLA Signed, docs

#6985 feat(remix-dev): remove `unstable_dev` usage warning
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev, v2

#6936 feat!: remove deprecated properties from `HtmlLinkDescriptor`, `LinkDescriptor` & `PrefetchPageDescriptor` types
  .changeset/large-goats-double.md
  integration/action-test.ts
  integration/defer-test.ts
  packages/remix-react/components.tsx
  packages/remix-react/links.ts
  packages/remix-react/warnings.ts
  packages/remix-server-runtime/links.ts
Labels: CLA Signed, feat:typescript, package:server-runtime, renderer:react, v2

#6939 feat!: require Node >=18.0.0
  .changeset/purple-zoos-refuse.md
  .github/workflows/release-test.yml
  .github/workflows/release.yml
  .github/workflows/reusable-test.yml
  .github/workflows/stacks.yml
  .nvmrc
  babel.config.js
  docs/guides/typescript.md
  docs/tutorials/blog.md
  docs/tutorials/jokes.md
  integration/compiler-mjs-output-test.ts
  integration/helpers/cf-template/package.json
  integration/helpers/deno-template/package.json
  integration/helpers/node-template/package.json
  integration/hmr-log-test.ts
  integration/hmr-test.ts
  integration/server-entry-test.ts
  package.json
  packages/create-remix/__tests__/fixtures/stack/package.json
  packages/create-remix/package.json
  packages/remix-architect/package.json
  packages/remix-cloudflare-pages/package.json
  packages/remix-cloudflare-workers/package.json
  packages/remix-cloudflare/package.json
  packages/remix-css-bundle/package.json
  packages/remix-deno/package.json
  packages/remix-dev/__tests__/fixtures/cloudflare/package.json
  packages/remix-dev/__tests__/fixtures/deno/package.json
  packages/remix-dev/__tests__/fixtures/indie-stack/package.json
  packages/remix-dev/__tests__/fixtures/node/package.json
  packages/remix-dev/__tests__/fixtures/stack/package.json
  packages/remix-dev/cli/run.ts
  packages/remix-dev/package.json
  packages/remix-eslint-config/package.json
  packages/remix-express/package.json
  packages/remix-netlify/package.json
  packages/remix-node/package.json
  packages/remix-react/package.json
  packages/remix-serve/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  packages/remix-vercel/package.json
  packages/remix/package.json
  scripts/playground/template/package.json
  templates/arc/package.json
  templates/cloudflare-pages/package.json
  templates/cloudflare-workers/package.json
  templates/deno/package.json
  templates/express/package.json
  templates/fly/package.json
  templates/netlify/package.json
  templates/remix-javascript/package.json
  templates/remix/package.json
  templates/vercel/package.json
Labels: CLA Signed, adapter:architect, adapter:vercel, adapter:express, adapter:netlify, adapter:cloudflare-pages, adapter:cloudflare-workers, docs, package:serve, package:create-remix, package:dev, package:remix, package:eslint-config, template:express, template:architect, template:vercel, template:cloudflare-pages, template:cloudflare-workers, template:fly, template:netlify, template:remix, package:server-runtime, runtime:node, runtime:cloudflare, renderer:react, template:deno, runtime:deno, package:testing, package:css-bundle, v2

#6984 templates(cloudflare-workers): add `@cloudflare/kv-asset-handler` to `dependencies`
  templates/cloudflare-workers/package.json
Labels: CLA Signed, template:cloudflare-workers

#7002 refactor!: replace `config.future.v2_dev` with `config.dev`
  .changeset/rotten-penguins-eat.md
  integration/hmr-log-test.ts
  integration/hmr-test.ts
  integration/shared-route-imports-test.ts
  packages/remix-dev/__tests__/cli-test.ts
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/cli/run.ts
  packages/remix-dev/compiler/js/compiler.ts
  packages/remix-dev/config.ts
  packages/remix-react/entry.ts
  packages/remix-serve/cli.ts
  packages/remix-server-runtime/__tests__/utils.ts
  packages/remix-server-runtime/entry.ts
  packages/remix-testing/create-remix-stub.tsx
Labels: CLA Signed

#7004 Add note on get submissions to v2 docs
  docs/pages/v2.md
Labels: CLA Signed
