Repository remix-run/remix, pull requests merged in 2023-09, with the labels that each got.

#7206 feat(remix-node): use built-in `atob` & `btoa`
  .changeset/early-trains-fold.md
  packages/remix-node/base64.ts
  packages/remix-node/globals.ts
Labels: CLA Signed, runtime:node, v2

#7324 fix(dev): revert CSS target to esbuild default
  .changeset/improve-minified-css-compatibility.md
  .changeset/perfect-dodos-itch.md
  packages/remix-dev/compiler/css/bundle.ts
  packages/remix-dev/compiler/css/compiler.ts
  packages/remix-dev/compiler/plugins/cssImports.ts
  packages/remix-dev/compiler/utils/cssTarget.ts
Labels: bug, CLA Signed, package:dev, v2

#7328 Bump to web-std-io prereleases
  .changeset/angry-trainers-give.md
  packages/remix-node/package.json
  scripts/bump-fetch-versions.sh
  yarn.lock
Labels: CLA Signed, runtime:node, feat:fetch, dependencies, v2

#7319 feat!: align types with React Router
  .changeset/align-rr-types.md
  .github/workflows/test-pr-ubuntu.yml
  .github/workflows/test-pr-windows-macos.yml
  packages/remix-cloudflare/index.ts
  packages/remix-deno/index.ts
  packages/remix-node/index.ts
  packages/remix-react/components.tsx
  packages/remix-react/data.ts
  packages/remix-react/index.tsx
  packages/remix-react/package.json
  packages/remix-react/routeModules.ts
  packages/remix-server-runtime/data.ts
  packages/remix-server-runtime/index.ts
  packages/remix-server-runtime/package.json
  packages/remix-server-runtime/reexport.ts
  packages/remix-server-runtime/routeModules.ts
  packages/remix-server-runtime/routes.ts
  packages/remix-testing/create-remix-stub.tsx
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed, feat:typescript, package:server-runtime, runtime:node, runtime:cloudflare, renderer:react, runtime:deno, BREAKING CHANGE, v2

#7354 Remove AppData/RouteHandle types
  .changeset/chilled-horses-look.md
  packages/remix-cloudflare/index.ts
  packages/remix-deno/index.ts
  packages/remix-node/index.ts
  packages/remix-server-runtime/index.ts
  packages/remix-server-runtime/reexport.ts
Labels: CLA Signed, feat:typescript, feat:deno, package:server-runtime, runtime:node, runtime:cloudflare, BREAKING CHANGE, v2

#7293 feat(remix-node)!: don't export fetch API
  .changeset/heavy-items-search.md
  packages/remix-architect/__tests__/server-test.ts
  packages/remix-express/__tests__/server-test.ts
  packages/remix-node/__tests__/fetch-test.ts
  packages/remix-node/fetch.ts
  packages/remix-node/globals.ts
  packages/remix-node/index.ts
Labels: CLA Signed, runtime:node, BREAKING CHANGE, v2

#7358 fix live reload port when explicitly set as a prop
  .changeset/tidy-paws-promise.md
  packages/remix-react/__tests__/components-test.tsx
  packages/remix-react/components.tsx
Labels: CLA Signed

#7360 Revert AppLoadContext back to an interface for module augmentation su…
  .changeset/align-rr-types.md
  .changeset/lemon-dodos-crash.md
  packages/remix-server-runtime/data.ts
  packages/remix-server-runtime/routeModules.ts
  packages/remix-server-runtime/routes.ts
  packages/remix-testing/create-remix-stub.tsx
Labels: CLA Signed, feat:typescript, package:server-runtime, v2

#7364 build(deno): speed up Rollup copy step
  packages/remix-deno/.gitignore
  packages/remix-deno/rollup.config.js
Labels: CLA Signed

#7362 fix(remix-server-runtime): make `DataFunctionArgs` a type alias
  .changeset/small-impalas-invent.md
  packages/remix-server-runtime/routeModules.ts
Labels: CLA Signed, feat:typescript, package:server-runtime, v2

#7385 Revert back to latest versions of node in CI
  .github/workflows/test-full.yml
  .github/workflows/test-pr-ubuntu.yml
  .github/workflows/test-pr-windows-macos.yml
Labels: CLA Signed

#7391 fix(dev): surface PostCSS config errors
  .changeset/postcss-surface-errors.md
  packages/remix-dev/compiler/plugins/cssImports.ts
  packages/remix-dev/compiler/plugins/cssModuleImports.ts
  packages/remix-dev/compiler/plugins/cssSideEffectImports.ts
  packages/remix-dev/compiler/plugins/vanillaExtract.ts
  packages/remix-dev/compiler/utils/postcss.ts
Labels: CLA Signed, package:dev

#7361 Fix TS error in entry-server - make Passthrough a ReadableStream
  .changeset/lovely-suits-appear.md
  docs/guides/migrating-react-router-app.md
  integration/defer-test.ts
  packages/remix-dev/config/defaults/entry.server.node.tsx
  packages/remix-express/__tests__/server-test.ts
  scripts/playground/template/app/entry.server.tsx
  templates/arc/app/entry.server.tsx
  templates/express/app/entry.server.tsx
  templates/fly/app/entry.server.tsx
  templates/remix-javascript/app/entry.server.jsx
  templates/remix/app/entry.server.tsx
Labels: CLA Signed, package:dev, runtime:node, v2

#7400 fix(serve): update usage error to support ESM
  .changeset/remix-serve-esm-usage-error.md
  docs/file-conventions/remix-config.md
  docs/guides/migrating-react-router-app.md
  docs/guides/typescript.md
  docs/other-api/dev.md
  docs/other-api/serve.md
  packages/create-remix/__tests__/fixtures/stack/package.json
  packages/remix-dev/__tests__/fixtures/node/package.json
  packages/remix-dev/__tests__/fixtures/stack/package.json
  packages/remix-serve/cli.ts
Labels: CLA Signed, package:serve, v2

#7403 Add back in required AppLoadContext to DataFunctionArgs
  .changeset/cyan-cameras-invite.md
  packages/remix-server-runtime/routeModules.ts
Labels: CLA Signed

#7398 Update Templates docs
  docs/guides/templates.md
Labels: CLA Signed

#7408 Cherry-pick v2 docs from dev into release-next
  docs/components/form.md
  docs/components/link.md
  docs/components/nav-link.md
  docs/components/outlet.md
  docs/components/scripts.md
  docs/components/scroll-restoration.md
  docs/discussion/09-middleware.md
  docs/discussion/16-forms-vs-usesubmit-vs-fetcher.md
  docs/discussion/component-data.md
  docs/discussion/concurrency.md
  docs/discussion/cookies-and-sessions.md
  docs/discussion/data-flow.md
  docs/discussion/error-handling.md
  docs/discussion/form-validation.md
  docs/discussion/form-vs-fetcher.md
  docs/discussion/formdata.md
  docs/discussion/html-forms.md
  docs/discussion/introduction.md
  docs/discussion/multiple-forms.md
  docs/discussion/nested-routes.md
  docs/discussion/pending-ui.md
  docs/discussion/progressive-enhancement.md
  docs/discussion/react-router.md
  docs/discussion/resubmissions.md
  docs/discussion/routes.md
  docs/discussion/runtimes.md
  docs/discussion/server-vs-client.md
  docs/discussion/state-management.md
  docs/discussion/testing.md
  docs/guides/14-error-handling.md
  docs/guides/errors.md
  docs/guides/form-validation.md
  docs/hooks/use-action-data.md
  docs/hooks/use-async-error.md
  docs/hooks/use-async-value.md
  docs/hooks/use-before-unload.md
  docs/hooks/use-fetcher.md
  docs/hooks/use-fetchers.md
  docs/hooks/use-form-action.md
  docs/hooks/use-href.md
  docs/hooks/use-loader-data.md
  docs/hooks/use-location.md
  docs/index.md
  docs/start/community.md
  docs/start/future-flags.md
  docs/start/quickstart.md
  docs/start/v2.md
Labels: CLA Signed

#7418 docs(file-conventions/entry.server): add note about aborted requests in `handleError` section
  docs/file-conventions/entry.server.md
Labels: CLA Signed, docs

#7416 docs(quickstart): Minor fixes to commands
  contributors.yml
  docs/start/quickstart.md
Labels: CLA Signed, docs

#7426 Update LoaderArgs/ActionArgs in docs
  docs/discussion/concurrency.md
  docs/discussion/form-vs-fetcher.md
  docs/discussion/introduction.md
  docs/file-conventions/routes.md
  docs/guides/api-routes.md
  docs/guides/bff.md
  docs/guides/constraints.md
  docs/guides/data-loading.md
  docs/guides/data-writes.md
  docs/guides/envvars.md
  docs/guides/faq.md
  docs/guides/file-uploads.md
  docs/guides/not-found.md
  docs/guides/resource-routes.md
  docs/hooks/use-action-data.md
  docs/hooks/use-submit.md
  docs/other-api/serve.md
  docs/route/action.md
  docs/route/loader.md
  docs/route/meta.md
  docs/route/should-revalidate.md
  docs/tutorials/blog.md
  docs/tutorials/jokes.md
  docs/utils/cookies.md
  docs/utils/parse-multipart-form-data.md
  docs/utils/sessions.md
  docs/utils/unstable-create-file-upload-handler.md
  docs/utils/unstable-create-memory-upload-handler.md
  scripts/playground/template/app/root.tsx
  scripts/playground/template/app/routes/join.tsx
  scripts/playground/template/app/routes/login.tsx
  scripts/playground/template/app/routes/logout.tsx
  scripts/playground/template/app/routes/notes.tsx
  scripts/playground/template/app/routes/notes/$noteId.tsx
  scripts/playground/template/app/routes/notes/new.tsx
Labels: CLA Signed

#7427 warn that `future.v2_dev` should be moved to `dev` in v2
  .changeset/odd-bananas-teach.md
  packages/remix-dev/config.ts
Labels: CLA Signed

#7432 docs: v2_dev after upgrading from v1 to v2
  docs/start/v2.md
Labels: CLA Signed

#7433 docs: fix links in v2 upgrade doc
  docs/start/v2.md
Labels: CLA Signed, docs

#7435 Update docs
  docs/start/v2.md
Labels: CLA Signed

#7458 templates(cloudflare-pages): update `.node-version`
  contributors.yml
  templates/cloudflare-pages/.node-version
Labels: CLA Signed, template:cloudflare-pages

#7470 in manual mode, watch for changes to version.txt instead of server build
  .changeset/four-spies-draw.md
  packages/remix-serve/cli.ts
Labels: CLA Signed

#7474 docs(manual-mode): add instructions for remix-serve
  docs/guides/manual-mode.md
Labels: CLA Signed

#7465 templates(fly): update to ESM
  templates/fly/.eslintrc.cjs
  templates/fly/package.json
  templates/fly/remix.config.js
Labels: CLA Signed, template:fly

#7476 docs(guides/local-tls): dedicated guide for setting up local TLS
  docs/guides/local-tls.md
  docs/other-api/dev.md
Labels: CLA Signed

#7464 Add second generic to UIMatch for handle field
  .changeset/add-uimatch-handle.md
  packages/remix-react/components.tsx
Labels: CLA Signed

#7477 Update to latest version of @remix-run/web-fetch
  .changeset/bump-web-fetch.md
  packages/remix-node/package.json
  yarn.lock
Labels: CLA Signed, runtime:node, feat:fetch

#7484 Fixes README link to technical explanation
  README.md
  contributors.yml
Labels: CLA Signed, docs

#7483 templates: add version.txt to .gitignore
  templates/arc/.gitignore
  templates/cloudflare-pages/.gitignore
Labels: CLA Signed, package:dev

#7487 fix(serve): explicitly bust `require` cache for cjs compatibility
  .changeset/forty-needles-pretend.md
  packages/remix-serve/cli.ts
Labels: CLA Signed

#7488 fix(templates/cloudflare-pages): skiplibcheck
  templates/cloudflare-pages/tsconfig.json
Labels: CLA Signed

#7490 docs(start/tutorial): fix filenames
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed, docs

#7491 fix(dev): fix MDX types when using pnpm
  .changeset/fix-mdx-types-for-pnpm.md
  packages/remix-dev/modules.ts
Labels: CLA Signed, feat:typescript, package:dev, feat:mdx

#7423 Throw an ErrorResponse instead of just an Error for route with no action
  .changeset/wicked-avocados-fly.md
  integration/action-test.ts
  integration/resource-routes-test.ts
  packages/remix-react/routes.tsx
Labels: CLA Signed, renderer:react

#7078 fix(templates/express): dynamically import `chokidar` so it doesn't crash production
  templates/express/server.js
Labels: CLA Signed, template:express

#7489 Update channel.ts
  packages/remix-dev/channel.ts
Labels: CLA Signed, package:dev

#7501 docs: react fast refresh limitations
  docs/other-api/dev.md
Labels: CLA Signed

#7498 Fix resource routes being loaded through route.lazy
  .changeset/route-lazy-resource-route.md
  packages/remix-dev/compiler/js/plugins/routes.ts
  packages/remix-react/routes.tsx
Labels: CLA Signed, feat:routing

#7513 chore(templates/arc): node 18
  templates/arc/app.arc
Labels: CLA Signed

#7520 docs(start/tutorial): fix filename
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed, docs

#7523 docs(discussion/runtime): Update code sample with respective comments.
  contributors.yml
  docs/discussion/runtimes.md
Labels: CLA Signed, docs

#7531 fix(docs): entry server defaults broken links
  contributors.yml
  docs/file-conventions/entry.server.md
Labels: CLA Signed, docs

#7551 Export correct Remix useMatches wrapper
  .changeset/use-matches-type.md
  packages/remix-react/index.tsx
Labels: CLA Signed, renderer:react

#7550 docs(discussion/form-vs-fetcher): fix user avatar details popup example filename
  contributors.yml
  docs/discussion/form-vs-fetcher.md
Labels: CLA Signed, docs

#7544 Fix express template to use re-loaded build in requests
  templates/express/server.js
Labels: CLA Signed, template:express

#7559 docs(start/tutorial): small updates
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed, docs

#7561 docs(start/tutorial): fix code highlighting
  docs/start/tutorial.md
Labels: CLA Signed, docs
