Repository remix-run/remix, pull requests merged in 2023-05, with the labels that each got.

#5623 docs: use `viewport` consistently
  docs/file-conventions/root.md
  docs/guides/styling.md
  docs/route/meta.md
  integration/defer-test.ts
  packages/remix-dev/__tests__/fixtures/indie-stack/app/root.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/root.tsx
  packages/remix-react/errorBoundaries.tsx
Labels: CLA Signed, docs

#5767 docs(tutorials/blog): clarify `@types/marked` installation is additional for TS users
  contributors.yml
  docs/tutorials/blog.md
Labels: CLA Signed, docs

#6102 docs(tutorials/jokes): Use npx when calling ts-node
  contributors.yml
  docs/tutorials/jokes.md
Labels: CLA Signed, docs

#6059 docs(pages/v2): Fix navigation formAction in v2 documentation page
  contributors.yml
  docs/pages/v2.md
Labels: CLA Signed, docs

#5658 docs(guides/not-found): Set statusText correctly in not-found guide
  contributors.yml
  docs/guides/not-found.md
Labels: CLA Signed, docs

#6262 Revert "chore: remove `styfle/cancel-workflow-action` usage"
  .github/workflows/deployments.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/reusable-test.yml
  .github/workflows/stacks.yml
Labels: CLA Signed

#6238 fix: css bundling failing on non-node platforms
  .changeset/css-import-non-node-fix.md
  packages/remix-dev/compiler/plugins/cssImports.ts
Labels: CLA Signed

#6153 chore(docs,templates): lint with same rules as examples/stacks
  .eslintrc.js
  docs/guides/constraints.md
  docs/guides/streaming.md
  docs/guides/styling.md
  docs/other-api/adapter.md
  docs/pages/technical-explanation.md
  packages/remix-dev/config/defaults/cloudflare/entry.server.react-string.tsx
  packages/remix-dev/config/defaults/deno/entry.server.react-string.tsx
  packages/remix-dev/config/defaults/node/entry.server.react-stream.tsx
  packages/remix-dev/config/defaults/node/entry.server.react-string.tsx
  templates/arc/app/entry.server.tsx
  templates/arc/server.ts
  templates/express/app/entry.server.tsx
  templates/fly/app/entry.server.tsx
  templates/netlify/app/entry.server.tsx
  templates/netlify/server.ts
  templates/remix/app/entry.server.tsx
  templates/vercel/app/entry.server.tsx
  templates/vercel/server.ts
Labels: CLA Signed, docs, package:dev, template:express, template:architect, template:vercel, template:fly, template:netlify, template:remix

#5472 templates(cloudflare-pages,netlify): add `immutable` to `Cache-Control` header
  contributors.yml
  templates/cloudflare-pages/public/_headers
  templates/netlify/netlify.toml
Labels: CLA Signed, template:cloudflare-pages, template:netlify

#5257 feat(remix-react): export `react-router-dom`'s `useMatch` hook
  .changeset/export-use-match.md
  contributors.yml
  packages/remix-react/index.tsx
Labels: CLA Signed, renderer:react

#5458 tests(remix-react): add tests for `ScrollRestoration` component
  contributors.yml
  packages/remix-react/__tests__/scroll-restoration-test.tsx
Labels: CLA Signed

#6278 fix: better opt out of loader revalidation on UI only changes
  .changeset/better-opt-out-of-revalidations.md
  integration/hmr-log-test.ts
  integration/hmr-test.ts
  packages/remix-react/routes.tsx
Labels: CLA Signed

#6279 fix(dev): serve any non-Remix assets from `public/`
  .changeset/ninety-flies-allow.md
  integration/hmr-log-test.ts
  packages/remix-dev/__tests__/cli-test.ts
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/cli/run.ts
  packages/remix-dev/compiler/js/compiler.ts
  packages/remix-dev/config.ts
  packages/remix-dev/devServer_unstable/index.ts
Labels: CLA Signed

#6289 fix(dev): wait until app server is killed before starting a new app server
  .changeset/good-laws-marry.md
  packages/remix-dev/devServer_unstable/index.ts
Labels: CLA Signed

#6293 fix(remix-dev): normalize path before testing if it is a route entry
  .changeset/light-bikes-exercise.md
  packages/remix-dev/compiler/watch.ts
Labels: CLA Signed

#6277 ci: re-add merged pr workflow
  .github/workflows/merged-pr.yml
  .github/workflows/release-comments.yml
Labels: CLA Signed

#6294 fix(dev): dev server listens for updated build hash before writing server files
  .changeset/poor-nails-warn.md
  packages/remix-dev/compiler/compiler.ts
  packages/remix-dev/compiler/watch.ts
  packages/remix-dev/devServer_unstable/index.ts
Labels: CLA Signed

#6295 fix(dev): prevent rebuilds from hanging
  .changeset/twenty-toys-laugh.md
  packages/remix-dev/compiler/cancel.ts
  packages/remix-dev/compiler/js/plugins/cssBundleUpdate.ts
  packages/remix-dev/compiler/server/plugins/manifest.ts
  packages/remix-dev/compiler/utils/log.ts
  packages/remix-dev/compiler/watch.ts
Labels: CLA Signed

#5645 Use cache to avoid reprocessing unchanged files
  packages/remix-dev/compiler/js/plugins/hmr.ts
  packages/remix-dev/compiler/js/plugins/routes_unstable.ts
Labels: CLA Signed

#6303 ci(comment): bump comment action version
  .github/workflows/release-comments.yml
Labels: CLA Signed

#6306 refactor(dev): revert serving assets from dev server
  .changeset/ninety-flies-allow.md
  packages/remix-dev/__tests__/cli-test.ts
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/cli/run.ts
  packages/remix-dev/compiler/js/compiler.ts
  packages/remix-dev/devServer_unstable/index.ts
Labels: CLA Signed

#6307 docs(tutorials/blog): Fix markdown label spacing
  contributors.yml
  docs/tutorials/blog.md
Labels: CLA Signed

#6299 feat(dev): cross-module loader change detection
  .changeset/afraid-coats-count.md
  integration/hmr-log-test.ts
  integration/hmr-test.ts
  packages/remix-dev/__tests__/cli-test.ts
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/cli/run.ts
  packages/remix-dev/compiler/compiler.ts
  packages/remix-dev/compiler/js/compiler.ts
  packages/remix-dev/compiler/js/plugins/routes_unstable.ts
  packages/remix-dev/compiler/manifest.ts
  packages/remix-dev/compiler/options.ts
  packages/remix-dev/compiler/server/plugins/entry.ts
  packages/remix-dev/compiler/watch.ts
  packages/remix-dev/config.ts
  packages/remix-dev/devServer_unstable/hdr.ts
  packages/remix-dev/devServer_unstable/hmr.ts
  packages/remix-dev/devServer_unstable/index.ts
  packages/remix-dev/manifest.ts
  packages/remix-react/browser.tsx
  packages/remix-react/components.tsx
  packages/remix-react/routes.tsx
Labels: CLA Signed

#6310 fix(dev): dev server creates cross-platform PATH envvar
  .changeset/big-carrots-attend.md
  packages/remix-dev/devServer_unstable/index.ts
Labels: CLA Signed

#6309 fix(dev): fix JSX in JS files with CSS imports
  .changeset/calm-falcons-boil.md
  integration/css-side-effect-imports-test.ts
  packages/remix-dev/compiler/plugins/cssSideEffectImports.ts
Labels: CLA Signed, package:dev

#6312 fix(dev): use `;` for joining PATHs in windows
  packages/remix-dev/devServer_unstable/index.ts
Labels: CLA Signed

#6231 fix(v2_meta): hint data as being potentially undefined
  .changeset/v2-meta-loader-data-type.md
  packages/remix-react/routeModules.ts
  packages/remix-server-runtime/routeModules.ts
Labels: CLA Signed, feat:typescript

#6327 docs(guide/styles): Fix anchor for tailwind css
  contributors.yml
  docs/guides/styling.md
Labels: CLA Signed, docs

#6209 docs(tutorials/jokes): Silence typescript error
  docs/tutorials/jokes.md
Labels: CLA Signed, docs

#6345 fix(dev): skip Vanilla Extract plugin if not installed
  .changeset/slimy-snakes-do.md
  packages/remix-dev/compiler/plugins/vanillaExtract.ts
Labels: CLA Signed, package:dev

#6346 docs(guides/styling): add Tailwind import warning
  docs/guides/styling.md
Labels: CLA Signed, docs

#6338 docs(guides/styling): add note about Tailwind warning
  contributors.yml
  docs/guides/styling.md
Labels: CLA Signed, docs

#6333 templates(netlify): add `@remix-run/css-bundle` to `dependencies`
  templates/netlify/package.json
Labels: CLA Signed, template:netlify

#6337 templates(deno): fix import map
  .vscode/deno_resolve_npm_imports.json
  templates/deno/.vscode/resolve_npm_imports.json
Labels: CLA Signed, template:deno

#6374 fix(dev): include `cssBundleHref` in manifest hash
  .changeset/include-css-bundle-in-manifest-hash.md
  packages/remix-dev/compiler/manifest.ts
Labels: CLA Signed, package:dev

#6390 fix: update minimum version of Babel packages
  .changeset/update-babel.md
  package.json
  packages/remix-dev/package.json
  packages/remix-eslint-config/package.json
  yarn.lock
Labels: CLA Signed, package:dev, package:eslint-config

#6330 refactor(remix-server-runtime): expose `SessionStorage`'s methods as arrow functions
  .changeset/polite-garlics-invite.md
  contributors.yml
  packages/remix-server-runtime/sessions.ts
Labels: CLA Signed, feat:typescript, package:server-runtime

#6395 fix(dev): kill app server when dev server exits
  .changeset/five-poems-stare.md
  packages/remix-dev/devServer_unstable/index.ts
Labels: CLA Signed

#6351 chore(remix-cloudflare-pages): remove unnecessary typecast
  contributors.yml
  packages/remix-cloudflare-pages/worker.ts
Labels: CLA Signed, adapter:cloudflare-pages

#6352 docs(pages/v2): move `formMethod` section
  docs/pages/v2.md
Labels: CLA Signed, docs

#6329 docs(tutorials/jokes): remove unnecessary typecast
  docs/tutorials/jokes.md
Labels: CLA Signed, docs

#6401 fix(dev): detect Vanilla Extract in package.json
  integration/helpers/node-template/package.json
  package.json
  packages/remix-dev/compiler/plugins/vanillaExtract.ts
  yarn.lock
Labels: CLA Signed, package:dev

#6247 feat: expose `HeadersArgs` & `HeadersFunctionArgs` type
  .changeset/headers-args-type.md
  packages/remix-cloudflare/index.ts
  packages/remix-deno/index.ts
  packages/remix-dev/codemod/replace-remix-magic-imports/utils/export.ts
  packages/remix-eslint-config/rules/packageExports.js
  packages/remix-node/index.ts
  packages/remix-server-runtime/index.ts
  packages/remix-server-runtime/reexport.ts
  packages/remix-server-runtime/routeModules.ts
  rollup.utils.js
Labels: CLA Signed, package:dev, package:eslint-config, package:server-runtime, runtime:node, runtime:cloudflare, runtime:deno

#6334 docs: use TS files where possible
  docs/file-conventions/route-files-v2.md
  docs/file-conventions/routes-files.md
  docs/guides/constraints.md
  docs/guides/data-loading.md
  docs/guides/mdx.md
  docs/guides/migrating-react-router-app.md
  docs/guides/resource-routes.md
  docs/guides/routing.md
  docs/hooks/use-fetcher.md
  docs/hooks/use-matches.md
  docs/hooks/use-route-loader-data.md
  docs/pages/faq.md
  docs/route/should-reload.md
  docs/route/should-revalidate.md
  docs/utils/defer.md
  packages/remix-dev/config/routes.ts
Labels: CLA Signed, docs

#6411 Bump to stable router versions
  .changeset/shiny-ravens-destroy.md
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed

#6425 Surface thrown response headers to ancestor boundaries
  .changeset/expose-error-headers.md
  integration/headers-test.ts
  packages/remix-server-runtime/headers.ts
  packages/remix-server-runtime/routeModules.ts
Labels: CLA Signed

#6447 chore: update playground template CSS setup
  scripts/playground/template/.gitignore
  scripts/playground/template/app/root.tsx
  scripts/playground/template/app/styles/tailwind.css
  scripts/playground/template/package.json
  scripts/playground/template/remix.config.js
Labels: CLA Signed

#6446 docs: fix typos
  contributors.yml
  docs/index.md
Labels: CLA Signed, docs

#6442 docs(file-conventions/route-files-v2): fix code highlighting
  contributors.yml
  docs/file-conventions/route-files-v2.md
Labels: CLA Signed, docs

#6449 feat: simplified types for useLoaderData, useActionData, useFetcher, SerializeFrom
  .changeset/lemon-beers-fetch.md
  packages/remix-server-runtime/serialize.ts
Labels: CLA Signed

#6461 fix typo in jokes app tutorial
  contributors.yml
  docs/tutorials/jokes.md
Labels: CLA Signed

#6377 templates: improve Lighthouse SEO score
  contributors.yml
  templates/arc/app/routes/_index.tsx
  templates/cloudflare-pages/app/routes/_index.tsx
  templates/cloudflare-workers/app/routes/_index.tsx
  templates/deno/app/routes/_index.tsx
  templates/express/app/routes/_index.tsx
  templates/fly/app/routes/_index.tsx
  templates/netlify/app/routes/_index.tsx
  templates/remix/app/routes/_index.tsx
  templates/vercel/app/routes/_index.tsx
Labels: CLA Signed, template:express, template:architect, template:vercel, template:cloudflare-pages, template:cloudflare-workers, template:fly, template:netlify, template:remix, template:deno

#6320 Properly handle ErrorResponse inside resource routes
  .changeset/error-response-resource-route.md
  integration/resource-routes-test.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed, feat:routing

#6455 perf(dev): faster server export removal for routes
  .changeset/great-geese-compare.md
  packages/remix-dev/compiler/js/compiler.ts
  packages/remix-dev/compiler/plugins/cssSideEffectImports.ts
  packages/remix-react/components.tsx
  packages/remix-server-runtime/serialize.ts
Labels: CLA Signed

#6467 fix(dev): gracefully handle hdr errors
  .changeset/strong-dolphins-tell.md
  integration/hmr-log-test.ts
  integration/hmr-test.ts
  packages/remix-dev/devServer_unstable/hdr.ts
  packages/remix-dev/devServer_unstable/index.ts
Labels: CLA Signed

#6431 feat(server-runtime): v2_headers future flag for inheriting ancestor headers
  .changeset/v2-headers.md
  docs/pages/api-development-strategy.md
  docs/pages/v2.md
  docs/route/headers.md
  integration/headers-test.ts
  packages/remix-dev/__tests__/create-test.ts
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
  packages/remix-react/entry.ts
  packages/remix-server-runtime/entry.ts
  packages/remix-server-runtime/headers.ts
  packages/remix-testing/create-remix-stub.tsx
Labels: CLA Signed

#4421 fix(remix-dev): adjust conventional routes logic for pathless layout routes
  .changeset/stale-spoons-tie.md
  integration/conventional-routes-test.ts
  integration/flat-routes-test.ts
  integration/route-collisions-test.ts
  packages/remix-dev/__tests__/flat-routes-test.ts
  packages/remix-dev/config/flat-routes.ts
  packages/remix-dev/config/routesConvention.ts
Labels: CLA Signed, feat:routing, package:dev

#6476 feat(dev): reuse dev server port for websocket
  .changeset/wicked-pandas-give.md
  integration/hmr-log-test.ts
  integration/hmr-test.ts
  packages/remix-dev/__tests__/cli-test.ts
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/cli/run.ts
  packages/remix-dev/compiler/options.ts
  packages/remix-dev/compiler/server/compiler.ts
  packages/remix-dev/compiler/server/plugins/entry.ts
  packages/remix-dev/config.ts
  packages/remix-dev/devServer_unstable/index.ts
  packages/remix-dev/devServer_unstable/socket.ts
  packages/remix-react/__tests__/components-test.tsx
  packages/remix-react/browser.tsx
  packages/remix-react/components.tsx
  packages/remix-react/entry.ts
  packages/remix-server-runtime/build.ts
  packages/remix-server-runtime/serverHandoff.ts
Labels: CLA Signed

#6477 fix(dev): better error message when `remix-serve` is not found
  .changeset/rude-geese-remain.md
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/devServer_unstable/index.ts
Labels: CLA Signed

#6479 refactor(dev): remove vestigial plugin
  packages/remix-dev/compiler/js/plugins/routes_unstable.ts
Labels: CLA Signed

#6480 test(hmr): expect exactly 2 console errors in browser
  integration/hmr-log-test.ts
  integration/hmr-test.ts
Labels: CLA Signed

#6482 docs(guides/not-found): fix typo
  contributors.yml
  docs/guides/not-found.md
Labels: CLA Signed, docs

#6483 feat(dev): built-in tls support
  .changeset/ninety-hornets-brake.md
  packages/remix-dev/__tests__/cli-test.ts
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/cli/run.ts
  packages/remix-dev/config.ts
  packages/remix-dev/devServer_unstable/index.ts
Labels: CLA Signed

#6485 fix(dev): color output for app server
  .changeset/serious-wolves-attend.md
  packages/remix-dev/devServer_unstable/index.ts
Labels: CLA Signed

#6473 docs(tutorials/jokes): fix code highlighting
  contributors.yml
  docs/tutorials/jokes.md
Labels: CLA Signed, docs

#6487 docs(hooks/use-matches): fix code highlighting
  contributors.yml
  docs/hooks/use-matches.md
Labels: CLA Signed, docs

#6190 templates: have `loadContext` available in `handleRequest`
  docs/guides/migrating-react-router-app.md
  docs/guides/streaming.md
  docs/guides/styling.md
  docs/route/headers.md
  integration/defer-test.ts
  packages/remix-dev/__tests__/fixtures/indie-stack/app/entry.server.tsx
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/app/entry.server.tsx
  packages/remix-dev/__tests__/fixtures/stack/app/entry.server.tsx
  packages/remix-dev/config/defaults/cloudflare/entry.server.react-stream.tsx
  packages/remix-dev/config/defaults/cloudflare/entry.server.react-string.tsx
  packages/remix-dev/config/defaults/deno/entry.server.react-stream.tsx
  packages/remix-dev/config/defaults/deno/entry.server.react-string.tsx
  packages/remix-dev/config/defaults/node/entry.server.react-stream.tsx
  packages/remix-dev/config/defaults/node/entry.server.react-string.tsx
  scripts/playground/template/app/entry.server.tsx
  templates/arc/app/entry.server.tsx
  templates/cloudflare-pages/app/entry.server.tsx
  templates/cloudflare-workers/app/entry.server.tsx
  templates/deno/app/entry.server.tsx
  templates/express/app/entry.server.tsx
  templates/fly/app/entry.server.tsx
  templates/netlify/app/entry.server.tsx
  templates/remix/app/entry.server.tsx
  templates/vercel/app/entry.server.tsx
Labels: CLA Signed, docs, template:express, template:architect, template:vercel, template:cloudflare-pages, template:cloudflare-workers, template:fly, template:netlify, template:remix, template:deno

#6486 chore: use globs in Deno scripts
  package.json
Labels: CLA Signed

#6434 fix(remix-react): fix typos in V2 warnings
  packages/remix-react/components.tsx
Labels: CLA Signed, renderer:react

#6489 docs(guides/migrating-react-router-app): mention `_index` file
  docs/guides/migrating-react-router-app.md
Labels: CLA Signed, docs

#6493 fix(dev): only apply hmr for remix routes
  packages/remix-dev/compiler/plugins/cssSideEffectImports.ts
Labels: CLA Signed

#6499 docs(tutorials/jokes): fix `getUser` function
  contributors.yml
  docs/tutorials/jokes.md
Labels: CLA Signed, docs

#6510 refactor: clean up leftover debugging code
  integration/helpers/create-fixture.ts
Labels: CLA Signed

#6490 templates: enable `v2_headers` future flag
  templates/arc/remix.config.js
  templates/cloudflare-pages/remix.config.js
  templates/cloudflare-workers/remix.config.js
  templates/deno/remix.config.js
  templates/express/remix.config.js
  templates/fly/remix.config.js
  templates/netlify/remix.config.js
  templates/remix/remix.config.js
  templates/vercel/remix.config.js
Labels: CLA Signed, template:express, template:architect, template:vercel, template:cloudflare-pages, template:cloudflare-workers, template:fly, template:netlify, template:remix, template:deno

#6488 fix(remix-dev): loosen `prettier` version
  package.json
  packages/remix-dev/__tests__/fixtures/replace-remix-magic-imports/package.json
  packages/remix-dev/package.json
  yarn.lock
Labels: CLA Signed, package:dev

#6323 refactor(remix-react): remove unnecessary type-checks
  packages/remix-react/components.tsx
  packages/remix-react/data.ts
Labels: CLA Signed, renderer:react
