Repository remix-run/remix, pull requests merged in 2024-01, with the labels that each got.

#8357 test(remix-dev/vite): add server bundles dev test
  integration/vite-server-bundles-test.ts
Labels: CLA Signed, vite

#8405 fix(remix-dev/vite): default NODE_ENV in build
  .changeset/fair-bobcats-walk.md
  integration/vite-node-env-test.ts
  packages/remix-dev/vite/build.ts
Labels: CLA Signed, package:dev, vite

#8373 docs(vite): fix typo
  docs/future/vite.md
Labels: CLA Signed, docs, vite

#8402 Update copyright year to 2024
  LICENSE.md
  contributors.yml
Labels: CLA Signed

#8410 Sort contributors and add to format workflow
  .github/workflows/format.yml
  contributors.yml
Labels: CLA Signed, github_actions

#8385 chore: use isbot version 4
  .changeset/cool-doors-compete.md
  contributors.yml
  docs/guides/migrating-react-router-app.md
  docs/guides/typescript.md
  docs/start/v2.md
  integration/defer-test.ts
  integration/helpers/vite-template/package.json
  integration/package.json
  packages/remix-dev/__tests__/fixtures/cloudflare/package.json
  packages/remix-dev/__tests__/fixtures/deno/.vscode/resolve_npm_imports.json
  packages/remix-dev/__tests__/fixtures/deno/package.json
  packages/remix-dev/__tests__/fixtures/node/package.json
  packages/remix-dev/config.ts
  packages/remix-dev/config/defaults/entry.server.cloudflare.tsx
  packages/remix-dev/config/defaults/entry.server.deno.tsx
  packages/remix-dev/config/defaults/entry.server.node.tsx
  scripts/playground/template/app/entry.server.tsx
  scripts/playground/template/package.json
  templates/arc/app/entry.server.tsx
  templates/arc/package.json
  templates/cloudflare-pages/app/entry.server.tsx
  templates/cloudflare-pages/package.json
  templates/cloudflare-workers/app/entry.server.tsx
  templates/cloudflare-workers/package.json
  templates/deno/.vscode/resolve_npm_imports.json
  templates/deno/app/entry.server.tsx
  templates/deno/package.json
  templates/express/app/entry.server.tsx
  templates/express/package.json
  templates/fly/app/entry.server.tsx
  templates/fly/package.json
  templates/remix-javascript/app/entry.server.jsx
  templates/remix-javascript/package.json
  templates/remix-tutorial/package.json
  templates/remix/app/entry.server.tsx
  templates/remix/package.json
  templates/unstable-vite-express/package.json
  templates/unstable-vite/package.json
  yarn.lock
Labels: CLA Signed, package:dev, dependencies

#8414 Revert "chore: use isbot version 4"
  .changeset/cool-doors-compete.md
  contributors.yml
  docs/guides/migrating-react-router-app.md
  docs/guides/typescript.md
  docs/start/v2.md
  integration/defer-test.ts
  integration/helpers/vite-template/package.json
  integration/package.json
  packages/remix-dev/__tests__/fixtures/cloudflare/package.json
  packages/remix-dev/__tests__/fixtures/deno/.vscode/resolve_npm_imports.json
  packages/remix-dev/__tests__/fixtures/deno/package.json
  packages/remix-dev/__tests__/fixtures/node/package.json
  packages/remix-dev/config.ts
  packages/remix-dev/config/defaults/entry.server.cloudflare.tsx
  packages/remix-dev/config/defaults/entry.server.deno.tsx
  packages/remix-dev/config/defaults/entry.server.node.tsx
  scripts/playground/template/app/entry.server.tsx
  scripts/playground/template/package.json
  templates/arc/app/entry.server.tsx
  templates/arc/package.json
  templates/cloudflare-pages/app/entry.server.tsx
  templates/cloudflare-pages/package.json
  templates/cloudflare-workers/app/entry.server.tsx
  templates/cloudflare-workers/package.json
  templates/deno/.vscode/resolve_npm_imports.json
  templates/deno/app/entry.server.tsx
  templates/deno/package.json
  templates/express/app/entry.server.tsx
  templates/express/package.json
  templates/fly/app/entry.server.tsx
  templates/fly/package.json
  templates/remix-javascript/app/entry.server.jsx
  templates/remix-javascript/package.json
  templates/remix-tutorial/package.json
  templates/remix/app/entry.server.tsx
  templates/remix/package.json
  templates/unstable-vite-express/package.json
  templates/unstable-vite/package.json
  yarn.lock
Labels: CLA Signed

#8412 docs(decisions): do not rely on treeshaking for correctness
  decisions/0009-do-not-rely-on-treeshaking-for-correctness.md
Labels: CLA Signed

#8417 docs(vite): remove support matrix, fix highlighting
  docs/future/vite.md
Labels: CLA Signed, docs, vite

#8418 docs(decisions): add md title for 0009
  decisions/0009-do-not-rely-on-treeshaking-for-correctness.md
Labels: CLA Signed

#8419 docs(vite): troubleshooting w/ vite-plugin-inspect
  docs/future/vite.md
Labels: CLA Signed

#8421 docs(decisions): clarify server-only handling in consequences
  decisions/0009-do-not-rely-on-treeshaking-for-correctness.md
Labels: CLA Signed

#8375 update cookie
  .changeset/large-berries-sin.md
  packages/remix-server-runtime/package.json
  yarn.lock
Labels: CLA Signed, feat:cookies, dependencies

#8415 Handle isbot v4 in a backwards-compatible manner
  .changeset/isbot-version-four.md
  contributors.yml
  docs/guides/migrating-react-router-app.md
  docs/guides/typescript.md
  docs/start/v2.md
  integration/defer-test.ts
  integration/helpers/vite-template/package.json
  integration/package.json
  packages/remix-dev/__tests__/fixtures/cloudflare/package.json
  packages/remix-dev/__tests__/fixtures/deno/.vscode/resolve_npm_imports.json
  packages/remix-dev/__tests__/fixtures/deno/package.json
  packages/remix-dev/__tests__/fixtures/node/package.json
  packages/remix-dev/config.ts
  packages/remix-dev/config/defaults/entry.server.cloudflare.tsx
  packages/remix-dev/config/defaults/entry.server.deno.tsx
  packages/remix-dev/config/defaults/entry.server.node.tsx
  scripts/playground/template/app/entry.server.tsx
  scripts/playground/template/package.json
  templates/arc/app/entry.server.tsx
  templates/arc/package.json
  templates/cloudflare-pages/app/entry.server.tsx
  templates/cloudflare-pages/package.json
  templates/cloudflare-workers/app/entry.server.tsx
  templates/cloudflare-workers/package.json
  templates/deno/.vscode/resolve_npm_imports.json
  templates/deno/app/entry.server.tsx
  templates/deno/package.json
  templates/express/app/entry.server.tsx
  templates/express/package.json
  templates/fly/app/entry.server.tsx
  templates/fly/package.json
  templates/remix-javascript/app/entry.server.jsx
  templates/remix-javascript/package.json
  templates/remix-tutorial/package.json
  templates/remix/app/entry.server.tsx
  templates/remix/package.json
  templates/unstable-vite-express/package.json
  templates/unstable-vite/package.json
  yarn.lock
Labels: CLA Signed, package:dev

#8425 docs(decisions/0009): esbuild minify considerations link
  decisions/0009-do-not-rely-on-treeshaking-for-correctness.md
Labels: CLA Signed

#8426 docs(testing): remove redundant usage of `waitFor`
  docs/other-api/testing.md
Labels: CLA Signed

#8157 fix(remix-dev/vite): invalidate route manifest on route export change
  .changeset/bright-kiwis-yawn.md
  integration/vite-manifest-invalidation-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, vite

#8439 Include additional docs about preventing scroll reset
  docs/hooks/use-navigate.md
  docs/hooks/use-search-params.md
Labels: CLA Signed

#8441 Fix templates eslint issue when using ~ alias
  templates/arc/.eslintrc.cjs
  templates/arc/package.json
  templates/cloudflare-pages/.eslintrc.cjs
  templates/cloudflare-pages/package.json
  templates/cloudflare-workers/.eslintrc.cjs
  templates/express/.eslintrc.cjs
  templates/express/package.json
  templates/fly/.eslintrc.cjs
  templates/fly/package.json
  templates/remix-tutorial/.eslintrc.js
  templates/remix-tutorial/package.json
  templates/remix/.eslintrc.cjs
  templates/remix/package.json
  templates/unstable-vite-express/.eslintrc.cjs
  templates/unstable-vite/.eslintrc.cjs
Labels: CLA Signed

#8451 docs(guides/client-data): Remove extra quote
  docs/guides/client-data.md
Labels: CLA Signed

#8440 Add template for SPA Mode
  templates/spa/.eslintrc.cjs
  templates/spa/.gitignore
  templates/spa/README.md
  templates/spa/app/entry.client.tsx
  templates/spa/app/entry.server.tsx
  templates/spa/app/root.tsx
  templates/spa/app/routes/_index.tsx
  templates/spa/env.d.ts
  templates/spa/package.json
  templates/spa/public/favicon.ico
  templates/spa/tsconfig.json
  templates/spa/vite.config.ts
Labels: CLA Signed, feat:routing

#8457 SPA Mode
  .changeset/spa-mode.md
  docs/guides/client-data.md
  docs/guides/spa-mode.md
  integration/compiler-test.ts
  integration/flat-routes-test.ts
  integration/helpers/create-fixture.ts
  integration/spa-mode-test.ts
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
  packages/remix-dev/config/defaults/entry.server.spa.tsx
  packages/remix-dev/vite/plugin.ts
  packages/remix-dev/vite/static/refresh-utils.cjs
  packages/remix-react/browser.tsx
  packages/remix-react/components.tsx
  packages/remix-react/entry.ts
  packages/remix-react/links.ts
  packages/remix-react/routeModules.ts
  packages/remix-react/routes.tsx
  packages/remix-react/server.tsx
  packages/remix-server-runtime/build.ts
  packages/remix-server-runtime/entry.ts
  packages/remix-server-runtime/routeModules.ts
  packages/remix-server-runtime/server.ts
  packages/remix-server-runtime/serverHandoff.ts
  packages/remix-testing/create-remix-stub.tsx
  templates/spa/.eslintrc.cjs
  templates/spa/.gitignore
  templates/spa/README.md
  templates/spa/app/entry.client.tsx
  templates/spa/app/entry.server.tsx
  templates/spa/app/root.tsx
  templates/spa/app/routes/_index.tsx
  templates/spa/env.d.ts
  templates/spa/package.json
  templates/spa/public/favicon.ico
  templates/spa/tsconfig.json
  templates/spa/vite.config.ts
Labels: CLA Signed

#8447 templates(vite): enable skipLibCheck in tsconfig
  docs/future/vite.md
  templates/unstable-vite-express/tsconfig.json
  templates/unstable-vite/tsconfig.json
Labels: CLA Signed, docs, vite

#8458 fix(create-remix): only update "*" versions for Remix dependencies
  .changeset/wicked-suits-heal.md
  contributors.yml
  packages/create-remix/__tests__/create-remix-test.ts
  packages/create-remix/__tests__/fixtures/stack/package.json
  packages/create-remix/index.ts
Labels: CLA Signed

#8459 fix(remix-run/react): fix import.meta.hot type clash
  .changeset/ninety-ducks-sin.md
  packages/remix-react/browser.tsx
  packages/remix-react/routeModules.ts
Labels: CLA Signed, renderer:react, vite

#8420 fix(remix-run/vite): loosen route export restrictions
  .changeset/giant-terms-fry.md
  docs/future/vite.md
  integration/vite-route-exports-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8446 fix (remix-serve): fallback to default path if source maps aren't available when building stack trace
  .changeset/dry-books-hug.md
  packages/remix-serve/cli.ts
  templates/express/server.js
Labels: CLA Signed, package:serve, template:express

#8462 Bump router version
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed

#8464 Minor SPA mode updates
  .changeset/lazy-oranges-reply.md
  integration/spa-mode-test.ts
  packages/remix-dev/vite/plugin.ts
  packages/remix-react/components.tsx
  packages/remix-react/scroll-restoration.tsx
  templates/spa/app/root.tsx
Labels: CLA Signed

#8475 test: `vite-env-only` as server-only escape hatch
  integration/helpers/vite.ts
  integration/package.json
  integration/vite-css-test.ts
  integration/vite-dot-server-test.ts
  integration/vite-dotenv-test.ts
  integration/vite-hmr-hdr-test.ts
  integration/vite-loader-context-test.ts
  integration/vite-manifest-invalidation-test.ts
  integration/vite-node-env-test.ts
  integration/vite-server-bundles-test.ts
  yarn.lock
Labels: CLA Signed

#8468 fix(remix-dev/vite): tree-shake unused route exports
  .changeset/polite-weeks-poke.md
  integration/vite-unused-route-exports-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8409 Update outlet.md
  contributors.yml
  docs/components/outlet.md
Labels: CLA Signed, docs

#8484 Bump router
  .changeset/wise-peaches-dream.md
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed

#8487 docs: server-only isolation in vite
  docs/future/vite.md
Labels: CLA Signed

#8488 vite: errors for server-only code point to new docs
  .changeset/giant-otters-protect.md
  integration/vite-dot-server-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed

#8491 docs: Add cli command and update templates link
  docs/start/quickstart.md
Labels: CLA Signed

#8479 fix(remix-dev/vite): fix unstable file read during `handleHotUpdate`
  .changeset/olive-vans-explain.md
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8164 perf(remix-dev/vite): use fs watcher to invalidate manifest instead of request time
  .changeset/wet-sheep-call.md
  integration/vite-route-added-test.ts
  integration/vite-route-exports-modified-offscreen-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, vite

#8483 docs(other-api/adapters): add remix-azure-functions to adapters
  contributors.yml
  docs/other-api/adapter.md
Labels: CLA Signed, docs

#8493 vite: profiling
  .changeset/twenty-pandas-attend.md
  docs/future/vite.md
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/cli/run.ts
  packages/remix-dev/vite/build.ts
  packages/remix-dev/vite/dev.ts
  packages/remix-dev/vite/profiler.ts
Labels: CLA Signed, package:dev, vite

#8492 Add isSpaMode to server build virtual module type
  .changeset/fresh-shoes-drive.md
  packages/remix-dev/server-build.ts
Labels: CLA Signed, package:dev

#8503 create-remix: high-contrast fg/bg for header colors
  .changeset/breezy-cows-battle.md
  packages/create-remix/index.ts
Labels: CLA Signed

#8505 docs: bundle analysis w/ `emitFile` for multiple bundles
  docs/future/vite.md
Labels: CLA Signed

#8510 vite: realistic example for `process` in client
  docs/future/vite.md
Labels: CLA Signed

#8521 test(vite): add vite-ecosystem-ci scripts
  package.json
Labels: CLA Signed, vite

#8525 docs(vite): add troubleshooting for disappearing styles
  docs/future/vite.md
Labels: CLA Signed, vite

#8527 docs(vite): fix canary overrides example
  docs/future/vite.md
Labels: CLA Signed, vite

#8528 chore: add packageManager field to package.json
  package.json
Labels: vite

#8495 Fix quirks mode warning for SPA template
  .changeset/wild-timers-impress.md
  contributors.yml
  integration/helpers/create-fixture.ts
  integration/spa-mode-test.ts
  packages/remix-dev/config/defaults/entry.server.spa.tsx
  templates/spa/app/entry.server.tsx
Labels: CLA Signed, package:dev

#8530 Remove leftover unstable_ prefixes from blocker types
  .changeset/rich-clouds-fix.md
  packages/remix-react/index.tsx
  packages/remix-react/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed

#8533 docs(vite): update style remount troubleshooting
  docs/future/vite.md
Labels: CLA Signed, vite

#8529 docs(assets): link to supported asset file types
  docs/file-conventions/asset-imports.md
Labels: CLA Signed

#8520 docs(vite): document adding additional Vite dev server options
  docs/future/vite.md
Labels: CLA Signed, docs, vite

#8535 docs(vite): reword style remount troubleshooting
  docs/future/vite.md
Labels: CLA Signed, vite

#8514 feat(remix-dev/vite): add Vite plugin adapter API
  .changeset/ninety-baboons-leave.md
  docs/future/vite.md
  integration/vite-adapter-test.ts
  packages/remix-dev/index.ts
  packages/remix-dev/vite/build.ts
  packages/remix-dev/vite/index.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8542 refactor(remix-dev/vite): resolve absolute serverBuildDirectory
  packages/remix-dev/vite/build.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, vite

#8554 refactor(remix-dev/vite): simplify config resolution
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, vite

#8555 refactor(remix-dev): clean resolved config
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
  packages/remix-dev/vite/build.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8557 refactor(vite): decouple server bundle config from serverBuildDirectory
  packages/remix-dev/vite/build.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8553 docs: add how to fix cjs/esm bugs video link
  docs/future/vite.md
Labels: CLA Signed, docs

#8564 template(vite): Improve vite-express template to match official express template server behavior
  templates/unstable-vite-express/.eslintrc.cjs
  templates/unstable-vite-express/package.json
  templates/unstable-vite-express/server.mjs
Labels: CLA Signed

#8572 template(vite-express): align with express template
  templates/express/.eslintrc.cjs
  templates/express/server.js
  templates/unstable-vite-express/.eslintrc.cjs
  templates/unstable-vite-express/package.json
  templates/unstable-vite-express/server.js
Labels: CLA Signed, template:express, vite

#8574 docs(vite): remove outdated serverBuildPath docs
  docs/future/vite.md
Labels: CLA Signed, vite

#8566 Update server-bundles.md (fix broken link)
  contributors.yml
  docs/future/server-bundles.md
Labels: CLA Signed, docs

#8576 Update "Environment Variables" page w/ proper CF docs link
  contributors.yml
  docs/guides/envvars.md
Labels: CLA Signed, docs

#8575 feat(remix-dev/vite): add buildDirectory and manifest options
  .changeset/bright-days-brush.md
  .changeset/thirty-coins-give.md
  docs/future/vite.md
  integration/vite-adapter-test.ts
  integration/vite-build-manifest-test.ts
  integration/vite-server-bundles-test.ts
  packages/remix-dev/index.ts
  packages/remix-dev/vite/build.ts
  packages/remix-dev/vite/index.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8580 vite: fix "could not fast refresh" false alarm
  .changeset/fast-dodos-yell.md
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed

#8581 fix(remix-dev/vite): remove Vite v4 back compat
  .changeset/great-mice-march.md
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8582 refactor(remix-dev/vite): move server bundle ID to build context
  packages/remix-dev/vite/build.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8579 docs(tutorial): add callouts in the tutorial when type errors are introduced
  docs/start/tutorial.md
Labels: CLA Signed, docs

#8586 refactor(remix-dev/vite): clean resolved Remix config
  packages/remix-dev/vite/build.ts
  packages/remix-dev/vite/plugin.ts
  packages/remix-dev/vite/styles.ts
Labels: CLA Signed, package:dev, vite

#8595 feat(remix-dev/vite): pass entire remixConfig to buildEnd
  integration/vite-adapter-test.ts
  packages/remix-dev/vite/build.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8596 feat(remix-dev/vite): remove unstable prefix from serverBundles
  .changeset/two-pumpkins-vanish.md
  docs/future/server-bundles.md
  docs/future/vite.md
  integration/vite-adapter-test.ts
  integration/vite-server-bundles-test.ts
  packages/remix-dev/vite/build.ts
  packages/remix-dev/vite/plugin.ts
Labels: package:dev, vite

#8598 fix(remix-dev/vite): validate server bundle IDs
  .changeset/cyan-dingos-care.md
  packages/remix-dev/vite/build.ts
Labels: CLA Signed, package:dev, vite

#8591 vite: reduce network calls for route modules during HMR
  .changeset/thin-rings-eat.md
  packages/remix-dev/vite/plugin.ts
  packages/remix-dev/vite/static/refresh-utils.cjs
Labels: CLA Signed, vite

#8531 Cloudflare support for Vite
  .changeset/fluffy-dots-grin.md
  docs/future/vite.md
  integration/package.json
  integration/vite-cloudflare-test.ts
  packages/remix-cloudflare-pages/worker.ts
  packages/remix-dev/index.ts
  packages/remix-dev/package.json
  packages/remix-dev/vite/adapters/cloudflare.ts
  packages/remix-dev/vite/index.ts
  packages/remix-dev/vite/node-adapter.ts
  packages/remix-dev/vite/node/adapter.ts
  packages/remix-dev/vite/plugin.ts
  packages/remix-server-runtime/server.ts
  templates/unstable-vite-cloudflare/.eslintrc.cjs
  templates/unstable-vite-cloudflare/.gitignore
  templates/unstable-vite-cloudflare/README.md
  templates/unstable-vite-cloudflare/app/root.tsx
  templates/unstable-vite-cloudflare/app/routes/_index.tsx
  templates/unstable-vite-cloudflare/env.d.ts
  templates/unstable-vite-cloudflare/functions/[[path]].ts
  templates/unstable-vite-cloudflare/package.json
  templates/unstable-vite-cloudflare/public/favicon.ico
  templates/unstable-vite-cloudflare/tsconfig.json
  templates/unstable-vite-cloudflare/vite.config.ts
  templates/unstable-vite-cloudflare/wrangler.toml
  yarn.lock
Labels: CLA Signed, package:dev, runtime:cloudflare, vite

#8603 remove unused experimental flag `hmrPartialAccept`
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed

#8251 Add support for future.v3_throwAbortReason flag
  .changeset/throw-abort-reason.md
  docs/file-conventions/remix-config.md
  docs/future/vite.md
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/__tests__/server-test.ts
  packages/remix-server-runtime/__tests__/utils.ts
  packages/remix-server-runtime/entry.ts
  packages/remix-server-runtime/package.json
  packages/remix-server-runtime/server.ts
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed, feat:routing, package:server-runtime

#8612 vite: fix typo
  docs/future/vite.md
Labels: CLA Signed

#8599 feat(remix-dev/vite): modify manifest paths
  .changeset/bright-days-brush.md
  .changeset/thin-falcons-give.md
  .changeset/wild-readers-drive.md
  docs/future/vite.md
  integration/helpers/vite.ts
  integration/spa-mode-test.ts
  integration/vite-manifests-test.ts
  integration/vite-server-bundles-test.ts
  packages/remix-dev/vite/build.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8617 Unify Fastly Compute product name in docs
  docs/discussion/runtimes.md
  docs/other-api/adapter.md
Labels: CLA Signed

#8622 templates: enable `skipLibCheck`
  templates/arc/tsconfig.json
  templates/cloudflare-pages/tsconfig.json
  templates/cloudflare-workers/tsconfig.json
  templates/express/tsconfig.json
  templates/fly/tsconfig.json
  templates/remix-tutorial/tsconfig.json
  templates/remix/tsconfig.json
  templates/spa/tsconfig.json
Labels: CLA Signed

#8577 Unwrap thrown Responses from entry.server into ErrorResponses
  .changeset/silver-crews-arrive.md
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/__tests__/server-test.ts
  packages/remix-server-runtime/package.json
  packages/remix-server-runtime/server.ts
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed, package:server-runtime

#8539 Add mode field into generated vite server build
  .changeset/tender-cherries-taste.md
  packages/remix-dev/vite/plugin.ts
  packages/remix-server-runtime/build.ts
Labels: CLA Signed, package:dev, vite

#8627 vite: no `enforce: "post"`
  .changeset/green-baboons-punch.md
  docs/future/vite.md
  integration/vite-build-test.ts
  integration/vite-dev-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed

#8613 vite: add sourcemap flags
  .changeset/curly-camels-applaud.md
  packages/remix-dev/cli/run.ts
  packages/remix-dev/vite/build.ts
Labels: CLA Signed, package:dev, vite

#8621 docs(spa-mode): fix typo in route-based code-splitting
  docs/future/spa-mode.md
Labels: CLA Signed

#8636 vite: no livereload, scripts injects hmr runtime instead
  .changeset/ninety-turtles-explode.md
  docs/future/vite.md
  integration/helpers/vite-template/app/root.tsx
  integration/vite-css-test.ts
  integration/vite-dev-test.ts
  integration/vite-server-bundles-test.ts
  packages/remix-dev/vite/plugin.ts
  packages/remix-dev/vite/replace-import-specifier.ts
  packages/remix-react/components.tsx
  templates/spa/app/root.tsx
  templates/unstable-vite-cloudflare/app/root.tsx
  templates/unstable-vite-express/app/root.tsx
  templates/unstable-vite/app/root.tsx
Labels: CLA Signed

#8643 Bump router
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed

#8620 Convert Vite plugin `adapter` API to `presets`
  .changeset/ninety-baboons-leave.md
  .changeset/quiet-adults-drum.md
  docs/future/vite.md
  integration/helpers/vite.ts
  integration/vite-adapter-test.ts
  integration/vite-cloudflare-test.ts
  integration/vite-presets-test.ts
  packages/remix-dev/index.ts
  packages/remix-dev/vite/adapters/cloudflare.ts
  packages/remix-dev/vite/build.ts
  packages/remix-dev/vite/index.ts
  packages/remix-dev/vite/plugin.ts
  packages/remix-dev/vite/presets/cloudflare.ts
  templates/unstable-vite-cloudflare/vite.config.ts
Labels: CLA Signed, package:dev, vite

#8644 vite: link to cloudflare docs for proxy features
  docs/future/vite.md
Labels: CLA Signed

#8649 vite: cloudflare preset load context
  .changeset/spicy-buses-play.md
  docs/future/vite.md
  integration/vite-cloudflare-test.ts
  packages/remix-dev/index.ts
  packages/remix-dev/vite/index.ts
  packages/remix-dev/vite/plugin.ts
  packages/remix-dev/vite/presets/cloudflare.ts
  templates/unstable-vite-cloudflare/vite.config.ts
Labels: CLA Signed

#8651 Only handle critical CSS globals in development
  packages/remix-react/browser.tsx
Labels: CLA Signed, package:dev, vite
