Repository remix-run/remix, pull requests merged in 2024-05, with the labels that each got.

#9336 Change single fetch type override recommendation
  CHANGELOG.md
  docs/guides/single-fetch.md
Labels: docs

#9349 Resource Route Single Fetch Updates
  .changeset/rich-spoons-draw.md
  .changeset/slow-peaches-matter.md
  docs/guides/single-fetch.md
  integration/package.json
  integration/single-fetch-test.ts
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/deprecations.ts
  packages/remix-server-runtime/package.json
  packages/remix-server-runtime/server.ts
  packages/remix-server-runtime/single-fetch.ts
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed, package:server-runtime

#9357 fix(ci): Update deno template path
  scripts/utils.js
Labels: CLA Signed

#9345 Add Vite-based `cloudflare-workers` template
  .eslintignore
  docs/guides/templates.md
  docs/guides/vite.md
  templates/cloudflare-workers/.eslintrc.cjs
  templates/cloudflare-workers/.gitignore
  templates/cloudflare-workers/README.md
  templates/cloudflare-workers/app/entry.client.tsx
  templates/cloudflare-workers/app/entry.server.tsx
  templates/cloudflare-workers/app/root.tsx
  templates/cloudflare-workers/app/routes/_index.tsx
  templates/cloudflare-workers/env.d.ts
  templates/cloudflare-workers/load-context.ts
  templates/cloudflare-workers/package.json
  templates/cloudflare-workers/public/favicon.ico
  templates/cloudflare-workers/server.js
  templates/cloudflare-workers/tsconfig.json
  templates/cloudflare-workers/vite.config.ts
  templates/cloudflare-workers/worker-configuration.d.ts
  templates/cloudflare-workers/wrangler.toml
Labels: CLA Signed, template:cloudflare-workers

#9371 Tiny Typo fix
  docs/guides/single-fetch.md
Labels: CLA Signed

#9378 docs: made example in `Route File Nmaing` stricter
  contributors.yml
  docs/file-conventions/routes.md
Labels: CLA Signed

#9369 Dont log single fetch thrown redirect response stubs via handleError
  .changeset/rare-dodos-push.md
  integration/single-fetch-test.ts
  packages/remix-server-runtime/server.ts
  packages/remix-server-runtime/single-fetch.ts
Labels: CLA Signed, package:server-runtime

#9364 Allow a nonce to be set on single fetch stream transfer inline scripts
  .changeset/nasty-vans-brake.md
  docs/guides/single-fetch.md
  integration/single-fetch-test.ts
  packages/remix-react/server.tsx
  packages/remix-react/single-fetch.tsx
Labels: CLA Signed, package:server-runtime

#9383 refactor(remix-dev/vite): fix typo in resolve-file-url.ts
  packages/remix-dev/vite/resolve-file-url.ts
Labels: CLA Signed

#9381 Add more community route conventions and make them more prominent
  docs/discussion/routes.md
  docs/file-conventions/routes.md
Labels: CLA Signed, docs

#9372 Single-fetch typesafety: `defineLoader` and `defineAction`
  .changeset/rotten-geckos-yawn.md
  docs/guides/single-fetch.md
  packages/remix-cloudflare/index.ts
  packages/remix-deno/index.ts
  packages/remix-node/index.ts
  packages/remix-react/future/single-fetch.d.ts
  packages/remix-server-runtime/index.ts
  packages/remix-server-runtime/single-fetch.ts
Labels: CLA Signed, feat:typescript, package:server-runtime, renderer:react

#9395 Clean redundant `?client-route=1` usage in dev
  .changeset/slimy-shrimps-roll.md
  packages/remix-dev/vite/plugin.ts
Labels: package:dev, vite

#9398 Remove response stub from LoaderFunctionArgs/ActionFunctionArgs
  .changeset/fresh-pigs-leave.md
  packages/remix-server-runtime/data.ts
  packages/remix-server-runtime/routeModules.ts
  packages/remix-server-runtime/server.ts
  packages/remix-server-runtime/single-fetch.ts
Labels: CLA Signed

#9400 Bump router
  packages/remix-react/package.json
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#9399 Add back optional response stub for v2
  .changeset/fresh-pigs-leave.md
  packages/remix-server-runtime/routeModules.ts
Labels: CLA Signed

#9404 Move defineClientLoader/defineClientAction to react package
  .changeset/rotten-geckos-yawn.md
  .changeset/sharp-bags-call.md
  packages/remix-cloudflare/CHANGELOG.md
  packages/remix-cloudflare/index.ts
  packages/remix-deno/CHANGELOG.md
  packages/remix-deno/index.ts
  packages/remix-node/CHANGELOG.md
  packages/remix-node/index.ts
  packages/remix-react/CHANGELOG.md
  packages/remix-react/future/single-fetch.d.ts
  packages/remix-react/index.tsx
  packages/remix-react/single-fetch.tsx
  packages/remix-server-runtime/CHANGELOG.md
  packages/remix-server-runtime/index.ts
  packages/remix-server-runtime/single-fetch.ts
Labels: CLA Signed

#9184 feat: bump express to ^4.19.2
  .changeset/afraid-bears-fry.md
  integration/helpers/node-template/package.json
  integration/helpers/vite-template/package.json
  integration/package.json
  packages/remix-dev/package.json
  packages/remix-express/package.json
  packages/remix-serve/package.json
  pnpm-lock.yaml
  scripts/playground/template/package.json
  templates/classic-remix-compiler/express/package.json
  templates/express/package.json
Labels: CLA Signed, package:dev, template:express, adapter:express

#9414 Bump router
  .changeset/hip-doors-hope.md
  integration/package.json
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#9409 Fix post-release workflows
  .github/workflows/release.yml
Labels: CLA Signed

#9429 docs(start/quickstart): Fix typo
  contributors.yml
  docs/start/quickstart.md
Labels: CLA Signed, docs

#9430 Fixes spelling error from "than" to "then"
  contributors.yml
  docs/guides/single-fetch.md
Labels: CLA Signed, docs

#9433 docs: try to prevent "remix" package footgun
  contributors.yml
  packages/remix/README.md
Labels: CLA Signed, docs

#9425 Add missing `useRouteError` import in loader docs
  contributors.yml
  docs/route/loader.md
Labels: CLA Signed, docs

#9218 chore: remove unused `node-fetch` dependency from `package.json`
  integration/helpers/vite-template/package.json
  pnpm-lock.yaml
  scripts/deployment-test/package.json
  templates/cloudflare/package.json
Labels: CLA Signed, dependencies

#9210 update deno to use built in http server
  templates/classic-remix-compiler/deno/server.ts
Labels: CLA Signed, feat:deno, template:deno

#8722 template(vite-cloudflare): Add _routes.json, _headers and .dev.vars to .gitignore
  contributors.yml
  templates/cloudflare/.gitignore
  templates/cloudflare/public/_headers
  templates/cloudflare/public/_routes.json
Labels: CLA Signed, runtime:cloudflare, vite

#9481 chore: turn on all the future flags for vite templates
  templates/cloudflare-workers/package.json
  templates/cloudflare-workers/vite.config.ts
  templates/cloudflare/package.json
  templates/cloudflare/vite.config.ts
  templates/express/package.json
  templates/express/server.js
  templates/express/vite.config.ts
  templates/remix-javascript/package.json
  templates/remix-javascript/vite.config.js
  templates/remix-tutorial/package.json
  templates/remix-tutorial/vite.config.ts
  templates/remix/package.json
  templates/remix/vite.config.ts
  templates/spa/package.json
  templates/spa/vite.config.ts
Labels: CLA Signed, template:express, template:remix, template:remix-javascript, template:spa, template:vite, template:vite-express, template:vite-cloudflare

#9480 chore: pin wrangler, update cf packages, add .dev.vars to gitignore
  templates/cloudflare-workers/.gitignore
  templates/cloudflare-workers/package.json
  templates/cloudflare/package.json
Labels: CLA Signed, template:cloudflare-workers, template:vite-cloudflare

#9491 docs: fix single fetch typos
  docs/guides/single-fetch.md
Labels: CLA Signed, docs, feat:single-fetch

#9488 Single Fetch: fix issues returning/throwing response stubs from resource routes
  .changeset/smart-mirrors-flow.md
  integration/single-fetch-test.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed, package:server-runtime, awaiting release, feat:single-fetch

#9230 fix(docs): update URL for placekitten.com
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed, docs

#9512 docs: update flow and language of single-fetch.md
  docs/guides/single-fetch.md
Labels: CLA Signed, docs

#9511 typos single-fetch.md
  contributors.yml
  docs/guides/single-fetch.md
Labels: CLA Signed, docs

#9525 docs: add returned promise in single fetch example
  docs/guides/single-fetch.md
Labels: CLA Signed, docs

#9535 Update future flags guide
  docs/guides/api-development-strategy.md
  docs/start/future-flags.md
Labels: CLA Signed
