Repository remix-run/remix, pull requests merged in 2024-07, with the labels that each got.

#9680 fix: remove duplicated `cross-env` dependency from express template
  contributors.yml
  templates/express/package.json
Labels: CLA Signed, template:vite-express

#9687 Add note to docs on manifest endpoint and params
  docs/guides/fog-of-war.md
Labels: CLA Signed

#9686 Fog of War: Don't discover links/forms with reloadDocument
  .changeset/dull-oranges-carry.md
  integration/fog-of-war-test.ts
  packages/remix-react/components.tsx
Labels: CLA Signed

#9688 Bump RR prerelease
  integration/package.json
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#9685 Correct CSS docs example using links export in route file
  contributors.yml
  docs/guides/css-files.md
Labels: CLA Signed, docs

#9694 Update use-revalidator.md
  contributors.yml
  docs/hooks/use-revalidator.md
Labels: CLA Signed, docs

#9701 Bump router to stable
  .changeset/selfish-icons-remember.md
  integration/package.json
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#9693 Fix native fetch immutable headers issue
  .changeset/cyan-dingos-report.md
  packages/remix-server-runtime/__tests__/server-test.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed, package:server-runtime

#9738 Single Fetch: proxy request signal through on interrupted loader calls
  .changeset/fluffy-ways-bathe.md
  packages/remix-react/single-fetch.tsx
Labels: CLA Signed

#9739 docs: add info on FormData submitter and SubmitEvent compatibility
  contributors.yml
  docs/guides/faq.md
Labels: CLA Signed, docs

#9664 reverting createRemixHeaders to previous fix for handling multiple cookies
  .changeset/few-planets-attend.md
  contributors.yml
  packages/remix-architect/__tests__/server-test.ts
  packages/remix-architect/package.json
  packages/remix-architect/server.ts
  pnpm-lock.yaml
Labels: CLA Signed, adapter:architect

#8932 Log route module errors prior to reloading the page
  .changeset/log-module-error.md
  packages/remix-react/routeModules.ts
Labels: CLA Signed, renderer:react

#9706 Adopt RR stabilized v7_skipActionErrorRevalidation flag
  .changeset/quiet-pugs-allow.md
  docs/guides/single-fetch.md
  integration/package.json
  packages/remix-dev/package.json
  packages/remix-react/browser.tsx
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed, renderer:react, feat:single-fetch

#9744 Docs: Clarify `useActionData` Hook Scope
  contributors.yml
  docs/hooks/use-action-data.md
Labels: CLA Signed, docs

#9760 bump router
  .changeset/spicy-dancers-look.md
  integration/package.json
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#9768 remove redundent word
  contributors.yml
  docs/guides/single-fetch.md
Labels: CLA Signed

#9763 Rename future flag from fogOfWar to lazyRouteDiscovery
  .changeset/happy-dots-sleep.md
  docs/components/link.md
  docs/guides/lazy-route-discovery.md
  docs/start/future-flags.md
  integration/fog-of-war-test.ts
  integration/prefetch-test.ts
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
  packages/remix-react/entry.ts
  packages/remix-react/fog-of-war.ts
  packages/remix-server-runtime/entry.ts
  packages/remix-testing/create-remix-stub.tsx
Labels: CLA Signed, package:dev, package:server-runtime, renderer:react

#9764 Add support for replace() redirects
  .changeset/curvy-vans-remember.md
  integration/package.json
  integration/redirects-test.ts
  integration/single-fetch-test.ts
  packages/remix-cloudflare/index.ts
  packages/remix-deno/index.ts
  packages/remix-dev/package.json
  packages/remix-node/index.ts
  packages/remix-react/index.tsx
  packages/remix-react/package.json
  packages/remix-react/routes.tsx
  packages/remix-react/single-fetch.tsx
  packages/remix-server-runtime/index.ts
  packages/remix-server-runtime/package.json
  packages/remix-server-runtime/responses.ts
  packages/remix-server-runtime/single-fetch.ts
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed, feat:routing

#9782 docs: Update quickstart to reference vite config instead of remix config
  contributors.yml
  docs/start/quickstart.md
Labels: CLA Signed, docs

#9791 fix: update pending-ui.md starred icons
  contributors.yml
  docs/discussion/pending-ui.md
Labels: CLA Signed, docs

#9695 Change hydration check from URL to matches
  .changeset/tender-elephants-kneel.md
  packages/remix-react/__tests__/components-test.tsx
  packages/remix-react/browser.tsx
  packages/remix-server-runtime/server.ts
  packages/remix-server-runtime/serverHandoff.ts
Labels: CLA Signed, renderer:react, hydration

#9792 Trim trailing slashes from single fetch data URLs
  .changeset/large-donkeys-remember.md
  packages/remix-react/single-fetch.tsx
Labels: CLA Signed

#9769 Remove single fetch response stub, add headers
  .changeset/add-unstable-data.md
  .changeset/remove-response-stub.md
  docs/guides/single-fetch.md
  docs/utils/data.md
  integration/package.json
  integration/single-fetch-test.ts
  packages/remix-cloudflare/index.ts
  packages/remix-deno/index.ts
  packages/remix-dev/package.json
  packages/remix-node/index.ts
  packages/remix-react/__tests__/exports-test.tsx
  packages/remix-react/index.tsx
  packages/remix-react/package.json
  packages/remix-react/single-fetch.tsx
  packages/remix-server-runtime/data.ts
  packages/remix-server-runtime/index.ts
  packages/remix-server-runtime/package.json
  packages/remix-server-runtime/routeModules.ts
  packages/remix-server-runtime/routes.ts
  packages/remix-server-runtime/server.ts
  packages/remix-server-runtime/single-fetch.ts
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed, package:server-runtime, feat:single-fetch

#9774 Convert cloudflare workers template’s main entry file from JS → TS
  templates/cloudflare-workers/load-context.ts
  templates/cloudflare-workers/package.json
  templates/cloudflare-workers/server.ts
  templates/cloudflare-workers/wrangler.toml
Labels: CLA Signed, feat:typescript, adapter:cloudflare-workers

#9758 Include .client/.server directories in Tailwind globs
  contributors.yml
  docs/styling/tailwind.md
  integration/hmr-test.ts
  integration/postcss-test.ts
  integration/tailwind-test.ts
  scripts/playground/template/tailwind.config.js
  templates/cloudflare-workers/tailwind.config.ts
  templates/cloudflare/tailwind.config.ts
  templates/express/tailwind.config.ts
  templates/remix-javascript/tailwind.config.js
  templates/remix/tailwind.config.ts
  templates/spa/tailwind.config.ts
Labels: CLA Signed, package:css-bundle

#9749 docs(file-conventions/routes): fix grammar
  contributors.yml
  docs/file-conventions/routes.md
Labels: CLA Signed, docs

#9565 templates(cloudflare): remove `wrangler.toml` bindings warning
  templates/cloudflare/README.md
Labels: CLA Signed, template:vite-cloudflare

#9700 fix publicPath joining with module paths to support absolute publicPath
  .changeset/vite-absolute-base.md
  contributors.yml
  integration/vite-absolute-base-test.ts
  packages/remix-dev/vite/combine-urls-test.ts
  packages/remix-dev/vite/combine-urls.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev

#9796 Single Fetch: Add undefined to the useRouteLoaderData type override
  .changeset/silver-laws-invite.md
  packages/remix-react/future/single-fetch.d.ts
Labels: CLA Signed, feat:typescript, feat:single-fetch

#9807 Bump router
  integration/package.json
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#9811 Fix types for unstable_data
  .changeset/mighty-needles-destroy.md
  integration/package.json
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-server-runtime/single-fetch.ts
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed
