Repository remix-run/remix, pull requests merged in 2024-02, with the labels that each got.

#8654 Export more Vite types, document presets
  .changeset/cool-fishes-attack.md
  docs/future/presets.md
  docs/future/server-bundles.md
  docs/future/vite.md
  packages/remix-dev/index.ts
  packages/remix-dev/vite/index.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8661 decision: splitting up client and server code in vite
  decisions/0010-splitting-up-client-and-server-code-in-vite.md
Labels: CLA Signed

#8662 decisions(0010): fix link
  decisions/0010-splitting-up-client-and-server-code-in-vite.md
Labels: CLA Signed

#8663 decisions(0010): add checkmarks for goals 3 and 4
  decisions/0010-splitting-up-client-and-server-code-in-vite.md
Labels: CLA Signed

#8664 Bump router
  .changeset/tender-sloths-pump.md
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed

#8667 Make Cloudflare preset usage consistent
  docs/future/vite.md
  templates/unstable-vite-cloudflare/vite.config.ts
Labels: CLA Signed, docs, vite

#8668 Fix highlighting in Vite MDX docs
  docs/future/vite.md
Labels: CLA Signed, docs, vite

#8672 fix(templates): bump the wrangler version up in the cloudflare templates
  contributors.yml
  templates/cloudflare-pages/package.json
  templates/cloudflare-workers/package.json
Labels: CLA Signed

#8684 Support Vite v5.1.0's `.css?url` imports
  .changeset/shaggy-sheep-cheer.md
  docs/future/vite.md
  integration/helpers/vite-template/package.json
  integration/vite-css-test.ts
  package.json
  packages/remix-dev/package.json
  packages/remix-dev/vite/plugin.ts
  yarn.lock
Labels: CLA Signed, package:dev, vite

#8680 docs: add `<Form />` import to data-flow.md
  contributors.yml
  docs/discussion/data-flow.md
Labels: CLA Signed, docs

#8676 docs: fix tutorial contact action highlight line numbers
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed, docs

#8675 docs(tutorial): fix the contact route file path
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed, docs

#8687 test: refactor vite config templates
  integration/helpers/vite.ts
  integration/vite-cloudflare-test.ts
  integration/vite-css-test.ts
  integration/vite-dot-server-test.ts
  integration/vite-dotenv-test.ts
  integration/vite-hmr-hdr-test.ts
  integration/vite-loader-context-test.ts
  integration/vite-manifests-test.ts
  integration/vite-node-env-test.ts
  integration/vite-presets-test.ts
  integration/vite-route-added-test.ts
  integration/vite-route-exports-modified-offscreen-test.ts
  integration/vite-server-bundles-test.ts
Labels: CLA Signed

#8690 Vite: Validate MDX Rollup plugin order
  .changeset/forty-squids-travel.md
  integration/vite-plugin-order-validation-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8145 feat(remix-dev/vite, remix-react, remix-server-runtime): support custom basename
  .changeset/three-cars-dream.md
  .changeset/vite-deprecate-public-path.md
  .changeset/vite-rr-basename.md
  docs/future/vite.md
  integration/helpers/vite.ts
  integration/vite-basename-test.ts
  integration/vite-presets-test.ts
  packages/remix-dev/server-build.ts
  packages/remix-dev/vite/node-adapter.ts
  packages/remix-dev/vite/plugin.ts
  packages/remix-dev/vite/styles.ts
  packages/remix-express/__tests__/server-test.ts
  packages/remix-express/server.ts
  packages/remix-react/browser.tsx
  packages/remix-react/components.tsx
  packages/remix-server-runtime/build.ts
  packages/remix-server-runtime/routeMatching.ts
  packages/remix-server-runtime/server.ts
  packages/remix-server-runtime/serverHandoff.ts
Labels: CLA Signed, vite

#8693 vite: playwright test fixtures
  integration/helpers/vite.ts
  integration/vite-cloudflare-test.ts
  integration/vite-dot-server-test.ts
  integration/vite-hmr-hdr-test.ts
  integration/vite-presets-test.ts
Labels: CLA Signed

#8697 Update Vite basename and publicPath docs
  docs/future/vite.md
Labels: CLA Signed, docs, vite

#8688 vite: externalize getbindingsproxy from cloudflare preset
  .changeset/nervous-rivers-chew.md
  docs/future/vite.md
  integration/vite-cloudflare-test.ts
  packages/remix-dev/package.json
  packages/remix-dev/vite/plugin.ts
  packages/remix-dev/vite/presets/cloudflare.ts
  templates/unstable-vite-cloudflare/env.d.ts
  templates/unstable-vite-cloudflare/functions/[[path]].ts
  templates/unstable-vite-cloudflare/load-context.ts
  templates/unstable-vite-cloudflare/vite.config.ts
Labels: CLA Signed, runtime:cloudflare, vite

#8698 Update presets example to new Cloudflare preset API
  docs/future/presets.md
Labels: CLA Signed, docs, vite

#8701 vite: make getLoadContext optional for cloudflare pages handler
  .changeset/brown-rats-flow.md
  docs/guides/envvars.md
  docs/guides/manual-mode.md
  docs/other-api/dev.md
  integration/helpers/deno-template/server.ts
  packages/remix-cloudflare-pages/worker.ts
  packages/remix-dev/__tests__/fixtures/cloudflare/server.ts
  packages/remix-dev/__tests__/fixtures/deno/server.ts
  templates/arc/server.ts
  templates/cloudflare-pages/server.ts
  templates/deno/server.ts
  templates/express/server.js
Labels: CLA Signed

#8711 Vite: Enable HMR for .md and .mdx files
  .changeset/wet-bulldogs-appear.md
  integration/vite-hmr-hdr-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed

#8715 Update Vite dev dep to 5.1.0-beta.7
  integration/helpers/vite-template/package.json
  package.json
  packages/remix-dev/package.json
  yarn.lock
Labels: CLA Signed, vite

#8710 Don't call serverLoader for client-only example
  contributors.yml
  docs/guides/client-data.md
Labels: CLA Signed

#8624 vite: Enable use of `vite preview` to preview built SPA sites
  .changeset/tender-pens-tan.md
  packages/remix-dev/vite/plugin.ts
  templates/spa/README.md
  templates/spa/package.json
Labels: CLA Signed, vite, feat:spa

#8709 Support an optional Layout export from the root route
  .changeset/fresh-knives-deliver.md
  docs/components/scripts.md
  docs/file-conventions/root.md
  integration/client-data-test.ts
  integration/root-route-test.ts
  packages/remix-dev/vite/plugin.ts
  packages/remix-react/routeModules.ts
  packages/remix-react/routes.tsx
  packages/remix-server-runtime/routeModules.ts
  templates/arc/app/root.tsx
  templates/cloudflare-pages/app/root.tsx
  templates/cloudflare-workers/app/root.tsx
  templates/deno/app/root.tsx
  templates/express/app/root.tsx
  templates/fly/app/root.tsx
  templates/remix-javascript/app/root.jsx
  templates/remix/app/root.tsx
  templates/spa/app/root.tsx
  templates/unstable-vite-cloudflare/app/root.tsx
  templates/unstable-vite-express/app/root.tsx
  templates/unstable-vite/app/root.tsx
Labels: CLA Signed, package:dev, renderer:react

#8720 Fix SPA Mode issue when using a basename
  .changeset/eighty-years-accept.md
  integration/helpers/create-fixture.ts
  integration/spa-mode-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed

#8721 Minor updates for SPA Mode + vite preview
  .changeset/tender-pens-tan.md
  packages/remix-dev/vite/plugin.ts
  templates/spa/README.md
Labels: CLA Signed

#8671 Drops eslint-config-prettier on templates (#8472)
  contributors.yml
  templates/arc/package.json
  templates/cloudflare-pages/package.json
  templates/cloudflare-workers/package.json
  templates/express/package.json
  templates/fly/package.json
  templates/remix-javascript/package.json
  templates/remix/package.json
  templates/spa/package.json
  templates/unstable-vite-cloudflare/package.json
  templates/unstable-vite-express/package.json
  templates/unstable-vite/package.json
Labels: CLA Signed, package:eslint-config

#8692 Stabilize SPA Mode
  .changeset/stabilize-spa-mode.md
  docs/future/spa-mode.md
  integration/spa-mode-test.ts
  integration/vite-presets-test.ts
  packages/remix-dev/config.ts
  packages/remix-dev/vite/plugin.ts
  packages/remix-react/index.tsx
  templates/spa/vite.config.ts
Labels: CLA Signed, feat:routing, package:dev, renderer:react

#8723 Update Vite to 5.1.0
  .changeset/pink-eggs-drum.md
  docs/future/vite.md
  integration/helpers/vite-template/package.json
  integration/vite-cloudflare-test.ts
  package.json
  packages/remix-dev/package.json
  templates/spa/package.json
  templates/unstable-vite-cloudflare/package.json
  templates/unstable-vite-express/package.json
  templates/unstable-vite/package.json
  yarn.lock
Labels: CLA Signed, package:dev, vite

#8713 Stabilize Vite plugin, Cloudflare preset, and related types
  .changeset/serious-lizards-prove.md
  docs/future/presets.md
  docs/future/server-bundles.md
  docs/future/spa-mode.md
  docs/future/vite.md
  integration/helpers/vite-template/vite.config.ts
  integration/helpers/vite.ts
  integration/spa-mode-test.ts
  integration/vite-basename-test.ts
  integration/vite-build-test.ts
  integration/vite-cloudflare-test.ts
  integration/vite-css-test.ts
  integration/vite-dev-custom-entry-test.ts
  integration/vite-dev-test.ts
  integration/vite-dot-server-test.ts
  integration/vite-hmr-hdr-test.ts
  integration/vite-manifests-test.ts
  integration/vite-plugin-order-validation-test.ts
  integration/vite-presets-test.ts
  integration/vite-server-bundles-test.ts
  packages/remix-dev/index.ts
  packages/remix-dev/vite/index.ts
  packages/remix-dev/vite/presets/cloudflare.ts
  templates/spa/vite.config.ts
  templates/vite-cloudflare/.eslintrc.cjs
  templates/vite-cloudflare/.gitignore
  templates/vite-cloudflare/README.md
  templates/vite-cloudflare/app/root.tsx
  templates/vite-cloudflare/app/routes/_index.tsx
  templates/vite-cloudflare/env.d.ts
  templates/vite-cloudflare/functions/[[path]].ts
  templates/vite-cloudflare/load-context.ts
  templates/vite-cloudflare/package.json
  templates/vite-cloudflare/public/favicon.ico
  templates/vite-cloudflare/tsconfig.json
  templates/vite-cloudflare/vite.config.ts
  templates/vite-cloudflare/wrangler.toml
  templates/vite-express/.eslintrc.cjs
  templates/vite-express/.gitignore
  templates/vite-express/README.md
  templates/vite-express/app/root.tsx
  templates/vite-express/app/routes/_index.tsx
  templates/vite-express/env.d.ts
  templates/vite-express/package.json
  templates/vite-express/public/favicon.ico
  templates/vite-express/server.js
  templates/vite-express/tsconfig.json
  templates/vite-express/vite.config.ts
  templates/vite/.eslintrc.cjs
  templates/vite/.gitignore
  templates/vite/README.md
  templates/vite/app/root.tsx
  templates/vite/app/routes/_index.tsx
  templates/vite/env.d.ts
  templates/vite/package.json
  templates/vite/public/favicon.ico
  templates/vite/tsconfig.json
  templates/vite/vite.config.ts
Labels: CLA Signed, package:dev, vite

#8707 template(spa): Provide example of server that can handle SPA routes
  templates/spa/README.md
Labels: CLA Signed, docs, feat:spa

#8725 Always prepend DOCTYPE in SPA mode entry.server.tsx
  .changeset/cyan-snails-provide.md
  docs/future/spa-mode.md
  integration/spa-mode-test.ts
  packages/remix-dev/config/defaults/entry.server.spa.tsx
  templates/spa/app/entry.server.tsx
Labels: CLA Signed, feat:spa

#8726 Throw a more specific error if a user returns defer from a resource route
  .changeset/fluffy-peas-promise.md
  integration/resource-routes-test.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed, package:server-runtime

#8733 Fix typo in SPA mode docs
  docs/future/spa-mode.md
Labels: CLA Signed, docs, vite

#8740 Fix Vite client route requests with pre-processed search params
  .changeset/vite-whatwg-querystring.md
  contributors.yml
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8748 Simplify Vite client route query string logic
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8747 Fix a bug with SPA mode when the root route had no children
  .changeset/proud-paws-hope.md
  integration/spa-mode-test.ts
  packages/remix-react/routes.tsx
Labels: CLA Signed, renderer:react, feat:spa

#8760 docs: fix ErrorBoundary exported as default export
  docs/file-conventions/root.md
Labels: CLA Signed

#8745 Fix sync `routes` config type error
  .changeset/quiet-cups-attack.md
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev, vite

#8752 Fix Vite critical CSS resolution when cwd differs from project root
  .changeset/nice-jobs-boil.md
  packages/remix-dev/vite/styles.ts
Labels: CLA Signed, package:dev, vite

#8749 Vite: Cloudflare Proxy plugin
  .changeset/khaki-starfishes-rest.md
  docs/future/presets.md
  docs/future/vite.md
  integration/helpers/vite.ts
  integration/package.json
  integration/vite-cloudflare-test.ts
  packages/remix-cloudflare-pages/worker.ts
  packages/remix-dev/index.ts
  packages/remix-dev/package.json
  packages/remix-dev/vite/cloudflare-proxy-plugin.ts
  packages/remix-dev/vite/index.ts
  packages/remix-dev/vite/presets/cloudflare.ts
  templates/vite-cloudflare/README.md
  templates/vite-cloudflare/app/routes/_index.tsx
  templates/vite-cloudflare/load-context.ts
  templates/vite-cloudflare/package.json
  templates/vite-cloudflare/vite.config.ts
  yarn.lock
Labels: CLA Signed, package:dev, runtime:cloudflare, vite

#8765 docs: add `to` prop to link, rename `To` to `Path`.
  contributors.yml
  docs/components/link.md
  docs/hooks/use-navigate.md
Labels: CLA Signed

#8768 vite: cloudflare docs + templates fixes
  docs/future/vite.md
  templates/vite-cloudflare/README.md
Labels: CLA Signed

#8771 Bump router to RR prerelease
  .changeset/cool-bears-perform.md
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed

#8795 vite: fix server export dead-code elimination for routes outside of app dir
  .changeset/brave-yaks-vanish.md
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed

#8796 Vite: Move SSR-only CSS files to client build
  .changeset/orange-cherries-flow.md
  integration/vite-build-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8797 Vite: Pass `remixUserConfig` to preset config hook
  .changeset/mighty-carpets-lie.md
  docs/future/presets.md
  integration/vite-presets-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8806 chore: fix Windows path normalization in Vite
  .changeset/long-walls-rescue.md
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed

#8801 Always ignore route files starting with `.`
  .changeset/shy-gifts-ring.md
  docs/file-conventions/remix-config.md
  docs/future/vite.md
  docs/guides/migrating-react-router-app.md
  integration/flat-routes-test.ts
  integration/helpers/cf-template/remix.config.js
  integration/helpers/deno-template/remix.config.js
  integration/helpers/node-template/remix.config.js
  packages/create-remix/__tests__/fixtures/stack/remix.config.js
  packages/remix-dev/__tests__/fixtures/cloudflare/remix.config.js
  packages/remix-dev/__tests__/fixtures/deno/remix.config.js
  packages/remix-dev/__tests__/fixtures/node/remix.config.js
  packages/remix-dev/__tests__/fixtures/stack/remix.config.js
  packages/remix-dev/config/flat-routes.ts
  scripts/playground/template/remix.config.js
  templates/arc/remix.config.js
  templates/cloudflare-pages/remix.config.js
  templates/cloudflare-workers/remix.config.js
  templates/deno/remix.config.js
  templates/express/remix.config.js
  templates/fly/remix.config.js
  templates/remix-javascript/remix.config.js
  templates/remix-tutorial/remix.config.js
  templates/remix/remix.config.js
Labels: CLA Signed, package:dev, vite

#8815 Update server bundles manifest docs
  docs/future/server-bundles.md
Labels: CLA Signed, docs, vite

#8819 fix(cloudflare-pages): cloudflare context at top level for back compat
  .changeset/great-jokes-destroy.md
  packages/remix-cloudflare-pages/worker.ts
Labels: CLA Signed, adapter:cloudflare-pages

#8827 docs(guides/client-data): fix typo
  contributors.yml
  docs/guides/client-data.md
Labels: CLA Signed, docs

#8829 Fix build errors with Vite `.css?url` imports
  .changeset/cold-suns-notice.md
  integration/helpers/vite-template/package.json
  integration/helpers/vite.ts
  integration/vite-css-test.ts
  package.json
  packages/remix-dev/package.json
  packages/remix-dev/vite/plugin.ts
  yarn.lock
Labels: CLA Signed, package:dev, vite

#8839 fix hydration errors by reverting `Layout` in non-Vite templates
  templates/arc/app/root.tsx
  templates/cloudflare-pages/app/root.tsx
  templates/cloudflare-workers/app/root.tsx
  templates/deno/app/root.tsx
  templates/express/app/root.tsx
  templates/fly/app/root.tsx
  templates/remix-javascript/app/root.jsx
  templates/remix/app/root.tsx
Labels: CLA Signed

#8842 fix: mark Layout as browser safe route export
  .changeset/many-grapes-confess.md
  packages/remix-dev/compiler/js/plugins/routes.ts
Labels: CLA Signed

#8808 simplify the `vite-cloudflare` template
  templates/vite-cloudflare/README.md
  templates/vite-cloudflare/app/routes/_index.tsx
  templates/vite-cloudflare/load-context.ts
  templates/vite-cloudflare/package.json
  templates/vite-cloudflare/wrangler.toml
Labels: CLA Signed

#8851 docs(future/vite): bring in line with template
  contributors.yml
  docs/future/vite.md
Labels: CLA Signed, docs

#8854 docs(vite): update `vite.config.ts` example for Vitest
  contributors.yml
  docs/future/vite.md
Labels: CLA Signed

#8859 fix: account for presence of Layout in default error boundary
  .changeset/layout-error-boundary.md
  integration/root-route-test.ts
  packages/remix-react/errorBoundaries.tsx
Labels: CLA Signed

#8857 templates: fix typos in `eslintrc.cjs`
  contributors.yml
  templates/arc/.eslintrc.cjs
  templates/cloudflare-pages/.eslintrc.cjs
  templates/cloudflare-workers/.eslintrc.cjs
  templates/fly/.eslintrc.cjs
  templates/remix-javascript/.eslintrc.cjs
  templates/remix/.eslintrc.cjs
  templates/spa/.eslintrc.cjs
  templates/vite-cloudflare/.eslintrc.cjs
  templates/vite/.eslintrc.cjs
Labels: CLA Signed, template:architect, template:cloudflare-pages, template:cloudflare-workers, template:fly, template:remix, template:remix-javascript, template:spa

#8853 docs(future/vite): update code highlighting
  docs/future/vite.md
Labels: CLA Signed, docs, vite

#8863 chore: remove .d.ts files from templates in favor of tsconfig.json types
  templates/vite-cloudflare/env.d.ts
  templates/vite-cloudflare/tsconfig.json
  templates/vite-express/env.d.ts
  templates/vite-express/tsconfig.json
  templates/vite/env.d.ts
  templates/vite/tsconfig.json
Labels: CLA Signed

#8864 Fix `serverBundles` issue with multiple browser manifests
  .changeset/silver-years-roll.md
  integration/vite-server-bundles-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8870 Docs: Add Vite templates to official templates list
  contributors.yml
  docs/guides/templates.md
Labels: CLA Signed

#8843 Support custom Vite `build.assetsDir` option
  .changeset/tender-keys-develop.md
  contributors.yml
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed

#8789 docs: update `*.server.tsx` to `*.server.ts`
  docs/discussion/server-vs-client.md
  docs/file-conventions/routes.md
  docs/guides/file-uploads.md
Labels: CLA Signed, docs

#8778 remix/templates/cloudflare-pages: ignore .wrangler directory on .gitignore
  contributors.yml
  templates/cloudflare-pages/.gitignore
Labels: CLA Signed, template:cloudflare-pages

#8893 Remove unstable note from SPA template
  templates/spa/README.md
Labels: CLA Signed

#8885 Pass resolved `viteConfig` to `buildEnd` hook
  .changeset/shy-fireants-listen.md
  integration/vite-presets-test.ts
  packages/remix-dev/vite/build.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8873 Switch StackBlitz link to use remix.new
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: CLA Signed, docs

#8892 Fix root default HydrateFallback when Layout exists
  .changeset/layout-error-boundary.md
  .changeset/layout-hydrate-fallback.md
  integration/spa-mode-test.ts
  packages/remix-react/errorBoundaries.tsx
  packages/remix-react/fallback.tsx
Labels: CLA Signed

#8787 docs: Update useFetcher to include mention of JSON data
  contributors.yml
  docs/hooks/use-fetcher.md
Labels: CLA Signed, docs

#8897 Vite: Silence "use client" build warnings
  .changeset/quick-experts-enjoy.md
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8896 Sync vite templates with others re: entry files and polyfills
  templates/vite-cloudflare/app/entry.client.tsx
  templates/vite-cloudflare/app/entry.server.tsx
  templates/vite-express/app/entry.client.tsx
  templates/vite-express/app/entry.server.tsx
  templates/vite/app/entry.client.tsx
  templates/vite/app/entry.server.tsx
  templates/vite/vite.config.ts
Labels: CLA Signed

#8903 Bump Router prerelease
  integration/client-data-test.ts
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed

#8906 Fix BoundaryShell usage in default HydrateFallback
  .changeset/few-rice-join.md
  integration/root-route-test.ts
  integration/spa-mode-test.ts
  packages/remix-react/errorBoundaries.tsx
  packages/remix-react/fallback.tsx
Labels: CLA Signed

#8899 Type check `.server`/`.client` dirs in Vite templates
  contributors.yml
  templates/vite-cloudflare/tsconfig.json
  templates/vite-express/tsconfig.json
  templates/vite/tsconfig.json
Labels: CLA Signed, vite

#8909 chore: simplify template entry.server files
  integration/headers-test.ts
  packages/remix-dev/config/defaults/entry.server.cloudflare.tsx
  packages/remix-dev/config/defaults/entry.server.deno.tsx
  packages/remix-dev/config/defaults/entry.server.node.tsx
  templates/arc/app/entry.server.tsx
  templates/cloudflare-pages/app/entry.server.tsx
  templates/cloudflare-workers/app/entry.server.tsx
  templates/deno/app/entry.server.tsx
  templates/express/app/entry.server.tsx
  templates/fly/app/entry.server.tsx
  templates/remix-javascript/app/entry.server.jsx
  templates/remix/app/entry.server.tsx
  templates/vite-cloudflare/app/entry.server.tsx
  templates/vite-express/app/entry.server.tsx
  templates/vite/app/entry.server.tsx
Labels: CLA Signed

#8914 Revert "chore: simplify template entry.server files"
  integration/headers-test.ts
  packages/remix-dev/config/defaults/entry.server.cloudflare.tsx
  packages/remix-dev/config/defaults/entry.server.deno.tsx
  packages/remix-dev/config/defaults/entry.server.node.tsx
  templates/arc/app/entry.server.tsx
  templates/cloudflare-pages/app/entry.server.tsx
  templates/cloudflare-workers/app/entry.server.tsx
  templates/deno/app/entry.server.tsx
  templates/express/app/entry.server.tsx
  templates/fly/app/entry.server.tsx
  templates/remix-javascript/app/entry.server.jsx
  templates/remix/app/entry.server.tsx
  templates/vite-cloudflare/app/entry.server.tsx
  templates/vite-express/app/entry.server.tsx
  templates/vite/app/entry.server.tsx
Labels: CLA Signed

#8910 Enhance the LayoutComponent type
  .changeset/loud-games-reply.md
  packages/remix-react/routeModules.ts
  packages/remix-react/routes.tsx
Labels: CLA Signed, feat:typescript

#8920 docs: docs/start/tutorial.md supplementary file reference information
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed, docs

#8929 Ensure remix react re-exports everything from react-router-dom
  .changeset/small-berries-rush.md
  packages/remix-react/__tests__/exports-test.tsx
  packages/remix-react/index.tsx
Labels: CLA Signed, renderer:react

#8916 Read Vite config in `reveal`/`routes` commands
  .changeset/curly-apples-exercise.md
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/cli/run.ts
  packages/remix-dev/config/format.ts
  packages/remix-dev/vite/build.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8936 Bump router
  .changeset/cyan-seahorses-lie.md
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed

#8785 template(remix): Add @typescript-eslint/parser to devDependencies
  contributors.yml
  templates/arc/package.json
  templates/cloudflare-pages/package.json
  templates/cloudflare-workers/package.json
  templates/express/package.json
  templates/fly/package.json
  templates/remix/package.json
  templates/spa/package.json
  templates/vite-cloudflare/package.json
  templates/vite-express/package.json
  templates/vite/package.json
Labels: CLA Signed, package:eslint-config

#8939 Add Vite commands to CLI `--help`
  .changeset/grumpy-beers-sneeze.md
  packages/remix-dev/__tests__/cli-test.ts
  packages/remix-dev/cli/run.ts
Labels: CLA Signed, package:dev, vite
