Repository remix-run/remix, pull requests merged in 2024-03, with the labels that each got.

#8950 Add `server.fs.allow` to Vite templates
  templates/spa/vite.config.ts
  templates/vite-cloudflare/vite.config.ts
  templates/vite-express/vite.config.ts
  templates/vite/vite.config.ts
Labels: CLA Signed, vite

#8952 Remove `ssr.noExternal` from SPA template
  templates/spa/vite.config.ts
Labels: CLA Signed, vite

#8948 Don't run Build/Test CI on PR's that only touch templates
  .github/workflows/test-pr-ubuntu.yml
Labels: CLA Signed, github_actions

#8956 Fix typo in quick start guide
  contributors.yml
  docs/start/quickstart.md
Labels: CLA Signed, docs

#8959 Fix typo in data flow docs
  contributors.yml
  docs/discussion/data-flow.md
Labels: CLA Signed, docs

#8965 Vite: Fix `build.sourcemap` config support
  .changeset/little-turtles-applaud.md
  packages/remix-dev/vite/build.ts
Labels: CLA Signed, vite

#8966 Vite: Fix `server.fs.allow` with default entry
  .changeset/tall-frogs-visit.md
  integration/helpers/vite.ts
  integration/vite-server-fs-allow-test.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev, vite

#8958 Add note to docs on layout useLoaderData restriction
  docs/file-conventions/root.md
Labels: CLA Signed, docs

#8957 Update docs regarding SPA Template ssr.noExternal setting
  docs/future/spa-mode.md
Labels: CLA Signed, docs

#8972 Remove `server.fs.allow` from Vite templates
  templates/spa/vite.config.ts
  templates/vite-cloudflare/vite.config.ts
  templates/vite-express/vite.config.ts
  templates/vite/vite.config.ts
Labels: CLA Signed, vite

#8984 Bump router
  .changeset/tasty-stingrays-work.md
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed

#8981 Fix "Form vs. fetcher" docs example code
  docs/discussion/form-vs-fetcher.md
Labels: CLA Signed

#8999 Add `pnpm-lock.yaml` to `.eslintignore`
  .eslintignore
Labels: CLA Signed

#9000 Pin Playwright to Node 20.5.1 to fix hanging tests
  .github/workflows/test-full.yml
Labels: CLA Signed

#9010 Bump router
  .changeset/chilly-planets-visit.md
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  yarn.lock
Labels: CLA Signed

#8997 Fix vite-ecosystem-ci integration
  integration/helpers/playwright-fixture.ts
  integration/helpers/vite.ts
  integration/vite-spa-mode-test.ts
  package.json
  packages/remix-dev/vite/babel.ts
Labels: CLA Signed, vite

#9015 Fix experimental releases for pnpm
  .github/workflows/release-experimental.yml
  scripts/publish.js
  scripts/utils.js
  scripts/version.js
Labels: CLA Signed

#9023 templates(deno): fix import maps docs link
  contributors.yml
  templates/deno/README.md
Labels: CLA Signed

#9017 Update docs to make Vite the default
  docs/discussion/introduction.md
  docs/discussion/server-vs-client.md
  docs/file-conventions/-client.md
  docs/file-conventions/-server.md
  docs/file-conventions/remix-config.md
  docs/file-conventions/routes.md
  docs/file-conventions/vite-config.md
  docs/future/vite.md
  docs/guides/data-loading.md
  docs/guides/gotchas.md
  docs/guides/local-tls.md
  docs/guides/manual-mode.md
  docs/guides/mdx.md
  docs/guides/migrating-react-router-app.md
  docs/guides/performance.md
  docs/guides/typescript.md
  docs/index.md
  docs/other-api/dev.md
  docs/start/future-flags.md
  docs/start/quickstart.md
  docs/start/tutorial.md
  docs/start/v2.md
  docs/styling/bundling.md
  docs/styling/css-imports.md
  docs/styling/css-modules.md
  docs/styling/css.md
  docs/styling/postcss.md
  docs/styling/tailwind.md
  docs/styling/vanilla-extract.md
  docs/tutorials/jokes.md
  templates/remix-tutorial/.eslintrc.cjs
  templates/remix-tutorial/.gitignore
  templates/remix-tutorial/README.md
  templates/remix-tutorial/app/root.tsx
  templates/remix-tutorial/package.json
  templates/remix-tutorial/remix.config.js
  templates/remix-tutorial/remix.env.d.ts
  templates/remix-tutorial/tsconfig.json
  templates/remix-tutorial/vite.config.ts
Labels: CLA Signed, docs, vite

#8773 Add future flag for Single Fetch
  .changeset/single-fetch.md
  integration/action-test.ts
  integration/catch-boundary-data-test.ts
  integration/catch-boundary-test.ts
  integration/client-data-test.ts
  integration/defer-loader-test.ts
  integration/defer-test.ts
  integration/error-boundary-test.ts
  integration/error-boundary-v2-test.ts
  integration/error-data-request-test.ts
  integration/error-sanitization-test.ts
  integration/fetcher-layout-test.ts
  integration/fetcher-test.ts
  integration/file-uploads-test.ts
  integration/form-data-test.ts
  integration/form-test.ts
  integration/helpers/create-fixture.ts
  integration/helpers/playwright-fixture.ts
  integration/loader-test.ts
  integration/navigation-state-test.ts
  integration/package.json
  integration/prefetch-test.ts
  integration/redirects-test.ts
  integration/revalidate-test.ts
  integration/set-cookie-revalidation-test.ts
  integration/single-fetch-test.ts
  integration/vite-spa-mode-test.ts
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
  packages/remix-dev/package.json
  packages/remix-react/__tests__/components-test.tsx
  packages/remix-react/__tests__/deferred-scripts-test.tsx
  packages/remix-react/__tests__/exports-test.tsx
  packages/remix-react/__tests__/scroll-restoration-test.tsx
  packages/remix-react/browser.tsx
  packages/remix-react/components.tsx
  packages/remix-react/data.ts
  packages/remix-react/entry.ts
  packages/remix-react/package.json
  packages/remix-react/routes.tsx
  packages/remix-react/server.tsx
  packages/remix-react/single-fetch.tsx
  packages/remix-server-runtime/__tests__/data-test.ts
  packages/remix-server-runtime/__tests__/handle-error-test.ts
  packages/remix-server-runtime/__tests__/handler-test.ts
  packages/remix-server-runtime/__tests__/server-test.ts
  packages/remix-server-runtime/build.ts
  packages/remix-server-runtime/data.ts
  packages/remix-server-runtime/entry.ts
  packages/remix-server-runtime/index.ts
  packages/remix-server-runtime/package.json
  packages/remix-server-runtime/routes.ts
  packages/remix-server-runtime/server.ts
  packages/remix-server-runtime/serverHandoff.ts
  packages/remix-testing/create-remix-stub.tsx
  packages/remix-testing/package.json
  pnpm-lock.yaml
  scripts/bump-router-versions.sh
Labels: CLA Signed, feat:routing, package:dev, renderer:react

#9036 docs(future/vite): fix grammar
  contributors.yml
  docs/future/vite.md
Labels: CLA Signed, docs, vite

#9045 docs(guides/migrating-react-router-app): update repo link
  contributors.yml
  docs/guides/migrating-react-router-app.md
Labels: CLA Signed, docs

#9075 Update nightly release to use pnpm since it checks out the dev branch
  .github/workflows/nightly.yml
Labels: CLA Signed

#9076 Migrate Vite build test to Vite test helpers
  integration/vite-build-test.ts
Labels: CLA Signed, vite

#9082 Move experimental releases to a manually triggered workflow
  .github/workflows/nightly.yml
  .github/workflows/release-experimental-dispatch.yml
  .github/workflows/release-experimental.yml
Labels: CLA Signed

#9063 Fix SPA mode when single fetch is enabled
  .changeset/single-fetch-spa-mode.md
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/config.ts
  packages/remix-dev/config/defaults/entry.server.node.tsx
  templates/spa/app/entry.client.tsx
  templates/spa/app/entry.server.tsx
Labels: CLA Signed, feat:routing, package:dev, feat:spa

#9084 fix: escape single fetch transfer
  .changeset/shy-buttons-buy.md
  packages/remix-react/single-fetch.tsx
Labels: CLA Signed

#9073 Update single fetch logic when clientLoaders are present
  .changeset/single-fetch-client-loaders.md
  integration/single-fetch-test.ts
  packages/remix-react/components.tsx
  packages/remix-react/single-fetch.tsx
Labels: CLA Signed, feat:routing

#9085 Scope single fetch headers calls to only loaded routes
  integration/single-fetch-test.ts
  packages/remix-server-runtime/headers.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed

#9083 Update docs for new GH Actions Experimental Release workflow
  .github/workflows/nightly.yml
  .github/workflows/release-experimental.yml
  DEVELOPMENT.md
  package.json
  scripts/utils.js
  scripts/version.js
Labels: CLA Signed

#9088 Remove vite-tsconfig-paths from remix-javascript template
  templates/remix-javascript/vite.config.js
Labels: CLA Signed, vite

#9104 fix: handle net new redirects created by handleDataRequest
  .changeset/odd-frogs-attend.md
  packages/remix-server-runtime/__tests__/server-test.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed

#9094 Add "CSS Files" guide
  docs/guides/css-files.md
Labels: CLA Signed, docs, vite

#9106 feat: use undici as fetch polyfill
  jest/jest.config.shared.js
  package.json
  packages/remix-architect/__tests__/server-test.ts
  packages/remix-architect/server.ts
  packages/remix-express/__tests__/server-test.ts
  packages/remix-node/__tests__/fileUploadHandler-test.ts
  packages/remix-node/globals.ts
  packages/remix-node/package.json
  packages/remix-react/__tests__/setup.ts
  packages/remix-server-runtime/__tests__/formData-test.ts
  packages/remix-testing/jest.setup.js
  packages/remix-testing/package.json
  pnpm-lock.yaml
  scripts/bump-fetch-versions.sh
  scripts/deployment-test/_shared.mjs
  scripts/deployment-test/cf-pages.mjs
  scripts/deployment-test/cf-workers.mjs
Labels: CLA Signed

#9111 forgot to add a changeset
  .changeset/brave-cars-approve.md
Labels: CLA Signed

#9126 Remove old Vite template
  templates/vite/.eslintrc.cjs
  templates/vite/.gitignore
  templates/vite/README.md
  templates/vite/app/entry.client.tsx
  templates/vite/app/entry.server.tsx
  templates/vite/app/root.tsx
  templates/vite/app/routes/_index.tsx
  templates/vite/package.json
  templates/vite/public/favicon.ico
  templates/vite/tsconfig.json
  templates/vite/vite.config.ts
Labels: CLA Signed, vite, template:vite

#9095 chore: fix eslint ignore patterns for vite
  templates/vite-cloudflare/.eslintrc.cjs
  templates/vite-express/.eslintrc.cjs
  templates/vite/.eslintrc.cjs
Labels: CLA Signed

#9118 Update Migration Instructions for Cloudflare Pages
  docs/future/vite.md
Labels: CLA Signed, docs, vite

#9133 Temporarily reinstate Vite template
  templates/vite/.eslintrc.cjs
  templates/vite/.gitignore
  templates/vite/README.md
  templates/vite/app/entry.client.tsx
  templates/vite/app/entry.server.tsx
  templates/vite/app/root.tsx
  templates/vite/app/routes/_index.tsx
  templates/vite/package.json
  templates/vite/public/favicon.ico
  templates/vite/tsconfig.json
  templates/vite/vite.config.ts
Labels: CLA Signed, vite, template:vite

#9132 Fix handleDataRequest redirects in single fetch
  integration/single-fetch-test.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed

#8970 Fix remix-routes not transforming source maps
  .changeset/spicy-ghosts-watch.md
  contributors.yml
  packages/remix-dev/vite/plugin.ts
  packages/remix-dev/vite/remove-exports-test.ts
  packages/remix-dev/vite/remove-exports.ts
Labels: CLA Signed, package:dev, vite

#9026 Allow `.` in create-remix `--template` repo name
  .changeset/curvy-seahorses-jog.md
  contributors.yml
  packages/create-remix/copy-template.ts
Labels: CLA Signed, package:create-remix

#9145 chore: use proxy for response stub cache to simplify call site use
  packages/remix-server-runtime/server.ts
Labels: CLA Signed, feat:routing

#9142 Update single fetch headers approach to use response stub API
  .changeset/response-stub.md
  integration/error-boundary-test.ts
  integration/package.json
  integration/revalidate-test.ts
  integration/single-fetch-test.ts
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-react/single-fetch.tsx
  packages/remix-server-runtime/data.ts
  packages/remix-server-runtime/headers.ts
  packages/remix-server-runtime/package.json
  packages/remix-server-runtime/routeModules.ts
  packages/remix-server-runtime/routes.ts
  packages/remix-server-runtime/server.ts
  packages/remix-testing/package.json
  pnpm-lock.yaml
  scripts/bump-router-versions.sh
Labels: CLA Signed, feat:routing

#9093 Docs for single fetch
  docs/file-conventions/remix-config.md
  docs/guides/single-fetch.md
Labels: CLA Signed, docs, feat:routing

#9147 Bump router
  integration/package.json
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#9148 Move single fetch server code into standalone file
  packages/remix-server-runtime/index.ts
  packages/remix-server-runtime/server.ts
  packages/remix-server-runtime/single-fetch.ts
Labels: CLA Signed

#9152 Remove old Vite template
  templates/vite/.eslintrc.cjs
  templates/vite/.gitignore
  templates/vite/README.md
  templates/vite/app/entry.client.tsx
  templates/vite/app/entry.server.tsx
  templates/vite/app/root.tsx
  templates/vite/app/routes/_index.tsx
  templates/vite/package.json
  templates/vite/public/favicon.ico
  templates/vite/tsconfig.json
  templates/vite/vite.config.ts
Labels: CLA Signed, vite, template:vite

#9162 Remove text/x-turbo check from client side for use with SSG scenarios
  .changeset/honest-geese-chew.md
  integration/error-boundary-v2-test.ts
  packages/remix-react/single-fetch.tsx
Labels: CLA Signed

#9157 Simplify implementation
  .changeset/popular-adults-remain.md
  integration/package.json
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-server-runtime/single-fetch.ts
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed, feat:routing
