Repository remix-run/remix, pull requests merged in 2024-09, with the labels that each got.

#9936 docs: replace 'clientside' with 'client side'
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed, docs

#9938 Update/fix Single Fetch revalidation behavior
  .changeset/flat-wasps-heal.md
  docs/guides/single-fetch.md
  integration/error-boundary-v2-test.ts
  integration/package.json
  integration/single-fetch-test.ts
  packages/remix-dev/package.json
  packages/remix-react/browser.tsx
  packages/remix-react/package.json
  packages/remix-react/single-fetch.tsx
  packages/remix-server-runtime/data.ts
  packages/remix-server-runtime/package.json
  packages/remix-server-runtime/single-fetch.ts
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed, feat:routing, renderer:react, feat:single-fetch

#9940 [docs] fix layout in nested-layouts-without-nested-urls section
  contributors.yml
  docs/file-conventions/routes.md
Labels: CLA Signed, docs

#9941 Fix issue with 304 response sin single fetch
  .changeset/bright-rabbits-attend.md
  integration/helpers/create-fixture.ts
  integration/single-fetch-test.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed, feat:routing, package:server-runtime, feat:single-fetch

#9944 RELEASE: fix json and defer when using single fetch types
  .changeset/moody-cups-give.md
  .changeset/neat-mayflies-design.md
  packages/remix-server-runtime/single-fetch.ts
Labels: CLA Signed

#9945 cleanup tests
  .changeset/five-monkeys-sort.md
  docs/guides/single-fetch.md
  integration/single-fetch-test.ts
Labels: CLA Signed

#9948 RELEASE: backcompat for generic cast in single-fetch types
  .changeset/gorgeous-toys-flash.md
  packages/remix-server-runtime/single-fetch.ts
Labels: CLA Signed, feat:typescript, feat:single-fetch

#9954 Fix HDR for single fetch
  .changeset/rude-cows-brake.md
  integration/vite-hmr-hdr-test.ts
  packages/remix-dev/vite/static/refresh-utils.cjs
  packages/remix-react/browser.tsx
  packages/remix-react/single-fetch.tsx
Labels: CLA Signed

#9955 Support 304 responses on document requests
  .changeset/slow-socks-juggle.md
  integration/single-fetch-test.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed, package:server-runtime

#9957 RELEASE: fix single fetch generic as cast (again)
  .changeset/light-moons-reply.md
  packages/remix-server-runtime/serialize.ts
Labels: CLA Signed

#9958 Align single fetch prefetching with new revalidation logic
  .changeset/giant-olives-sort.md
  integration/single-fetch-test.ts
  packages/remix-react/components.tsx
  packages/remix-react/single-fetch.tsx
Labels: CLA Signed

#9963 Bump router
  .changeset/khaki-plums-care.md
  integration/package.json
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#9947 docs(file-conventions/root): fix wording
  contributors.yml
  docs/file-conventions/root.md
Labels: CLA Signed, docs

#9952 docs(route/loader): fix example
  docs/route/loader.md
Labels: CLA Signed, docs

#9974 Update Templates with new Design
  templates/cloudflare-workers/app/root.tsx
  templates/cloudflare-workers/app/routes/_index.tsx
  templates/cloudflare-workers/app/tailwind.css
  templates/cloudflare-workers/public/logo-dark.png
  templates/cloudflare-workers/public/logo-light.png
  templates/cloudflare-workers/tailwind.config.ts
  templates/cloudflare/app/root.tsx
  templates/cloudflare/app/routes/_index.tsx
  templates/cloudflare/app/tailwind.css
  templates/cloudflare/public/logo-dark.png
  templates/cloudflare/public/logo-light.png
  templates/cloudflare/tailwind.config.ts
  templates/express/app/root.tsx
  templates/express/app/routes/_index.tsx
  templates/express/app/tailwind.css
  templates/express/public/logo-dark.png
  templates/express/public/logo-light.png
  templates/express/tailwind.config.ts
  templates/remix-javascript/app/root.jsx
  templates/remix-javascript/app/routes/_index.jsx
  templates/remix-javascript/app/tailwind.css
  templates/remix-javascript/public/logo-dark.png
  templates/remix-javascript/public/logo-light.png
  templates/remix-javascript/tailwind.config.js
  templates/remix/app/root.tsx
  templates/remix/app/routes/_index.tsx
  templates/remix/app/tailwind.css
  templates/remix/public/logo-dark.png
  templates/remix/public/logo-light.png
  templates/remix/tailwind.config.ts
  templates/spa/app/root.tsx
  templates/spa/app/routes/_index.tsx
  templates/spa/app/tailwind.css
  templates/spa/public/logo-dark.png
  templates/spa/public/logo-light.png
  templates/spa/tailwind.config.ts
Labels: CLA Signed, template:remix

#9976 Proxy request.signal through in vite dev
  .changeset/hungry-experts-suffer.md
  packages/remix-dev/vite/cloudflare-proxy-plugin.ts
  packages/remix-dev/vite/node-adapter.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev

#9910 Exclude `?inline` and `?raw` from critical styles in dev
  .changeset/unlucky-pigs-tap.md
  contributors.yml
  packages/remix-dev/__tests__/styles-test.ts
  packages/remix-dev/vite/styles.ts
Labels: CLA Signed, package:dev, package:css-bundle, vite

#9993 docs(guides/single-fetch): update references
  docs/guides/single-fetch.md
Labels: CLA Signed, docs

#9999 fix single-fetch types for functions that return unions
  .changeset/many-donuts-tie.md
  packages/remix-server-runtime/single-fetch.ts
Labels: CLA Signed

#10017 Fix Cloudflare template imports
  contributors.yml
  templates/cloudflare/app/root.tsx
  templates/cloudflare/app/routes/_index.tsx
Labels: CLA Signed

#10019 Fix docs for environment variables in Cloudflare
  contributors.yml
  docs/guides/envvars.md
Labels: CLA Signed

#10015 docs(start/tutorial): replace `placekitten` service with `placecats`
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed, docs

#10031 docs(guides/single-fetch): fix type override
  contributors.yml
  docs/guides/single-fetch.md
Labels: CLA Signed, docs

#10029 docs(guides/resource-routes): fix example
  contributors.yml
  docs/guides/resource-routes.md
Labels: CLA Signed, docs

#10040 docs(start/tutorial): sort arguments
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed, docs
