Repository remix-run/remix, pull requests merged in 2024-06, with the labels that each got.

#9539 docs(discussion/pending-ui): minor improvements
  docs/discussion/pending-ui.md
Labels: CLA Signed, docs

#9540 chore: fix `lint:deno` script
  integration/helpers/deno-template/app/root.tsx
  integration/helpers/deno-template/app/routes/_index.tsx
Labels: CLA Signed

#9533 docs(styling/css): fix syntax
  contributors.yml
  docs/styling/css.md
Labels: CLA Signed, docs

#9550 chore: fix `lint:deno` script
  integration/helpers/deno-template/app/root.tsx
  integration/helpers/deno-template/app/routes/_index.tsx
Labels: CLA Signed

#9558 docs: add Vite section to Future Flags docs
  docs/guides/vite.md
  docs/start/future-flags.md
Labels: CLA Signed, docs

#9577 Add docs on abortDelay
  docs/guides/streaming.md
Labels: CLA Signed, docs

#9568 Update Template READMEs and links
  templates/cloudflare-workers/README.md
  templates/cloudflare-workers/app/routes/_index.tsx
  templates/cloudflare/README.md
  templates/cloudflare/app/routes/_index.tsx
  templates/express/README.md
  templates/express/app/routes/_index.tsx
  templates/remix-javascript/README.md
  templates/remix-javascript/app/routes/_index.jsx
  templates/remix/README.md
  templates/remix/app/routes/_index.tsx
  templates/spa/README.md
Labels: CLA Signed, template:express, template:cloudflare-pages, template:cloudflare-workers, template:remix-javascript, template:spa, template:vite-express

#9581 Add note on layout error boundary usage
  docs/file-conventions/root.md
Labels: CLA Signed

#9534 docs(guides/single-fetch): add some recommended steps
  contributors.yml
  docs/guides/single-fetch.md
Labels: CLA Signed, docs

#9582 docs: add note about fetcher.load revalidation
  docs/hooks/use-fetcher.md
Labels: CLA Signed

#9585 Add Tailwind CSS to the templates
  templates/cloudflare-workers/README.md
  templates/cloudflare-workers/app/root.tsx
  templates/cloudflare-workers/app/routes/_index.tsx
  templates/cloudflare-workers/app/tailwind.css
  templates/cloudflare-workers/package.json
  templates/cloudflare-workers/postcss.config.js
  templates/cloudflare-workers/tailwind.config.ts
  templates/cloudflare/README.md
  templates/cloudflare/app/root.tsx
  templates/cloudflare/app/routes/_index.tsx
  templates/cloudflare/app/tailwind.css
  templates/cloudflare/package.json
  templates/cloudflare/postcss.config.js
  templates/cloudflare/tailwind.config.ts
  templates/express/README.md
  templates/express/app/root.tsx
  templates/express/app/routes/_index.tsx
  templates/express/app/tailwind.css
  templates/express/package.json
  templates/express/postcss.config.js
  templates/express/tailwind.config.ts
  templates/remix-javascript/README.md
  templates/remix-javascript/app/root.jsx
  templates/remix-javascript/app/routes/_index.jsx
  templates/remix-javascript/app/tailwind.css
  templates/remix-javascript/package.json
  templates/remix-javascript/postcss.config.js
  templates/remix-javascript/tailwind.config.js
  templates/remix/README.md
  templates/remix/app/root.tsx
  templates/remix/app/routes/_index.tsx
  templates/remix/app/tailwind.css
  templates/remix/package.json
  templates/remix/postcss.config.js
  templates/remix/tailwind.config.ts
  templates/spa/README.md
  templates/spa/app/root.tsx
  templates/spa/app/routes/_index.tsx
  templates/spa/app/tailwind.css
  templates/spa/env.d.ts
  templates/spa/package.json
  templates/spa/postcss.config.js
  templates/spa/tailwind.config.ts
  templates/spa/tsconfig.json
Labels: CLA Signed, template:remix

#9501 Properly handle thrown 4xx/5xx response stubs in single fetch
  .changeset/forty-gifts-boil.md
  integration/single-fetch-test.ts
  packages/remix-server-runtime/server.ts
  packages/remix-server-runtime/single-fetch.ts
Labels: CLA Signed, package:server-runtime, feat:single-fetch

#9584 Fix initial hydration matching when using a basename
  .changeset/shiny-bags-breathe.md
  integration/vite-basename-test.ts
  packages/remix-react/browser.tsx
Labels: CLA Signed, feat:routing, hydration

#9562 Update turbo-stream to latest
  .changeset/strange-chefs-think.md
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  pnpm-lock.yaml
Labels: CLA Signed, package:server-runtime, renderer:react, feat:single-fetch

#9564 Update single fetch redirects to use a 202 status code on data requests
  .changeset/neat-ghosts-thank.md
  integration/action-test.ts
  integration/single-fetch-test.ts
  packages/remix-server-runtime/server.ts
  packages/remix-server-runtime/single-fetch.ts
Labels: CLA Signed, package:server-runtime, feat:single-fetch

#9580 Dont prefetch server loader when client loader exists
  .changeset/heavy-ways-rule.md
  integration/client-data-test.ts
  packages/remix-react/links.ts
Labels: CLA Signed, feat:routing

#9566 Avoid hydration loops when layout error renders also throw
  .changeset/mighty-experts-agree.md
  integration/root-route-test.ts
  packages/remix-react/errorBoundaries.tsx
Labels: CLA Signed, renderer:react, feat:deferred

#9600 Fog of War
  .changeset/two-jars-help.md
  docs/components/link.md
  docs/guides/fog-of-war.md
  docs/start/future-flags.md
  integration/error-data-request-test.ts
  integration/fog-of-war-test.ts
  integration/form-test.ts
  integration/package.json
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
  packages/remix-dev/package.json
  packages/remix-react/browser.tsx
  packages/remix-react/components.tsx
  packages/remix-react/entry.ts
  packages/remix-react/fog-of-war.ts
  packages/remix-react/package.json
  packages/remix-react/routes.tsx
  packages/remix-server-runtime/entry.ts
  packages/remix-server-runtime/package.json
  packages/remix-server-runtime/server.ts
  packages/remix-testing/create-remix-stub.tsx
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed, feat:routing, package:server-runtime, renderer:react

#9615 Bump to router prerelease
  integration/package.json
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#9619 Fix fog of war issue routing back to index from deep route SSRs
  .changeset/eleven-snakes-end.md
  integration/fog-of-war-test.ts
  packages/remix-react/components.tsx
  packages/remix-react/fog-of-war.ts
Labels: CLA Signed

#9624 Handle pathless/index route children for initially rendered ancestors in Fog of War
  .changeset/eleven-snakes-end.md
  .changeset/popular-numbers-hang.md
  integration/fog-of-war-test.ts
  packages/remix-react/components.tsx
  packages/remix-react/fog-of-war.ts
Labels: CLA Signed, feat:routing, package:server-runtime

#9626 Remove AbortController and respect URL length limits
  .changeset/tall-news-trade.md
  integration/fog-of-war-test.ts
  packages/remix-react/fog-of-war.ts
  packages/remix-server-runtime/server.ts
Labels: CLA Signed, feat:routing

#9648 bump router
  .changeset/shiny-squids-wave.md
  integration/package.json
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#9665 Support Fog of War form discovery and fix link prefetching
  .changeset/shiny-dolphins-mate.md
  integration/fog-of-war-test.ts
  integration/package.json
  integration/prefetch-test.ts
  packages/remix-dev/package.json
  packages/remix-react/__tests__/exports-test.tsx
  packages/remix-react/components.tsx
  packages/remix-react/fog-of-war.ts
  packages/remix-react/index.tsx
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed
