Repository remix-run/remix, pull requests merged in 2024-11, with the labels that each got.

#10164 docs(guides/breadcrumbs): fix typo
  contributors.yml
  docs/guides/breadcrumbs.md
Labels: CLA Signed

#10187 docs(start/tutorial): fix typo
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed, docs

#10183 docs(hooks/use-view-transition-state): fix typo
  contributors.yml
  docs/hooks/use-view-transition-state.md
Labels: CLA Signed, docs

#10196 fix(remix-dev): mark `routes.ts` support unstable
  .changeset/popular-humans-attend.md
  docs/start/future-flags.md
  integration/helpers/vite.ts
  integration/vite-fs-routes-test.ts
  integration/vite-route-config-test.ts
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev

#10182 templates: fix `fontFamily` in `tailwind.config.ts`
  contributors.yml
  templates/cloudflare-workers/tailwind.config.ts
  templates/cloudflare/tailwind.config.ts
  templates/express/tailwind.config.ts
  templates/remix-javascript/tailwind.config.js
  templates/remix/tailwind.config.ts
  templates/spa/tailwind.config.ts
Labels: CLA Signed, template:cloudflare-workers, template:remix, template:remix-javascript, template:spa, template:vite-express, template:vite-cloudflare

#10236 Make routes the default export in `routes.ts`
  .changeset/sour-years-cover.md
  docs/start/future-flags.md
  integration/vite-fs-routes-test.ts
  integration/vite-route-config-test.ts
  packages/remix-dev/config.ts
  packages/remix-dev/config/routes.ts
Labels: CLA Signed

#10242 Stabilize `future.v3_routeConfig`
  .changeset/sour-years-cover.md
  docs/start/future-flags.md
  integration/helpers/vite.ts
  integration/vite-fs-routes-test.ts
  integration/vite-route-config-test.ts
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev

#10245 docs: update future flags guide
  docs/start/future-flags.md
Labels: CLA Signed

#10272 docs(start/future-flags): fix `flatRoutes` example
  contributors.yml
  docs/start/future-flags.md
Labels: CLA Signed, docs

#10275 docs: fix release notes date
  CHANGELOG.md
  contributors.yml
Labels: CLA Signed, docs
