Repository remix-run/remix, pull requests merged in 2024-10, with the labels that each got.

#10046 Fix adapter logic for aborting requests
  .changeset/silly-gifts-wash.md
  packages/remix-dev/vite/node-adapter.ts
  packages/remix-express/server.ts
Labels: CLA Signed, package:dev, adapter:express

#10047 fix abort behavior for renderToReadableStream
  .changeset/short-maps-reflect.md
  packages/remix-dev/config/defaults/entry.server.cloudflare.tsx
  packages/remix-dev/config/defaults/entry.server.deno.tsx
  templates/classic-remix-compiler/cloudflare-pages/app/entry.server.tsx
  templates/classic-remix-compiler/cloudflare-workers/app/entry.server.tsx
  templates/classic-remix-compiler/deno/app/entry.server.tsx
  templates/cloudflare-workers/app/entry.server.tsx
  templates/cloudflare/app/entry.server.tsx
Labels: CLA Signed, runtime:cloudflare, runtime:deno

#10058 docs(other-api/create-remix): make sure to always use the latest version
  docs/other-api/create-remix.md
  packages/create-remix/CHANGELOG.md
Labels: CLA Signed, docs

#10063 Fix bug with clientLoader.hydrate when hydrating with bubbled errors
  .changeset/spotty-papayas-remember.md
  integration/client-data-test.ts
  packages/remix-react/routes.tsx
Labels: CLA Signed, feat:routing, hydration

#10072 Stabilize future flags
  .changeset/stabilize-future-flags.md
  docs/components/link.md
  docs/guides/lazy-route-discovery.md
  docs/guides/single-fetch.md
  docs/start/future-flags.md
  integration/action-test.ts
  integration/catch-boundary-data-test.ts
  integration/catch-boundary-test.ts
  integration/client-data-test.ts
  integration/defer-loader-test.ts
  integration/defer-test.ts
  integration/error-boundary-test.ts
  integration/error-boundary-v2-test.ts
  integration/error-data-request-test.ts
  integration/error-sanitization-test.ts
  integration/fetcher-layout-test.ts
  integration/fetcher-test.ts
  integration/file-uploads-test.ts
  integration/fog-of-war-test.ts
  integration/form-data-test.ts
  integration/form-test.ts
  integration/loader-test.ts
  integration/navigation-state-test.ts
  integration/prefetch-test.ts
  integration/redirects-test.ts
  integration/revalidate-test.ts
  integration/set-cookie-revalidation-test.ts
  integration/single-fetch-test.ts
  integration/vite-hmr-hdr-test.ts
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/cli/commands.ts
  packages/remix-dev/config.ts
  packages/remix-react/__tests__/deferred-scripts-test.tsx
  packages/remix-react/__tests__/scroll-restoration-test.tsx
  packages/remix-react/browser.tsx
  packages/remix-react/components.tsx
  packages/remix-react/entry.ts
  packages/remix-react/fog-of-war.ts
  packages/remix-react/server.tsx
  packages/remix-serve/cli.ts
  packages/remix-server-runtime/__tests__/data-test.ts
  packages/remix-server-runtime/entry.ts
  packages/remix-server-runtime/routes.ts
  packages/remix-server-runtime/serialize.ts
  packages/remix-server-runtime/server.ts
  packages/remix-testing/create-remix-stub.tsx
Labels: CLA Signed, package:dev, package:server-runtime, renderer:react

#10082 docs: update for stabilized flags
  docs/guides/lazy-route-discovery.md
  docs/guides/single-fetch.md
  docs/start/future-flags.md
Labels: CLA Signed, docs

#10086 Bump router
  .changeset/big-buckets-pretend.md
  integration/client-data-test.ts
  integration/package.json
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#10092 Stabilize the optimizeDeps future flag
  .changeset/hot-dingos-attend.md
  docs/guides/dependency-optimization.md
  docs/start/future-flags.md
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed, package:dev

#10095 Bump router stable
  .changeset/fair-lions-impress.md
  integration/package.json
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#10099 Revert optimize deps
  .changeset/slow-guests-wait.md
  docs/guides/dependency-optimization.md
  docs/start/future-flags.md
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
  packages/remix-dev/vite/plugin.ts
Labels: CLA Signed

#10103 docs(file-conventions/entry.server): fix grammar
  contributors.yml
  docs/file-conventions/entry.server.md
Labels: CLA Signed, docs

#10102 docs(guides/single-fetch): use stabilized flag
  contributors.yml
  docs/guides/single-fetch.md
Labels: CLA Signed, docs, feat:single-fetch

#10094 [Grammar] Add missing period after sentence.
  README.md
  contributors.yml
Labels: CLA Signed

#10118 routes.ts: Move API to `route-config` package
  integration/helpers/vite-template/package.json
  integration/vite-route-config-test.ts
  jest.config.js
  packages/remix-dev/__tests__/validateRouteConfig-test.ts
  packages/remix-dev/config.ts
  packages/remix-dev/config/routes.ts
  packages/remix-dev/index.ts
  packages/remix-dev/rollup.config.js
  packages/remix-dev/routes.ts
  packages/remix-route-config/README.md
  packages/remix-route-config/__tests__/route-config-test.ts
  packages/remix-route-config/index.ts
  packages/remix-route-config/jest.config.js
  packages/remix-route-config/package.json
  packages/remix-route-config/rollup.config.js
  packages/remix-route-config/routes.ts
  packages/remix-route-config/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/publish.js
Labels: CLA Signed, package:dev

#10112 routes.ts: Add fs-routes package
  integration/helpers/node-template/package.json
  integration/vite-fs-routes-test.ts
  jest.config.js
  packages/remix-fs-routes/README.md
  packages/remix-fs-routes/__tests__/flatRoutes-test.ts
  packages/remix-fs-routes/__tests__/routeManifestToRouteConfig-test.ts
  packages/remix-fs-routes/flatRoutes.ts
  packages/remix-fs-routes/index.ts
  packages/remix-fs-routes/jest.config.js
  packages/remix-fs-routes/manifest.ts
  packages/remix-fs-routes/normalizeSlashes.ts
  packages/remix-fs-routes/package.json
  packages/remix-fs-routes/rollup.config.js
  packages/remix-fs-routes/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/publish.js
Labels: CLA Signed

#10125 Enable all stable future flags in templates
  templates/cloudflare-workers/app/root.tsx
  templates/cloudflare-workers/app/routes/_index.tsx
  templates/cloudflare-workers/vite.config.ts
  templates/cloudflare/vite.config.ts
  templates/express/vite.config.ts
  templates/remix-javascript/vite.config.js
  templates/remix/vite.config.ts
  templates/spa/vite.config.ts
Labels: CLA Signed, template:cloudflare-pages, template:cloudflare-workers, template:remix, template:remix-javascript, template:spa, template:vite-express, template:vite-cloudflare

#10129 routes.ts: Dedupe flat routes implementation
  jest.config.js
  packages/remix-dev/index.ts
  packages/remix-fs-routes/__tests__/flatRoutes-test.ts
  packages/remix-fs-routes/flatRoutes.ts
  packages/remix-fs-routes/index.ts
  packages/remix-fs-routes/jest.config.js
  packages/remix-fs-routes/package.json
  pnpm-lock.yaml
Labels: CLA Signed, package:dev

#10130 docs: update broken RR links
  CHANGELOG.md
  docs/file-conventions/vite-config.md
  docs/guides/migrating-react-router-app.md
  docs/guides/spa-mode.md
  docs/hooks/use-resolved-path.md
  docs/other-api/testing.md
  docs/utils/is-route-error-response.md
  packages/remix-cloudflare/CHANGELOG.md
  packages/remix-deno/CHANGELOG.md
  packages/remix-dev/CHANGELOG.md
  packages/remix-express/CHANGELOG.md
  packages/remix-node/CHANGELOG.md
  packages/remix-react/CHANGELOG.md
  packages/remix-serve/CHANGELOG.md
  packages/remix-server-runtime/CHANGELOG.md
  packages/remix-testing/CHANGELOG.md
Labels: CLA Signed, docs

#10134 routes.ts Add docs to future flags guide
  docs/start/future-flags.md
Labels: CLA Signed, docs

#10126 Add deprecations for future flags
  .changeset/rude-clocks-prove.md
  integration/vite-build-test.ts
  integration/vite-css-test.ts
  integration/vite-presets-test.ts
  packages/remix-dev/config.ts
  packages/remix-server-runtime/responses.ts
Labels: CLA Signed, package:dev

#10136 docs(file-conventions): fix grammar
  contributors.yml
  docs/file-conventions/routes.md
Labels: CLA Signed

#10139 Fix defaultShouldRevalidate when using single fetch
  .changeset/twenty-waves-cheer.md
  integration/single-fetch-test.ts
  packages/remix-react/components.tsx
  packages/remix-react/links.ts
  packages/remix-react/routes.tsx
Labels: CLA Signed, feat:routing, feat:single-fetch

#10145 Update single fetch deprecation notice to also include info about null
  .changeset/grumpy-llamas-leave.md
  integration/single-fetch-test.ts
  packages/remix-server-runtime/deprecations.ts
Labels: CLA Signed, package:server-runtime, feat:single-fetch

#10171 routes.ts: Add `v3_routeConfig` future flag
  docs/start/future-flags.md
  integration/helpers/vite.ts
  integration/vite-fs-routes-test.ts
  integration/vite-route-config-test.ts
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/config.ts
Labels: CLA Signed, package:dev

#10107 Add `routes.ts` support behind future flag
  .changeset/popular-humans-attend.md
  docs/start/future-flags.md
  integration/helpers/node-template/package.json
  integration/helpers/vite-template/package.json
  integration/helpers/vite.ts
  integration/vite-fs-routes-test.ts
  integration/vite-route-config-test.ts
  jest.config.js
  packages/remix-dev/__tests__/readConfig-test.ts
  packages/remix-dev/__tests__/routeManifestToRouteConfig-test.ts
  packages/remix-dev/__tests__/validateRouteConfig-test.ts
  packages/remix-dev/config.ts
  packages/remix-dev/config/flat-routes.ts
  packages/remix-dev/config/routes.ts
  packages/remix-dev/index.ts
  packages/remix-dev/package.json
  packages/remix-dev/vite/build.ts
  packages/remix-dev/vite/plugin.ts
  packages/remix-dev/vite/vite-node.ts
  packages/remix-fs-routes/README.md
  packages/remix-fs-routes/index.ts
  packages/remix-fs-routes/package.json
  packages/remix-fs-routes/rollup.config.js
  packages/remix-fs-routes/tsconfig.json
  packages/remix-route-config/README.md
  packages/remix-route-config/__tests__/route-config-test.ts
  packages/remix-route-config/index.ts
  packages/remix-route-config/jest.config.js
  packages/remix-route-config/package.json
  packages/remix-route-config/rollup.config.js
  packages/remix-route-config/routes.ts
  packages/remix-route-config/tsconfig.json
  packages/remix-routes-option-adapter/README.md
  packages/remix-routes-option-adapter/index.ts
  packages/remix-routes-option-adapter/package.json
  packages/remix-routes-option-adapter/rollup.config.js
  packages/remix-routes-option-adapter/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/publish.js
Labels: CLA Signed, package:dev

#10175 Bump router
  .changeset/twenty-nails-occur.md
  integration/action-test.ts
  integration/client-data-test.ts
  integration/defer-test.ts
  integration/package.json
  integration/prefetch-test.ts
  integration/resource-routes-test.ts
  integration/vite-spa-mode-test.ts
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#10034 templates(cloudflare-workers): use static assets
  templates/cloudflare-workers/env.d.ts
  templates/cloudflare-workers/load-context.ts
  templates/cloudflare-workers/package.json
  templates/cloudflare-workers/server.ts
  templates/cloudflare-workers/vite.config.ts
  templates/cloudflare-workers/wrangler.toml
Labels: CLA Signed, template:cloudflare-workers
