Repository remix-run/remix, pull requests merged in 2025-05, with the labels that each got.

#10583 docs(tutorial): remove `json` references
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed, docs

#9973 chore: upgrade turbo-stream to 2.4.1
  .changeset/upgrade-turbo-stream.md
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  pnpm-lock.yaml
Labels: CLA Signed, feat:routing, package:server-runtime, renderer:react, feat:single-fetch

#9992 docs(hooks/use-revalidator): update code example
  docs/hooks/use-revalidator.md
Labels: CLA Signed, needs-response, docs

#9667 docs(start/quickstart): add future Vite compatibility
  contributors.yml
  docs/start/quickstart.md
Labels: CLA Signed, docs, vite

#9561 docs(start/tutorial): remove unnecessary `useEffect`
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed, docs

#4571 docs(guides/mdx): mention including `highlight.js` css file
  contributors.yml
  docs/guides/mdx.md
Labels: CLA Signed, docs, feat:mdx

#7247 docs(utils/sessions): improve docs
  contributors.yml
  docs/utils/sessions.md
Labels: CLA Signed, docs, feat:sessions

#7765 docs(hooks/use-fetcher): add notice about index routes in `load` section
  contributors.yml
  docs/hooks/use-fetcher.md
Labels: CLA Signed, docs

#10611 fix(dev): update `vite-node`
  .changeset/shiny-suns-dance.md
  packages/remix-dev/package.json
  pnpm-lock.yaml
Labels: CLA Signed, package:dev, dependencies, vite

#10630 Add v2 maintenance mode warning
  README.md
Labels: CLA Signed

#10631 docs(README): fix typo
  README.md
  contributors.yml
Labels: CLA Signed

#10638 v2: update `tar-fs`
  .changeset/quiet-shirts-hear.md
  packages/create-remix/package.json
  packages/remix-dev/package.json
  pnpm-lock.yaml
Labels: CLA Signed, package:create-remix, package:dev, dependencies, v2
