Repository remix-run/remix, pull requests merged in 2025-01, with the labels that each got.

#10270 docs(discussion/introduction): small update
  contributors.yml
  docs/discussion/introduction.md
Labels: CLA Signed, docs

#10410 Properly handle empty responses in single fetch requests
  .changeset/giant-dolls-wonder.md
  .gitignore
  integration/package.json
  integration/single-fetch-test.ts
  package.json
  packages/remix-react/single-fetch.tsx
  packages/remix-server-runtime/server.ts
  pnpm-lock.yaml
Labels: CLA Signed, package:server-runtime, renderer:react

#10424 Avoid duplicated set-cookie headers
  .changeset/blue-mirrors-shout.md
  integration/headers-test.ts
  packages/remix-server-runtime/headers.ts
Labels: CLA Signed

#10184 docs(start/quickstart): fix typo
  contributors.yml
  docs/start/quickstart.md
Labels: CLA Signed, docs

#9950 docs(route/headers): fix typo
  docs/route/headers.md
Labels: CLA Signed, docs

#10442 Bump router
  integration/package.json
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#10447 Properly handle interrupted __manifest requests in lazy route discovery
  .changeset/dull-files-warn.md
  integration/fog-of-war-test.ts
  integration/package.json
  packages/remix-dev/package.json
  packages/remix-react/fog-of-war.ts
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#10451 bump router
  .changeset/wise-terms-sleep.md
  CHANGELOG.md
  integration/package.json
  packages/remix-dev/package.json
  packages/remix-react/package.json
  packages/remix-server-runtime/package.json
  packages/remix-testing/package.json
  pnpm-lock.yaml
Labels: CLA Signed
